[2020-04-21 12:41] Mark-64 opened #4786 "PR #4768 (RGB parade) crashes DT when entering darkroom under Windows 10"
Commit 737735db94617468392fd76d109741a1a530e034 from PR #4768 makes DT crash when opening any image in darkroom under Windows 10.
attached the backtrace log
[gdb.txt](https://github.com/darktable-org/darktable/files/4510010/gdb.txt)

[2020-04-21 12:45] chhil commented on #4773
https://github.com/darktable-org/darktable/issues/4786

@dtorop Could you take a look at it?

[2020-04-21 12:57] phweyland commented on #4773
Just built master under windows 10. It crashes also when I edit whatever image.
no backtrace.

[2020-04-21 13:04] Mark-64 commented on #4773
see #4786

[2020-04-21 13:07] chhil commented on #4773
@phweyland , if possible, could you just look at the instances of g_free and free in
https://github.com/darktable-org/darktable/commit/737735db94617468392fd76d109741a1a530e034

(histogram diff is large and will need to be clicked to see the free(..)

[2020-04-21 13:17] phweyland commented on #4776
I can reproduce the crawler issue when I change a metadata value in xmp. I look at it.
A doubt. I don't know any metadata "name". Do I miss anything ?

The re import of an image with xmp imports whatever the content of the xmp.

[2020-04-21 14:15] jenshannoschwalm commented on #4773
which free are you referencing? The diff has 2 correct g_free ...

[2020-04-21 14:19] phweyland commented on #4776
In fact I didn't get this detection for some reason. In that case, xmp info were not updated.
But once I get the detection and I tell dt to update from xmp, dt is updated with the new info.

So far I don't succeed in reproducing the issue you describe.

[2020-04-21 14:25] phweyland commented on #4776
By default settings your statement is perfectly valid to me, at least not to introduce unexpected behavior.

Now if the user doesn't want to (have to) manage some particular info and sets the ad hoc configuration, how this would be wrong ?

[2020-04-21 14:33] houz commented on #4776
Then the user shouldn't use darktable. We can discuss if some metadata shouldn't be read from image files, but the xmp files must always be read. No matter what the settings are.

[2020-04-21 14:35] houz commented on #4776
Sorry, I meant creator. You put a name into that field, so my brain was confused.

[2020-04-21 14:35] phweyland commented on #4776
Is there any reason for that ?

[2020-04-21 14:38] phweyland commented on #4776
Tested OK with creator also. I'm wondering what can make the difference.

[2020-04-21 14:45] houz commented on #2324
Storing the date/time in XMP was not done on purpose as it has serious implications. For example, it makes it impossible to safely apply a sidecar file to any other image to get its processing.

[2020-04-21 14:45] phweyland commented on #4776
Testing things I've noted an asymmetry between load sidecar file and write sidecar file.
The second one writes all info, history, metadata, tags, ... The first one only updates the history. @turbogit is that intentional ? Shouldn't it be symmetrical ?

[2020-04-21 14:53] houz commented on #4776
The XMP is the place where dt stores its data. If the user sets any metadata it has to be kept of course.

Are you trying with default config? That's why I started with a fresh configdir in my example.

[2020-04-21 15:05] phweyland commented on #4776
Yes, deleting everything in config , starting dt, import one image, set metadata, set the configuration flag for crawler, exit dt, modify xmp file, restart dt, on popup modify db, and check the metadata (need to hover the image to have the metadata updated on screen)

Nothing different compared to db here. I still don't see what will be the negative or wrong effect of ignoring some of them (as soo

[2020-04-21 17:54] GrahamByrnes commented on #4786
Ah, not just me... I was about to blame it on inkscape...

[2020-04-21 17:56] ralfbrown opened #4788 "Local laplacian performance issue with high thread counts"
**Describe the bug**

CPU code path for Local contrast using local laplacians gets increasingly slower beyond 24 threads.

**To Reproduce**

On a machine with at least 32 hardware threads, with an image that uses local constrast/laplacians:
1. run darktable -t 16 -d perf --disable-opencl
2. export the image
3. run darktable -t 32 -d perf --disable-opencl
4. export the image
5...n: run darktable wi

[2020-04-21 20:14] rawfiner commented on #4515
@Nilvus encountered the same problem, but I have a workaround (though not very easy to explain, let me know if that is not clear):
move the mouse out of dt's window so that no picture in the bottom list appears "hovered". Once no picture in the bottom list looks "hovered", the behavior is normal.

[2020-04-21 20:57] #4773 closed

[2020-04-21 21:11] TurboGit commented on #4776
I don't know. This was there before I came to dt, but it looks suspicious indeed. Maybe the commit log will enlighten us ? You are speaking of dt_exif_xmp_read() and dt_exif_xmp_write(), right ?

[2020-04-21 21:38] phweyland commented on #4776
Yes. "write sidecar files uses dt_exif_xmp_write(imgid, dtfilename) while "load sidecar files" uses     dt_exif_xmp_read(img, filename, history_only).

[2020-04-22 02:45] chhil commented on #4773
Built and installed darktable-3.1.0+1275~g3b45ba4f2-win64

Did not fix it for me, still crashes :(

[2020-04-22 04:35] chhil commented on #4773
Did a fresh clean build darktable-3.1.0+1281~g3d20b4720-win64

The problem does not exist anymore.

[2020-04-22 06:39] GLLM commented on #4780
Hi @elstoc
I find it counter intuitive (not trying to start a fight with AurelienPierre on intuitivity :-D) ... but let's say it's not counter-intruitive, i.e. expected and easy to understand !

Then I'd like to object that I'm really not sure how the user may understand his retouch history
![image](https://user-images.githubusercontent.com/3989573/79948571-642d8900-8474-11ea-9a4b-be192b9cec6d.png

[2020-04-22 07:37] elstoc commented on #4780
I don't disagree with you here, but it is _useful_, so I don't really want it to be removed.

Agree with this, though I'm not sure it's worth explicitly putting the image name in the description (mainly because the primary use case for this is different edits on duplicates of the same raw - which would both have the same name). Perhaps some simple visual indicator that it's not a snapshot of the c

[2020-04-22 07:39] TurboGit commented on #4783
The same issue happens in the dr if zooming. I suppose this is scale dependent. The area in the top-right is set on a specific scale in the module. This looks wrong to me, I suppose you want this healing to be do on main image. Also for such a large area with string light it does not seems like the heal tool is the best. Using the clone one gives better result. Here is my XMP,  it still needs some

[2020-04-22 07:56] #3154 closed

[2020-04-22 08:07] TurboGit opened #4791 "groups are going crazy"
**Describe the bug**

The group collapsing / expanding can go crazy

**To Reproduce**
1. Go to lighttable
2. Select a collection with 3 pictures
3. Select the 3 pictures and group them
4. Activate the grouped view (big G on top-right of lt)
5. Click on the G of the group leader (should be first pict num = group num) , all ok the image are
ungrouped
6. Click again on the G of the group leader (shou

[2020-04-22 08:08] TurboGit commented on #4791
@AlicVB : probably a side effect the lt rewrite.

[2020-04-22 08:15] spaceChRiS commented on #4780
Maybe together with a hover message that reveals the origin of the snapshot, e.g. path+filename+version string or version number, but skipping the first two if it is the same raw but different version?

[2020-04-22 08:32] elstoc commented on #4780
It would be good to have some sort of visual indication on the snapshot module gui as well. Perhaps an asterisk would be enough?

[2020-04-22 08:50] GLLM commented on #4780
I think
* the asterisk on the module
and
*more details (path/filename/version) as a tooltip when hovering over the snaphot would be a great balance !

cheers !

[2020-04-22 10:31] Nilvus commented on #4515
Not sure to understand how you can reject an image if no image is hovered that way?

[2020-04-22 10:55] MStraeten opened #4792 "OSX: port file patching gmic for 2.9.0"
the current https://github.com/darktable-org/darktable/blob/master/packaging/macosx/gmic-nogimp.patch doesn't match with gmic 2.9.0.

[2020-04-22 11:34] TurboGit commented on #4776
@phweyland : Yes, "load sidecar files" should read metadata, if it is not the case it is a clear bug to me.

[2020-04-22 12:23] rawfiner commented on #4515
I used culling with only one image shown at the same time, and used the shortcut 'R' for rejecting

[2020-04-22 12:50] ItaloCunhaBueno commented on #4783
Thank you for verifying. this is not the first time I report an "issue" that in the end was related to divergences in the preview scale and not a bug.
I would sugest to add an indicator of some sort in modules that have such behavior, possibly an icon along it's module name?

Thanks again.

[2020-04-22 16:41] phweyland commented on #4776
I've started to make the change, but, my mistake, this is not  "load sidecar files" but  "load sidecar file". The "s" makes the difference. This is not an xmp refresh. This is made to apply a given history to one or several images. Probably the user will not want to spray the metadata as well.
Sorry for the confusion.

[2020-04-22 17:57] phweyland commented on #4776
So how to refresh xmp on a specific image or folder ?
I've tried "refresh Exif" which only loads exif data, as it says, but ... overrides some xmp data (for example Exif.Photo.UserComment -> Xmp.dc.description) which are lost.

@houz Tobias, is the issue still alive ?

[2020-04-22 18:00] parafin commented on #4792
I've updated the patch. Thanx for the report.

[2020-04-22 18:00] #4792 closed

[2020-04-22 19:24] GrahamByrnes commented on #4786
Works :-)

[2020-04-22 19:36] #4786 closed

[2020-04-22 19:36] Mark-64 commented on #4786
fixed

[2020-04-22 19:44] Mark-64 opened #4794 "Super tiny font for lua print messages"
DT git master on Windows 10, HiDPI display.
Recently the GUI messages made with dt.print() in lua scripts are displayed with super small font.
Until few weeks ago it was normal.
Might be a problem of the new LT or CSS.

To reproduce:

- put in your luarc file `require "examples/hello_world"`
- launch Darktable
- see the tiny font

![Cattura25](https://user-images.githubusercontent.com/43290988/800

[2020-04-22 20:08] Rmano commented on #4769
I tried to install it in another PC, and I have the same problem. Somewhere, where this number is used, must have changed something...

[2020-04-22 20:29] #4784 closed

[2020-04-22 20:29] TurboGit commented on #4784
Should be fixed now.

[2020-04-22 20:33] #4662 closed

[2020-04-22 20:36] #4788 closed

[2020-04-22 20:36] junkyardsparkle commented on #4502
Reopening this, since it was just reported on the list by somebody else: https://www.mail-archive.com/darktable-user@lists.darktable.org/msg09108.html

[2020-04-22 20:44] phweyland commented on #4791
Trying the scenario I get something a bit different but still faulty at the end.

Until 4 I'm following and it's ok.
5, click on G of the leader expands the group but images are still grouped (doesn't ungroup)
6, click on G of the leader collapses the group (doesn't group the images)
7, => expands the group (doesn't ungroup)
8, click on the second image just changes the group leader for that image

[2020-04-22 20:47] Nilvus commented on #4794
Indeed, that the log message (so not only lua but loading image, working..., etc. messages). CSS part used for this is at the end of darktable.css file. I didn't see that font size was static, not a good thing.

As I have lodpi screen and not a so big screen and small fonts on the UI like you, and before posting a CSS fix (already done on my side and quite simple), could you just test what you hav

[2020-04-22 21:04] Mark-64 commented on #4794
It looks OK with the change, thanks!

[2020-04-22 21:09] TurboGit opened #4795 "reject X on selected thumbs not red"
**Describe the bug**
reject X on selected thumbs not red

**To Reproduce**
1. Go to lighttable
2. Click on X of one image
3. Let this thumbs selected and move over another thumb
4. See, the X is not read anymore

**Expected behavior**

The reject flag X should be red even when image selected.

**Screenshots**

**Platform (please complete the following information):**
 - Darktable Version: master

[2020-04-22 21:10] TurboGit commented on #4795
@Nilvus : Another one for you I fear. Nothing urgent.

[2020-04-22 21:30] Nilvus commented on #4794
Thanks for your feedback. I will soon post a PR but with other things to do like actual preferences rework and a new issue about red reject icon posted by @TurboGit

[2020-04-22 21:32] Nilvus commented on #4795
Indeed, just missing selected tag... Will see that when testing preferences rework until this week-end.

Could you assign this and the #4794 issue also to me as a reminder? I will post one PR for both these and preferences CSS improvement from @elstoc PR at the same time.

[2020-04-22 21:50] s5k6 commented on #4502
I see this too, on an up-to-date Arch Linux, and with

    $ darktable --version
    this is darktable 3.1.0+1283~g36b8d524a
    copyright (c) 2009-2020 johannes hanika
    darktable-dev@lists.darktable.org

    compile options:
      bit depth is 64 bit
      normal build
      SSE2 optimized codepath enabled
      OpenMP support enabled
      OpenCL support enabled
      Lua support enabled, API

[2020-04-23 01:31] chhil commented on #4751
Can't reproduce in darktable-3.1.0+1281~g3d20b4720-win64

[2020-04-23 01:31] #4751 closed

[2020-04-23 01:31] chhil commented on #4346
Can't reproduce in darktable-3.1.0+1281~g3d20b4720-win64

[2020-04-23 01:31] #4346 closed

[2020-04-23 01:34] #3954 closed

[2020-04-23 04:25] s7habo opened #4796 "New created instance of the module in "active modules" tab not shown because deactivated by default"
**Describe the bug**

If you reorganize the modules in the "active modules" tab and create a new instance there, new instance is not displayed because it is disabled by default.

You need to go to the tab where the new instance was created and enable it there to be displayed in the "active modules" tab.

**To Reproduce**

1. Go to "active modules" tab.
2. Select an active module and click on "new

[2020-04-23 05:28] ralfbrown opened #4797 "[crop&rotate] extraneous pixelpipe runs"
**Describe the bug**

Darktable will often run the pixelpipe when clicking in the on-screen crop box when crop&rotate is active.  It is the actual click that triggers the pixelpipe, not any change in the crop box (in fact, even a right click will trigger it).  I was alerted to this extraneous computation by my PC's fans spinning up.

**To Reproduce**

1. Run darktable -d perf --disable-opencl
2. S

[2020-04-23 07:03] TurboGit commented on #4795
@Nilvus : done.

[2020-04-23 07:49] hanosteyn commented on #3924
Hello
I am new to Darktable and have only recently looked at importing my files from the camera to the file structure on my harddrive.

It seems that I am also getting the same problem of the file importing, being correctly renamed and copied to the correct place, but then the file is corrupt and not usable.  This also seems to be a problem in tether mode.  The camera connects fine, but the downlo

[2020-04-23 10:34] Rmano commented on #4769
This is a clear candidate for a `git bisect` exercise. I'll see if I can put it on this weekend. Thanks @Nilvus for taking the time to confirm it...

[2020-04-23 11:28] AlicVB commented on #4502
@junkyardsparkle @s5k6 : right, so let's try to do remote debugging...
- Do you reproduce this every time ?
- What is your desktop and your gtk version ?
- Are one of you able to copy/paste some lines in the code and recompile ?

[2020-04-23 12:29] ItaloCunhaBueno opened #4798 "[Feature Request] Change mask mode in bulk"
It would be nice to be able to change multiple masks mode at once:

![image](https://user-images.githubusercontent.com/47254894/80099368-b6d67600-8544-11ea-9e8f-0c5f2256e0f3.png)

options only appears when one mask is selected:

![image](https://user-images.githubusercontent.com/47254894/80099445-db325280-8544-11ea-898f-994c4372a116.png)

[2020-04-23 15:46] Nilvus commented on #4795
@TurboGit: this is fix on my side. As I will not post my PR now (I will now work on preferences rework and I'm waiting also to a new to change on this part), here the tweak for that:

[code]

Just add the three selected lines above on same part beginning at line 1632 of darktable.css

Is it ok on your side with that change?

[2020-04-23 17:26] junkyardsparkle commented on #4502
In the short time I was using it, yes, including with a fresh config.

No desktop, just fluxbox window manager, gtk version given above.

Yes, I have some time I can spend on this today, but I'll need more caffeine first. ;)

[2020-04-23 17:44] TurboGit commented on #4795
Works for me... Do you want me to commit that ?

[2020-04-23 17:58] phweyland commented on #4791
My understanding is the following.
When one clicks on G to change the current leader, the new groupid is set on the images of the group but not on the thumbnails.
The second click on G of the same image (collapse) makes the other thumbnails of the group disappear.
The third click on G (expand) recreates the previously missing thumbnails with the right groupid but the leader thumbnail has still the

[2020-04-23 18:50] Nilvus commented on #4769
I've just tested 3.0.0 release and that was ok on this release. But I have same issue with 3.0.1, so the issue doesn't appear between 3.0.1 and 3.0.2 but between 3.0.0 and 3.0.1.

[2020-04-23 19:20] Nilvus commented on #4795
If you want, that will be faster. So if you are on that, could you also add the CSS fix I post on this issue: #4794 (a tiny fix at then of darktable.css file) and so close these two issues.

That would be faster, I think CSS preferences rework will be a bit longer, some things are discussed by now to improve some Gtk parts before tweaking CSS

[2020-04-23 19:23] c-h-r-i-s-t-i-a-n commented on #4469
Updated DT to 3.0.2 and the bug is still there.

[2020-04-23 20:22] AlicVB commented on #4502
Great, so can you
1. test that you can reproduce the bug.
2. add the line detailed above.
3. test to see if that solve the bug or not

The change to apply is "simply" adding the line :
`dt_control_set_mouse_over_id(thumb->imgid);` in `src/dtgtk/thumbnail.c` just before the line n°388
the content of the "if" will be :
[code]
Thank you very much

[2020-04-23 20:43] junkyardsparkle commented on #4502
Confirmed bug is still there in master-3.1.0+1295~g1329f2bb built today, tested with clean config... I'll build and test the patched version momentarily.

[2020-04-23 21:05] #4794 closed

[2020-04-23 21:05] #4795 closed

[2020-04-23 21:05] TurboGit commented on #4795
All committed now. Thanks.

[2020-04-23 21:05] junkyardsparkle commented on #4502
...aaaand confirmed that adding the line results in normal double-click behavior. Note that the line you describe as 388 is actually 369 in current master. :-)

[2020-04-23 21:20] AlicVB commented on #4502
oops, sorry for the line number. I've forgot that I was in my culling rewrite branch.
Anyway, thank you very much for the tests. I'll propose a PR soon.

[2020-04-24 06:52] #4502 closed

[2020-04-24 06:59] junkyardsparkle commented on #4502
@AlicVB Thanks for the fix, I'm enjoying the new lighttable experience now. :-)

[2020-04-24 08:19] s7habo commented on #4578
I experimented a bit and found out that the combination of **offset, power and slope** functions in the **color balance** module gives very good results:

Exposure only:

![Vig1](https://user-images.githubusercontent.com/38165484/80190553-c8874e80-8614-11ea-9b92-9603e559acf6.png)

Color balance with offset, power and slope:

![Vig2](https://user-images.githubusercontent.com/38165484/80190610-e05ed

[2020-04-24 08:21] Rmano commented on #4769
Yep. I had no time to check it, just scrolled rapidly through the commits... the only commit I found that touches something there is 1b28b36, but I do not think it has anything to do... I am swamped by on-line class and exams (prof side, but swamped I am ;-))  and never built DT, I hope to have time this weekend...

[2020-04-24 08:38] Nilvus commented on #4769
@Mark-64: what do you think of that. Is your work on HiDPI for Windows could cause that issue. It appears between 3.0.0 and 3.0.1. The commit pointed by @Rmano is your commit and on what I just checked on merged PR for 3.0.1, the most approching one about that (that not only font that have the issue) was your work about that. Maybe it's not the origin of the issue but I will not have many time for

[2020-04-24 16:22] Rmano commented on #4769
Hmmm. I do not think that was the culprit. I reverted that commit and the problem is still here.
If I find how to bisect I'll try again...

[2020-04-24 17:22] Rmano commented on #4769
@Nilvus  ok, I reduced it a lot but I am stuck. My `git-bisect` arrived here:

![image](https://user-images.githubusercontent.com/6414907/80239440-8b48ae00-8660-11ea-91b4-c65c89d8f0d9.png)

...but the problem now is that 18404309fa0356b4245a8d843bff6babefa2cf34 doen not compile, gives me an error:

[code]

Hmmm... let's see if I can exit from the hole here...

[2020-04-24 17:36] Rmano commented on #4769
Ok. So I did manage to jump over the bad commits (I think that's because something on rawspeed), and I have this:

[code]

Which I can't really see why should fail...

[2020-04-24 17:38] alexvanderberkel opened #4805 "Tone Equalizer does not utilize GPU"
**Describe the bug**
I just noticed that the Tone Equalizer module does not utilize the capability of the GPU if OpenCL is activated. Instead of using the GPU it is using the CPU and, thus, slowing down the pixelpipe. I am not sure if this by intention or a limitation of this module. Below you can see which module took the longest for rendering.

**To Reproduce**
run darktable with darktable -d pe

[2020-04-24 17:59] Rmano commented on #4769
This change:
[code]
fixes the problem, but I am not sure at all if it's the right one.

[2020-04-24 18:10] TurboGit commented on #4769
Using px was definitely wrong.

[2020-04-24 18:17] Rmano commented on #4769
If I want to create a PR, against which branch do you want it?

[2020-04-24 20:51] TurboGit commented on #4769
Now fixed.

[2020-04-24 20:51] #4769 closed

[2020-04-25 00:53] ralfbrown opened #4808 "locallaplacians.c - scalar and SSE2 code produce different results"
**Describe the bug**

gauss_reduce() and gauss_reduce_sse2() produce different output, so results will vary depending on how darktable was compiled.
The cause is use of different kernels in the two code paths.  gauss_reduce() uses 1 5 8 5 1, while gauss_reduce_sse2() uses 1 4 6 4 1.

**Platform (please complete the following information):**
 - Darktable Version: git master (as of commit 75abcb81c4

[2020-04-25 01:35] GwenaelQ opened #4810 "Tagging module : "attached tags view" minor issue"
Hello there

First of all thank you for the work. DT is evolving rapidly in many aspects. Among these I'm particularly sensitive to the work done on tagging and metadata.

**Context**

"attached tags view" displays the attached tags of selected images (if no image mouse hovered) **or** those of the hovered image. [Source : [DT manual](https://darktable.gitlab.io/doc/en/tagging.html)]

**The issue:

[2020-04-25 01:42] GwenaelQ opened #4811 "Tagging module : "attached tags view" minor improvement request"
Hi everybody

When severals images are selected and no one mouse  hovered :

if a given tag is applied to  one image only please add (1) at its right (for the sake of consistency with the other tags and with the dictionnary view)

Thank you for listening

DT 3.0.2 on windows 8.1

[2020-04-25 01:53] GwenaelQ opened #4812 "Tagging module : creating tag with "text entry" improvement request"
Hello,

Please allow user to create tag by the mean of  the "text entry" **even if no image is selected**.
This is the fastest way of creating one and as it is it is quite frustrating !

Thank you for listening

DT 3.0.2 on windows  8.1

[2020-04-25 02:11] GwenaelQ opened #4813 "Tagging module request : more consistency within tag creation"
Hello,

**Context**
Pipe caracter is used to create hierarchical tags

**Issue**
Creating a tag with a pipe (that is to say a "path") is allowed within entry zone.
The same is not allowed with  the "create tag" command of dictionary view  !

**Expected behavior**
Both ways should be equivalent and allow the creation of a hierarchical tag

Thank you for listening. Keep the good work.

DT 3.0.2 on w

[2020-04-25 03:04] GwenaelQ opened #4814 "Tagging module request : simplified UX in "dictionary view""
Hello,

**Issue**
- It is annoying to rise an error when using pipe with "edit tag" command of "dictionary view",

meanwhile  :

- "rename path dialog" allows the use of pipe, although it has a very similar dialog box,
- creating tag within entry zone allows the use of pipe

**Request**

Since in some places of the  tagging module a path is "just" a "tag with pipe inside" why not simplify the inte

[2020-04-25 03:32] GwenaelQ opened #4815 "Tagging module request - dictionary view : same commands in list view than tree view"
Hello,

When in "tree view" mode , the "dictionary view" shows many commands within contextual menu (right click) that doesn't appear in "list view" mode.

These commands should be available in that mode too.

Thank you again for the very good work

DT 3.0.2 in windows 8.1

[2020-04-25 07:20] GrahamByrnes commented on #4543
Done

[2020-04-25 07:20] #4543 closed

[2020-04-25 15:54] jenshannoschwalm commented on #4805
Just have a look at the modules's source, you will not find a cl path (yet) :-)

[2020-04-25 17:00] lapineige commented on #4484
Is this PR included in 3.0.2 ? I don't find it in the release notes, nor in the UI (maybe I didn't understand correctly what it does ?). I supposed it would be as it was integrated into master a while before 3.0.2 release, but I'm not aware of the way new commits are handled.

[2020-04-25 17:37] #4764 closed

[2020-04-25 18:28] Nilvus commented on #4484
Not all commits between minor releases are set to the next minor release. Some things are set for next major one. You could see for which milestone on the PR (here for 3.2). So you will have to be patient for that one.

The choice depend on lot of things like the importance of the change or if it's related to another major change, for example.

[2020-04-25 18:38] lapineige commented on #4484
Oh yeah I missed the milestone item !
Thanks for explaining this :)

I'll wait then :)

[2020-04-25 19:56] phweyland commented on #4812
I agree this frustrating.

[2020-04-25 19:58] phweyland commented on #4810
I cannot reproduce this.

[2020-04-25 20:01] phweyland commented on #4811
I did hide the number if 1. Probably a mistake.

[2020-04-25 20:36] phweyland commented on #4814
I understand the request, however, even if they are similar, they are not really consistent.

"rename path" allows the user to split or combine different levels on the path of a given tag. It is not applicable in list view because a change on the path may impact a lot of other tags in the list, while in the tree view it affects only the selected tag.

The list view is for people who don't care abo

[2020-04-25 20:56] phweyland commented on #4815
Here some explanation about why it is not (yet) as you request.

Between list and tree view there is only one difference, "rename path". See my comments [here](https://github.com/darktable-org/darktable/issues/4814#issuecomment-619437434) about "rename path".

The third view, suggestion view, tries to sort out the most relevant tags depending on selected images. It's an helper for tagging and is n

[2020-04-25 21:05] phweyland commented on #4813
"entry zone" defines a full tag (with its full path).
"create tag" creates a tag on top of an existing one.
They cannot be equivalent.

This said, I agree that "create tag" could include a subpath (on top of the current one) and then allow the pipe character.

[2020-04-26 10:18] alexvanderberkel commented on #4805
True! Thanks for the hint. It is cleary marked as a todo. Hence, it is not a bug rather a feature request :)

[2020-04-26 11:13] jade-nl commented on #4796
I can reproduce this issue using:

* darktable version: 3.1.0+1309
* OS               : Linux - kernel 5.4.0-0.bpo.4-amd64
* Distro           : Debian Buster (rel. 10.3)

I also checked the latest stable version and that one **works as expected**: New instance is immediately shown and activated in the active module tab
* darktable version: 3.0.2

[2020-04-26 11:40] aurelienpierre commented on #4805
Thinking about an OpenCL version of tone equalizer gives me gastric acidity. Interleaving the GUI and processing threads on CPU was already pushing darktable core in a way it has not been designed for, it took me 3 months of work. But convolving GPU in the mix…

I yearn for the GPU performance in tone equalizer, don't get me wrong, that thing is currently slow as hell. But, that job will drive me

[2020-04-26 11:59] alexvanderberkel commented on #4805
No worries! I love the module already a lot and we don't want you to go crazy! If it would be easy, you would already have implemented it ;)

[2020-04-26 13:11] AxelG-DE opened #4820 "[module color LUT] slider stuck when using saved colours"
**Describe the bug**

When using custom colour tile (colour picker & shift+click to a tile), dragging  of lightness or saturation slider is delayed, actually stuck in original position and  get updated upon release of the mouse button

Attached ZIP contains a screencast. The moment my mouse moves to the left, I hold the mousebutton (so you see, I move gently). @~15s of the vid, I releas the button

[2020-04-26 18:34] #4808 closed

[2020-04-26 18:42] Nilvus opened #4823 "reject image doesn't go to rejected image filter anymore"
**Describe the bug**
If I reject image with "all except rejected images" filter activated on lighttable, the image should disappear when rejected but stay on lighttable view. If I change filter mode on top left to rejected images only, rejected images doesn't appear anymore.

I've tested that on my personal config but also with a default config folder with only a set of imported images: same issue

[2020-04-26 19:50] mbollmann opened #4824 "Panasonic DC-FZ10002"
A CC0 sample has already been provided on raw.pixls.us by someone else.

Note that unlike other Panasonic cameras, the DC-FZ10002 does **not** crop RAW images in different aspect ratios. I've verified this myself, as I saw that there is only a 3:2 file on raw.pixls.us and wanted to provide the other aspect ratios, but even when I shot pictures in different crops, the RAW files all came out in 3:2

[2020-04-26 21:45] EC1000 opened #4826 ""private" status is not respected for parent tags"
**Describe the bug**
Parent tags that have a different "private" status compare to their child tag are incorrectly exported / not exported.

**To Reproduce**
Set two hierarchical tags like "tag1" and "tag1|tag2". Apply "tag1|tag2" to an image.
1. If you set "tag1" as private and "tag2" as public (=private option unticked), the exported image will have both "tag1" and "tag2": "tag1" is exported eve

[2020-04-26 21:47] EC1000 commented on #4826
For case 1, a possible partial workaround is to set "tag1" as a category. Then it will not be exported (I say partial workaround, because then you cannot export it even if you choose to export private tags).

[2020-04-27 00:17] phweyland commented on #4826
Thanks for reporting. I can reproduce this. I'll look at it.

Correct, categories are never exported.

[2020-04-27 01:18] phweyland commented on #4823
On dt master / debian it works for me.
With "all except rejected images", reject an image it disappears, ctrl-z it appears again...

[2020-04-27 04:16] chhil commented on #3025
It's been picked up in the preference GUI  rework
https://github.com/darktable-org/darktable/pull/4821

[2020-04-27 07:34] elstoc commented on #3025
ESC key can now quit without saving.

You can restore all settings to default by deleting your darktablerc file.

You can see which items you have changed by hovering over the label (which will tell you what the default is).

[2020-04-27 07:36] elstoc commented on #3025
Also you should now have no need to scroll any of the screens so inadvertent changes shouldn't happen any more (plus the entry boxes no longer span the whole screen so if you did need to scroll you could do so without the possibility of changing things).

[2020-04-27 08:06] Nilvus commented on #4823
@phweyland: thanks for your reply. Strange, I've just a new test with last commit (3.1.0+1339~g20080a396) with all fresh new build so, no config/darktable folder and so no image. I've then launch a so totally new fresh darktable. I then imported a set of images that doesn't have any XMP. So, that exclude an issue from any personal config (database, config folder or XMP totally excluded ; I even re

[2020-04-27 08:11] Nilvus commented on #4823
maybe the debug output could help:

[code]

[2020-04-27 09:35] pulverschneeskitour opened #4829 "Style Preview in lightroom not available, Program chrashes"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Platform (please complete the following information):**
 - Darktable Version: 3.02
 - OS: Windows 10
 - Nvidia K3100

**Additional context**

_his is darktable 3.0.2 reporting an exception:

-------------------

Error occurred on Monday, April 27, 2020 at 11:20:44.

darktable.exe caused an Access Violation at locatio

[2020-04-27 10:31] Nilvus commented on #4823
@TurboGit: I've done some git bisect and find that's your second commit of #4779 that cause this issue. reject was working great on first commit of this PR (minor code clean-up commit).

I also add if there's some images rejected and appear on rejected only filter, when this issue is there, images on rejected filter cannot be un-toggle. When clicking (or using shortcut, the reject toggle remains t

[2020-04-27 10:37] TurboGit commented on #4823
@Nilvus : Thanks for bisecting this, my commit, my fault :) I'll assign this to me and will fix ASAP.

[2020-04-27 10:39] Nilvus commented on #4823
@TurboGit: Just an add: I've made all tests with an empty and default darktable and as set of images without any XMP on start.

I now switch back to my config and all my images with the ff6440133bb273eb23f9dd6f5f2c3c4ce878ac58 who reject works great. With this commit all images I had rejected with this issue present are no more rejected. The toggle is no more red and images are not rejected. So I

[2020-04-27 10:51] johnny-bit commented on #4829
Hi!

There is NO TEXT in this fields:

- Describe the bug
- To Reproduce
- Expected behavior
- Screenshots

please provide all info or we won't be able to help/assist you.

[2020-04-27 11:36] GrahamByrnes opened #4830 "Just a question, really..."
As part of my failed attempt to make preview_downsampling work, I butted up against this bit of code in iop/clipping.c

[code]
clipping applies affine geometry transformations: ie the generic transformation that I'd expect is

- subtract an offset (change of zero coordinate)
- apply a 2-D matrix rotation around the zero point
- possibly add an offset, to return to a different reference zero-point.

[2020-04-27 12:26] kmilos commented on #4692
There is an interesting comment a propos the workaround from the cmake dev [suggesting not to use find_library() in this case](https://gitlab.kitware.com/cmake/cmake/issues/20019)

[2020-04-27 13:54] TurboGit commented on #4823
Can you test #4831 ?

[2020-04-27 15:42] phweyland commented on #4812
Done

[2020-04-27 15:43] phweyland commented on #4813
Done

[2020-04-27 15:45] phweyland commented on #4811
In attached view, I skip the 1 because it doesn't bring any information.
It is also coherent with attached symbol not shown when hovered image or unique selected one.

[2020-04-27 15:46] phweyland commented on #4810
I've removed the indicator in attached view when hovered image or unique selected one.

[2020-04-27 16:55] TurboGit commented on #4812
Closing now.

[2020-04-27 16:55] #4812 closed

[2020-04-27 19:51] JosefR commented on #3950
Thank you very much for integrating this. This improves working with the GH5 so much!

[2020-04-27 19:52] EC1000 commented on #4826
It's a good thing! I was just stating the limit if this possible workaround (and not at all criticizing the behavior of categories).

Thanks again for all your great work on tags :)

[2020-04-27 19:57] TurboGit opened #4834 "lighttable not updated when empty"
**Describe the bug**

lighttable not updated when empty

**To Reproduce**
1. Select a collection
2. Select any filter in the top-left of the lighttable containing no images (5 stars for example)
3. As expected the lighttable is empty
4. With the mouse scroll change the filter value there will be no image displayed
5. Set a filter where you know there is some iimages (nothing displayed)
6. Click on

[2020-04-27 20:57] #4823 closed

[2020-04-27 21:03] TurboGit commented on #4834
@AlicVB : I have tried to find the fix, but it seems harder than I though. I really don't see where the refresh is missing when the lt is empty :(

[2020-04-27 21:05] AlicVB commented on #4834
@TurboGit : don't worry, I'll have a look tomorrow !

[2020-04-28 06:33] TurboGit commented on #4834
@AlicVB : I'm sure you'll be able to fix, but I'm not happy to not have been able to understand what was going on :) I'll look at your fix ! Thanks.

[2020-04-28 06:47] TurboGit commented on #4830
I see what you mean and I would have the same question. To me the lines:
[code]
Look at first suspicious.

I would have expected something like:
[code]

And likewise in transform for o. Did you tried that ?

But without understanding properly how this works it can do more harm :)

[2020-04-28 06:49] #4826 closed

[2020-04-28 07:09] TurboGit commented on #4834
Hum... I'm embarrassed now... It looks like all is working fine now :( Don't know what was happening yesterday night....

[2020-04-28 10:28] GrahamByrnes commented on #4830
That would fix the asymmetry... but it would still be a big change to the 2D map. It seems likely it would change things.

So it would still be an issue of making random changes and hoping that they don't break things: even when they obviously do change things in the current "degenerate case" where preview_downsampling=1.

Who wrote this code? I suspect that to make any sensible headway, it would

[2020-04-28 10:49] chhil opened #4836 "New preferences causes the window to shift on selection of the widest text tab"
darktable-3.1.0+1346~g532efbf17-win64

@elstoc
Its preference related but not buttons related.

The cpu/gpu/memory one is the widest and when that tab is clicked, the window of its preferences moves right. No other tab shows this behavior.
I have added a ruler to show the pixel shift.

![image](https://user-images.githubusercontent.com/1119439/80441677-02b06300-8929-11ea-825c-32d9c085a030.png)

![

[2020-04-28 11:25] elstoc commented on #4836
I suspect this needs a CSS change to make the minimum width a little wider. It only seems to happen on the themes with larger base fonts (e.g. 'darktable.css') but not on those with smaller fonts (e.g. 'darktable-elegant-grey.css') @Nilvus

[2020-04-28 11:41] dim162 opened #4837 "darktable-gen-noiseprofile errors"
darktable-gen-noiseprofile stop on Phase One IIQ raw, with the errors:

--> Converting /home/dim/Desktop/denoise/Capture28600.IIQ (ISO 50)

(darktable-cli:3328): Gtk-WARNING **: 09:30:07.585: gtk_disable_setlocale() must be called before gtk_init()
sqlite3 error: /usr/src/packages/BUILD/src/common/exif.cc:3299, function read_xmp_timestamps(), query "UPDATE main.images SET  WHERE id = 1": near "WHE

[2020-04-28 11:52] dim162 opened #4838 "the window of the mask manager extensible"
I work with a lot of masks & the window of the mask manager is static. Is it possible to make it extensible as the left & right panels, il will be more comfortable & quicker. Thank you

[2020-04-28 12:35] TurboGit commented on #4830
@GrahamByrnes : Of course, I was not proposing to fix that randomly, I just want to know if you had tested this and if it works better for you down-sampling project. Also not that the transform / backtransform are not going to break any past edits if I'm not mistaken, this is only used at runtime to properly adapt masks to deformations done by some iop like lens, liquify, crop&rotate, etc.

[2020-04-28 12:43] TurboGit commented on #4830
To answer your other question, the code has been created here:

4a94569932531c9e3badb630c96ca7b51c94d3ef

By Jérémy Rosen and this seems to indeed introduce a problem using a modified value, previous implementation had a single transformation (horizontal or vertical):

[code]

[2020-04-28 13:23] GrahamByrnes commented on #4830
Oh... yes, if `t_h * t_v ==0` then it makes more sense: one line is an identity map, the other is something more like an approximate quadratic-hyperbolic transform (I think.... it's a long time since I did that stuff).

Supposing t_h>0 and t_v=0, then you get the round trip
x -> x -> x
y -> y/(1 + x t_h) -> y

That's still a weird thing to do to pixel addresses, but you do get back home!

Ok, I mi

[2020-04-28 13:28] ptilopteri opened #4840 "Group indicator "G" is not reset when current group is diminished to a single image"
openSUSE Tumbleweed 20200425
NVIDIA GF106 [GeForce GTS 450], 390.132
darktable 3.1.0~git1346.532efbf17-2885.1.x86_64
OpenCL on
i7 12-core 36GB

Select an image in lightroom
duplicate the image, now a group exists and the original image is marked "G"
delete the original image in light table, the "G" indicator moves to the duplicate image, only remaining image, but there is no longer a group.

The "

[2020-04-28 14:19] Twin1811 opened #4841 "error loading sidecar file"
Hi. There is an issue loading a sidecar file which was created with another darktable version on another operating system. The sidecar file was generated on Mac OS 10.13.3 with darktable version 3.0.2 The sidecar file was loaded on a Ubuntu 18.04.4 LTS with darktable version 2.6.2 There is an error reported when the sidecar file is loaded. I could not find information about sidecar incompatabiliti

[2020-04-28 14:37] elstoc commented on #4841
I wouldn't expect sidecar files generated from v3.0.2 to be compatible with v2.6.2, though it should work fine the other way.

[2020-04-28 14:45] #4841 closed

[2020-04-28 14:57] TurboGit commented on #4830
No and did some tests right now and all seems fine even when changing the order of crop&rotate to be before or after the iop with masks (I did test with exposure).

[2020-04-28 15:35] TurboGit commented on #4834
Am I doomed :( ???? Now I can again reproduce this behavior... @AlicVB : can you try on your side ?

[2020-04-28 15:48] GrahamByrnes commented on #4830
Given the matrix in the transform functions, it should always be possible to use only one axis by rotating the coordinates first. In which case the only issue is that function is too general! I noticed in Jérémy's code the comment that "only one of t_v & t_h should be used"

So the problem was that in some cases the "points" in dt_transfom_plus & dt_backtransfom_plus were being used to transform r

[2020-04-28 16:00] AlicVB commented on #4834
ok, I can reproduce. I needed to just scroll in the combobox without opening it (yes you write it in your step by step, maybe I need glasses...)
I'm looking at that now.

By the way, are you aware that if you set filter to >= ***** you get rejected images ? (I can try to fix it and open an issue otherwise if you want)

[2020-04-28 16:03] Nilvus commented on #4836
Thanks @chhil but that was not useful. I follow #4825 PR (but indeed better to have an issue than posting a closed PR). I can't reproduce your issue. I was not having not when working on CSS and not have that now. But if you that on that category is just that it's the longest one.

@elstoc: not sure a minimum width will be the good way but I will test. It seems to be more an hover setting to adjus

[2020-04-28 16:05] age1988 opened #4842 "basic adjustments module"
Add power function for brightness operation and an option to roll-off the highlights for the contrast slider

[2020-04-28 16:05] age1988 opened #4843 "Clamp negative values in camera rgb"
They are just garbage , it's a good idea clamp negative values in camera rgb before converting to xyz and rgb working space

[2020-04-28 16:06] elstoc commented on #4836
I get it on darktable and darktable-icons themes.

[2020-04-28 16:07] Nilvus commented on #4836
Of course, that's only font related... and difference between normal font and bold one...

[2020-04-28 16:07] TurboGit commented on #4834
Ah no did not see that, I'll fix.

[2020-04-28 16:08] elstoc commented on #4836
I think my default font is Arial 10

[2020-04-28 16:09] elstoc commented on #4836
Text goes bold when it's selected

[2020-04-28 16:13] Nilvus commented on #4836
So you don't have that behavior. I use Cantarell 12 and don't have that behavior. But after setting on 16, i have this behavior.

And the only reason of that behavior it's about the text goes bold. When we increase font size, the difference of visible size between regular and bold one increase. So on default small fonts and regular ones (like Arial, Cantarell, etc) on 10, 12 or even 14 sizes, the

[2020-04-28 16:16] elstoc commented on #4836
I **do** have that behaviour. The width changes when I select cpu/gpu/memory with those two themes.

[2020-04-28 16:17] Nilvus commented on #4836
That depend on font size so depending on font size used, that could be seen on other themes.

On my side with my default OS config with Cantarell 14, I don't have this behavior on any themes.

[2020-04-28 16:20] AlicVB commented on #4834
@TurboGit : just fix this issue. It was just a missing redraw : as empty window is draw in lighttable.c expose fct, we need to ensure the redrawing of the center widget...

For the issue about stars, I'm in current master. I'll have a look more deeply...

[2020-04-28 16:21] #4834 closed

[2020-04-28 16:21] elstoc commented on #4836
I get the same issue if I change my system font to Cantarell 14.

[2020-04-28 16:22] elstoc commented on #4836
Maybe you're getting gnome-specific behaviour again?

[2020-04-28 16:22] Nilvus commented on #4836
No, it can't be gnome specific here. Sure about that.

[2020-04-28 16:23] elstoc commented on #4836
why can't it?

[2020-04-28 16:32] Nilvus commented on #4836
Because it's just font and length used. And as I said (I will not like to repeat it, sorry but that bother me...), the buttons of headerbar were at first possible by darktable code, so it was not only environment specific. And a desktop environment could of have effects on how to manage windows and not should have effects on the content. The first mistake was that darktable code allow to change th

[2020-04-28 16:37] elstoc commented on #4836
Not gnome bashing, just saying things are different between Desktop Environments and trying to explain why you might be getting different results. Anyway, the issue doesn't bother me because I don't use those themes - I was just trying to be helpful.

[2020-04-28 16:38] cryptomilk opened #4847 "lighttable: A filter with ">= ★" also shows rejected files"
**Describe the bug**

If I select ">= ★" (one star) as the filter, it also shows rejected images in the lighttable (no star at all)

![one_star_rejected](https://user-images.githubusercontent.com/545480/80513397-459d2580-897f-11ea-9f1a-655fc63549d1.png)

[2020-04-28 16:44] jpverrue opened #4848 "Improved database lock error message"
Very regularly (about once a week), we have on our forum dedicated to darktable, a question about database lock files. More precisely this question is asked after the user has seen the small window that contains these few laconic sentences :
    darktable - error locking database
    an error has occured while trying to open the database from
    home/my-name/.config/darktable/data.db
    the data

[2020-04-28 16:49] Mark-64 opened #4849 "File extension in new lighttable overlaps with thumbnail"
In the new lighttable, with the following overlay modes
- permanent overlays
- permanent extended overlays
- permanent overlays extended on mouse hover

the file extension indicator in the upper left of the thumbnails overlaps with the image (it goes under).
This happens only for certain zoom levels and it also depends on the image aspect ratio.
See the example below:

![Cattura_w5](https://user-i

[2020-04-28 16:51] TurboGit commented on #4847
Which version ? I think I had fixed that yesterday.

[2020-04-28 16:58] TurboGit commented on #4847
And I cannot reproduce !

[2020-04-28 16:59] TurboGit commented on #4847
See #4834 where AlicVB could also reproduce, but I can't.... That's a really strange issue.

[2020-04-28 17:00] TurboGit commented on #4847
I think I know what is going on... The previous flags has not been migrated... Let me check.

[2020-04-28 17:20] Nilvus commented on #4836
Ok, I've seen too much bashing on the web like that so I probably seen it too quickly. But I think user mistakes (like I just made on changing theme/font and testing here about font and this issue) is more frequent than the environment. Of course, it could be a possibility for UI part, I think it will rarely be. So the last thing to check most of the time.

Said that, I've made some tests and put

[2020-04-28 17:22] TurboGit commented on #4834
@AlicVB : Don't loose your time on the issue with stars I'm on it.

[2020-04-28 17:26] #4847 closed

[2020-04-28 17:28] TurboGit commented on #4847
This is now fixed, beware that the image rejected since Apr 22nd will not be rejected anymore.

[2020-04-28 17:31] Nilvus commented on #4849
@Mark-64: yes, I've seen that when working on CSS. It's just indeed on overlays modes you precise only. That don't bother me so I don't post an issue. Said that, it can't be change on CSS. From what I see, the only way would be to change Gtk code and move the extension name the box/widget above, so on same line as group/audio showed on the top right. And that's why altered/group icons are never ov

[2020-04-28 17:34] Nilvus commented on #4840
@phweyland: as your work on group part with your #4802 PR, maybe this could be related.

[2020-04-28 17:36] Nilvus commented on #4848
Hi jp, I agree with that, these too frequent questions about that without any searching are really bothering us, so it's a really great idea.

[2020-04-28 17:38] elstoc commented on #4836
It's a shame that something like that has to stop us using bold text but your alternative looks fine. Quite similar to what the old preferences window did (but was an underline before).

[2020-04-28 17:39] TurboGit opened #4850 "Ratings tools not visible on top-bottom of the lighttable"
**Describe the bug**

Ratings tools not visible on top-bottom of the lighttable.

**To Reproduce**

1. Go to lighttable

**Expected behavior**
Stars should be visible.

**Screenshots**

![image](https://user-images.githubusercontent.com/467069/80519081-b7796d00-8987-11ea-9112-dfa70e80ca64.png)

It seems that there are present as I see a white point, but all compressed! A CSS issue ?

**Platform (p

[2020-04-28 17:44] TurboGit commented on #4848
You still want to keep the full path-name somewhere as one common question is where are those file located. Apart from that, I agree.

[2020-04-28 17:44] AlicVB commented on #4849
yes, that's "by design". the new overlays mode just show that more obviously. Previously, if you try with a square image, for example,you'll see that.

[2020-04-28 19:20] jpverrue commented on #4848
@TurboGit In the message I just split the pathname in two parts: first the file name, then the path (...the presence of the %s file in the %s folder...). I did this to make it speak even to the most novice. I don't quite understand what you mean? Should we keep the whole pathname? Or should it be saved somewhere? Is that what you mean?

[2020-04-28 19:31] AlicVB commented on #4850
confirmed.
@Nilvus : I think the problem is commit bef0263b521a1c1512bbf3e73e63841e222f8227 especially the part about #lib-rating-stars was the culprit. It seems that it wasn't the stars inside thumbs...
if you don't have time, I can propose a PR

[2020-04-28 19:52] elstoc commented on #3423
Search has now been added to the shortcuts section of preferences as part of #4747. This PR also splits the preferences down into more manageable chunks (hopefully) making it easier to find what you're after.

[2020-04-28 19:58] Nilvus commented on #4850
@AlicVB: my mistake so I will done that. I'm actually on CSS things.

Is one of you could assign this issue and also #4836 to me please? Will propose a PR soon to fix those and probably add an update to preferences window CSS part if PR #4851 is merged

[2020-04-28 20:17] Nilvus commented on #4836
Totally agree about that. I've improved a little bit by making the border a little less contrasted and so more balanced. Waiting for your new preferences PR to be merged to propose the CSS (will need to adjust CSS for that too).

[2020-04-28 20:25] Mark-64 commented on #4849
In thumbnail.c, line 918, changing top margin for the extension label from
`gtk_widget_set_margin_top(thumb->w_ext, 0.045 * width);`
to
`gtk_widget_set_margin_top(thumb->w_ext, 0.5 * r1);`
the label will be aligned with the altered / group / audio icons and it will never be cut.

![Screenshot from 2020-04-28 22-18-12](https://user-images.githubusercontent.com/43290988/80534074-f2d36600-899e-11ea-8

[2020-04-28 20:37] Nilvus commented on #4849
That's just breaks also the goal of this new overlay mode: use more space for the image. See margins that adds on left, right and bottom in regards of your first screenshot with the "issue".

[2020-04-28 20:40] elstoc commented on #3207
I think changing the font size (certainly if you want to do it in pixels or points) will still scale the UI, because quite a bit of the darktable theming is done in 'ems', which are scaled according to the font size.

[2020-04-28 20:44] AlicVB commented on #4849
Well, I'm not a specialist in design, but the initial idea of the extension text is more to act as a background incrustation than an overlay. That explain lot of things :
- it's placed under the image
- it can be vertical or horizontal, depending of the orientation of the image
- it's shown independently of the overlays mode

That said, I'm not against changing margins (but we'll need to change al

[2020-04-28 20:47] AlicVB commented on #4849
if he has just changed the mentioned line, it shouldn't have touch the rest. I think some other settings have changed (maybe a different thumb size)

[2020-04-28 20:49] Nilvus commented on #3207
Not all things on the UI use ems so that's a big difference between setting font size and DPI.

[2020-04-28 21:00] elstoc commented on #3207
You're right of course. I was just experimenting with setting font size in user.css, now that we have it in the preferences dialog. If you remove the font-size setting from line 226 of darktable.css and replace the font-size in line 161 with a pixel- or point-based setting you can alter the font size just by putting the following in user.css

[code]
but currently it scales other parts of the UI as

[2020-04-28 21:05] twchambers commented on #4527
Issue is still present in 3.0.2

[2020-04-28 21:14] AlicVB commented on #4842
Is there any reasons why you can't use dedicated modules for that ?
because imho, basic adjustments should stay really basic.
Not to say that this module has some real pipe ordering problem... I've an old PR to solve that...

[2020-04-28 21:52] age1988 commented on #4842
That's true but the contrast slider push the values above 1,  for this reason there's need to use another module to recover the highlights.
The brightness slider shifts too much the black point.

I think the basic adjustment module with this two suggestion could be used for a fast and easier workflow

[2020-04-28 22:23] manithree opened #4853 "Fujifilm X-T200 support"
I've submitted a raw sample from my X-T200 at raw.pixls.us

I don't think there are any other raw options supported by the camera, but I just got it yesterday, so if more are needed, I'll try to do it.

[2020-04-28 23:06] ptilopteri opened #4854 "show accels window doesn't display key-combinations I have configured"
openSUSE Tumbleweed 20200425
NVIDIA GF106 [GeForce GTS 450], 390.132
darktable 3.1.0~git1346.532efbf17-2885.1.x86_64
OpenCL on
i7 12-core 36GB

I have "duplicate image" configured to <insert> key
(gtk_accel_path "<Darktable>/modules/image/duplicate" "Insert")
(gtk_accel_path "<Darktable>/modules/filmstrip/duplicate image" "Insert")

works in lighttable, but not in darkroom.  It did in the past.

s

[2020-04-29 02:59] metal450 commented on #2832
Just to clarify: that was merged 6 weeks back, but is tagged as 3.2 - I think this means it won't actually be in the releases until 3.2, correct? Which is listed as due Dec 31, 2020?

[2020-04-29 06:57] bastibe commented on #4830
That would explain the behaviors I was seeing, too. Radii were indeed a major pain to get working. And I do expect that some of my corrections only worked because they canceled each other out at convenient times.

(Speaking of preview_downsampling, however, I think we were going down the wrong path. Instead of using the deceptive preview_downsampling variables, we should have changed to resolution

[2020-04-29 07:26] GrahamByrnes commented on #4830
@bastibe Interesting idea, even if I was just starting to begin to understand preview_downsampling... lol.

[2020-04-29 07:47] chhil commented on #4836
I am on windows 10. Use the darktable-icons theme. I believe the default windows system font is being used Segoe*.  Don't know where to look for font size.

-----
Why is there a extra button to save theme tweaks?
I was under the impression that all changes are saved by the save button in the header.

![image](https://user-images.githubusercontent.com/1119439/80572284-a1b58780-8a1b-11ea-8d4d-067dfa

[2020-04-29 07:52] elstoc commented on #4836
@chhil: after much discussion the 'save changes' and 'exit without saving' buttons have been removed in a new commit this morning - most changes are now saved when exiting the window (with 'X' button or 'ESC' key). The theme tweaks are the main exception to this - because the CSS is saved to an external file, and also so that you can see the effect of your changes immediately. Basically everything

[2020-04-29 09:00] Nilvus commented on #3207
@elstoc: you made same mistake I recently made (just a thing I've forgotten). Line 226 is about setting all UI parts except text ones to remain at default size. See comments I've added recently (with the CSS for preferences rework) on those lines. And see this issue (#4769) and PR who fixed that one (#4806) to understand why it's better to not remove or changed line 226. Line 161 is the only one t

[2020-04-29 09:17] chhil commented on #4836
Just made a new build, I see that the buttons are gone.

So now how does one exit without saving?

[2020-04-29 09:20] Nilvus commented on #4836
Finally no more useful. This issue needs to forgot using bold text (or any text that change length of text when its state changed. A fix on its way.

[2020-04-29 09:20] elstoc commented on #4836
You can't any more. It couldn't be done consistently with all tabs and there were questions over the buttons so it has been reverted for now. It may be reintroduced in the future if it can be done consistently with the shortcuts, presets and general tabs (which all have 'commit now' behaviour hard-coded into them).

[2020-04-29 09:23] Nilvus commented on #4836
Simply just undo what you set and don't want to save. Many settings were already not cancelled even with the exit without saving button. The preferences were not consistent that way. For example, I change the theme or a shortcut, it's saved, even when clicking on Exit without saving button. Strange. But if i change some others settings that could be change and not saved when clicking on the exit w

[2020-04-29 09:37] AlicVB commented on #4854
You're right, it's not correct, some leftover of my previous work... I'll have a look

[2020-04-29 09:43] houz commented on #2632
There is nothing wrong on the darktable side, it's a bug in how GIMP creates the thumbnails.

[2020-04-29 09:43] #2632 closed

[2020-04-29 10:41] #4836 closed

[2020-04-29 10:41] #4850 closed

[2020-04-29 11:41] chhil opened #4857 "Add ability to use lens information in the replacement $(variable) that are used."
Currently, I can't get the lens information available in overlays that are used.
Would like a replacement variable available for it.

![image](https://user-images.githubusercontent.com/1119439/80591909-244e3f00-8a3c-11ea-873b-44d6ba2bb1b8.png)

[2020-04-29 11:45] chhil commented on #4836
Used darktable-3.1.0+1365~gcf6de44e7-win64 , change looks good. Thank you @Nilvus .

[2020-04-29 11:56] Nilvus commented on #4836
Good to read that.

[2020-04-29 12:26] ptilopteri commented on #4836
The way this option has changed makes it very difficult to return to a previous setting changed inadvertently unless there are only two options.

example:  if I mistakenly change "cpu/gpu/memory" "host memory limit .."
there is no obvious method/path to discard the change.

perhaps the "drop down box" should include an option "revert"
or ...

perhaps <escape> should revert "any" changes

but the d

[2020-04-29 12:28] elstoc commented on #4836
Double click on the label reverts back to default. Hover over the label to see what the default is.

[2020-04-29 12:36] ptilopteri commented on #4836
@elstoc: reverts back to default.  THAT is not a problem but one cannot revert back to the previous setting.  That is the problem.

[2020-04-29 12:38] elstoc commented on #4836
You couldn't do that on the version before my change either. Everything changed as soon as you changed it.

[2020-04-29 12:40] elstoc commented on #4836
Either way the most common way to inadvertently change settings in the old preferences window was by scrolling, and you don't need to scroll the window any more.

[2020-04-29 12:40] #4791 closed

[2020-04-29 18:21] didmac opened #4860 "Canon EOS 90D"
Bonjour, juste savoir ouvrir mes fichiers .CR3 de mon nouveau boitier Canon EOS 90D dans darktable

merci beaucoup pour votre travail

Didier Heinen

[2020-04-29 18:24] LebedevRI commented on #4860
Please use english.
Duplicate of #4259.

[2020-04-29 18:24] #4860 closed

[2020-04-29 18:52] citizen2947294 opened #4861 "Category Tag In XMP-dc Subject in XMP sidecar file."
**Describe the bug**
In the manual, it says "A tag set as “category” is not exported in “XMP-dc Subject”. However it is exported in “XMP-lr Hierarchical Subject” as this XMP metadata holds the organization of your tags." However, I am seeing tags which are set as "category" in the XMP-dc Subjection section of the sidecar files. This doesn't seem to be correct. Am I correct? E.g., a section of a sa

[2020-04-29 20:34] Mark-64 commented on #4849
I realize I posted thumbnails with different setting, so it wasn't clear, my bad.
Here is the thumbnail without the patch:
![Cattura28](https://user-images.githubusercontent.com/43290988/80643407-54133c00-8a68-11ea-98b7-c7894a885a76.JPG)

and here is with the patch

![Cattura29](https://user-images.githubusercontent.com/43290988/80643449-62615800-8a68-11ea-987e-a0dc10d4e48c.JPG)

There are no side

[2020-04-30 00:29] chhil opened #4865 "[Tagging][Dev Branch] Trying to detach tag darktable|changed crashes DT"
Release build of darktable-3.1.0+1365~gcf6de44e7-win64

Steps to reproduce.
[See image]
Used collections to filter by tags.
Then tried detaching the darktable|changed tag.
Not sure if it should be possible to detach this tag. Was trying to assist someone on the FB  darktable group.  Irrespective, dt should not crash.

![image](https://user-images.githubusercontent.com/1119439/80659413-8ba0d900-8aa

[2020-04-30 00:56] phweyland commented on #4865
I cannot reproduce the crash. detach darktable|changed works. number of images in collection is updated properly.
dt 3.1.0+1369~g77d8789c3 on debian.

[2020-04-30 01:03] phweyland commented on #4861
This text applies on exported tags (with exported images), and not xmp files.
The xmp file is a companion of your image and mirrors the database information. The only action you can manage here is with the configuration "omit hierarchy in the simple tag list".

So, not a bug.

[2020-04-30 01:09] phweyland commented on #4861
@elstoc I should have detected this earlier, sorry. "omit hierarchy in the simple tag list" should be put with xmp settings.

[2020-04-30 01:51] chhil commented on #4865
We are back to the windows only anomaly :)

[2020-04-30 01:55] chhil commented on #4865
When I try detaching another tag like darktable|format it crashes again. On restart one can see the tag has been deleted.

![image](https://user-images.githubusercontent.com/1119439/80664121-8d24ce00-8ab3-11ea-8cdb-6455c22cbd32.png)

[2020-04-30 03:56] chhil commented on #4865
@phweyland

Built a debug release got the stacktrace.

darktable.exe caused an Access Violation at location 0000000067969847 in module libgtk-3-0.dll Reading from location 0000000000000030.

[code]

[2020-04-30 04:14] chhil commented on #4865
https://github.com/darktable-org/darktable/blob/master/src/libs/tagging.c#L544-L551
https://github.com/darktable-org/darktable/blob/master/src/libs/tagging.c#L1007-L1012

[2020-04-30 04:30] ikoo2mi opened #4867 "Photo not displaying - Digital snow display instead"
Hi everyone,

I am using Darktable 3.0.2 on windows and recently some photos don't appear normally in the lighttable - we just can see kind of TV snow. Then in the dark room a photo that was appearing normally just becomes "snow" after applying some change.

I tried to "clean" my library and re-import my photos but the problem remains. It seems that all my change are still ok, but the display is a

[2020-04-30 05:29] Mark-64 opened #4868 "Lua tab disappeared in the new options dialog"
In the new options dialog with vertical tabs, the "lua options" is no longer present (was last tab in the old layout).
Lua scripts work and Options->Shortcuts-> lua is there, but "lua option" just disappeared.

![Cattura30](https://user-images.githubusercontent.com/43290988/80675233-44214980-8ab4-11ea-9ab6-ece44a2c63a0.JPG)

DT 3.1 git master on Windows 10

[2020-04-30 09:56] elstoc commented on #4868
I'll take a look

[2020-04-30 10:17] elstoc commented on #4868
I think I've fixed it but I don't use lua so none of these options ever appeared for me. Please could you do a quick test before I submit a PR. Changes are here: https://github.com/elstoc/darktable/tree/luapref

[2020-04-30 11:15] phweyland commented on #4865
@Chhil Thanks for information. I'll look at it.

[2020-04-30 11:40] citizen2947294 commented on #4861
I did realize that text applies to exported tags for exported images ('A tag set as “category” is not _exported_'). Is it not desirable to have parity between exported images and sidecars (and the database) in this regard? I also know about the "omit hierarchy in the simple tag list" checkbox and that is not what I'm trying to achieve here. Also, when importing images, how will the categories be d

[2020-04-30 12:05] Nilvus commented on #4848
PR merged, so could be closed. And thanks @jpverrue for that. Hope will help having less message (but will be for next release to see effects.

[2020-04-30 12:05] #4848 closed

[2020-04-30 12:19] pahl34 opened #4869 "DT 3.0.2 - Crop and Rotate module can get into a non-functional state"
Version: darktable v3.0.2
OS: Windows 10

It can happen that the **crop and rotate** module gets into a state where it is not properly usable any more. In this case, neither the direct cropping in the image using the control overlay (main tab), nor the margins tab will work. Also, neither the control overlay is displayed in this state, nor is the selected guide (e.g. "rules of thirds", which norma

[2020-04-30 12:22] phweyland commented on #4865
You don't have any user tag ... protection against this is missing. Can you check that with at least one user tag (dictionary view) the crash doesn't occur ?
I prepare a PR.

[2020-04-30 12:25] ptilopteri commented on #4869
fwiw: I have seen same or very very similar on openSUSE Tumbleweed master builds for several years.  And I have not been able to recreate conditions to repeat the problem and have never been able to successfully change the crop w/o restarting dt.

So iianm, the issue is not new but as obscure as hen's teeth.

[2020-04-30 13:08] #4865 closed

[2020-04-30 13:50] elstoc commented on #4869
In my experience a lot of these sort of issues tend to occur when opening new images and/or when switching between images in the darkroom. Crop & Rotate is an oddity in that it requires the module to have been allocated gui focus in order for it to function. Sometimes the module can be open without it having focus (for example immediately after you've double-clicked on the image to commit a crop).

[2020-04-30 13:55] chhil commented on #4865
Have no clue what that means.

I am building a new debug release with your change and will try it out.

[2020-04-30 14:25] chhil commented on #4865
Thank you @phweyland , darktable-3.1.0+1382~gcb99cf52f-win64 no longer crashes with your fix.

[2020-04-30 15:47] phweyland commented on #4861
No, as said above xmp mirrors the database, means that it must be possible to rebuild the image data in database from xmp.

That is absolutely correct. Private and category are attributes of tags, not of images.
The tag dictionary is imported and exported independently for images.

[2020-04-30 15:51] phweyland commented on #4840
Now #4802 is merged is this issue still alive ?

[2020-04-30 16:11] phweyland commented on #4865
No tag here in your screenshot ... :)

![image](https://user-images.githubusercontent.com/23012047/80733438-16ec8f80-8ae4-11ea-81ab-9a94f1b11469.png)

[2020-04-30 16:21] pasta-farian opened #4872 "Infos line not properly refreshed"
**Describe the bug**

I have $(STARS) in my infos line. If I change the rating I won't see the new rating in the infos line until I switch to a different pic and come back to the original one.

**To Reproduce**

1. In preferences -> GUI options -> pattern for image infos line:  add "$(STARS)"
2. go to darkroom view
3. Change rating of current picture

**Expected behavior**

You should see the numb

[2020-04-30 16:32] ptilopteri commented on #4840
now, if I duplicate a single image, the dup shows the new symbol replacing the "G" and the original image does not.  If I dup a single image and delete the original the dup looses the symbol.

[2020-04-30 16:48] citizen2947294 commented on #4861
So should tag category and privacy be encoded into the sidecar? My re-imported images are not bringing this information in.

Also, again, I don't see tag privacy encoded in the tag dictionary export and it doesn't get imported either.

[2020-04-30 16:50] citizen2947294 commented on #4861
Side-note, not-so-side-note: Let's not forget all the awesome stuff you all have done with this amazing application. I'm blown away with all the new features in version 3, especially with tagging, a personal favorite of mine. Thank you!!!

[2020-04-30 16:55] Nilvus commented on #4840
Maybe it's not related but I fix an issue on last CSS PR merged where the group icon (old and new one) was not visible on main image of the group in grey theme. Be sure, if you use grey theme, you have the latest master (CSS PR was merged yesterday). On my side, I don't have what you described. the icon is visible on main image and on dup ones.

[2020-04-30 17:02] emaimx opened #4873 "Sony RX100 VII noise profile"
I made a noise profile for the Sony DSC-RX100VII.
[darktable-noiseprofile-20200430.tar.gz](https://github.com/darktable-org/darktable/files/4559795/darktable-noiseprofile-20200430.tar.gz)

I had an issue with my 8000 ISO picture. The tool was registering it as not under-exposed. The picture is exposed as the rest of the set, and I did try to replace it with others (up to -2EV), but they were also

[2020-04-30 17:07] mbollmann commented on #4824
I got this to work locally by cloning the values from the DMC-FZ1000 (which Panasonic claims to have the same sensor) and my camera's RAW files appear fine now when opening them.

Would you like me to open PRs here and for rawspeed? Or should I rather double-check the values against the sample file in raw.pixls.us?

[2020-04-30 17:11] LebedevRI commented on #4824
Feel free to, yes. At worst i'll just fine-tune them after merging.

[2020-04-30 17:12] Nilvus commented on #4840
Edit: I just see that your PR, @phweyland, was merged after my CSS fix and I confirm that the main icon on not visible now, even with my fix. And after checking just now why with Gtk inspector tool, it's not about CSS: the icon is not activate (on Gtk Inspector tool, the line is in grey, so it's for elements not rendered by Gtk, like for example audio icon as it's a rarely used one). Before and wh

[2020-04-30 17:48] phweyland commented on #4861
I would say no. What should be imported if 2 images say the opposite ? Private ? not private ? category ? Or not ? :)
If you don't rely on the backup of your database, i.e. you are more confident with xmp files, I would suggest to save also time to time your tag dictionary (category, private, synonyms).

Thank you ! :)

[2020-04-30 18:01] Mark-64 commented on #4868
@elstoc: Yes it works now

[2020-04-30 18:06] elstoc commented on #4868
Excellent thanks for testing @Mark-64

[2020-04-30 19:39] ptilopteri opened #4875 "<primary>plus and <primary>minus no longer zoom image"
openSUSE Tumbleweed 20200428
NVIDIA GF106 [GeForce GTS 450], 390.132
darktable-3.1.0~git1383.0e7305a3d-2912.1.x86_64
OpenCL on
i7 12-core 36GB

I can no longer zoom image using <ctrl><+> or <ctrl><->
(gtk_accel_path "<Darktable>/global/zoom in" "<Primary>plus")
(gtk_accel_path "<Darktable>/global/zoom out" "<Primary>minus")

scroll wheel and two finger drag on mouse pad still work

[2020-04-30 19:44] ptilopteri opened #4876 "accels window doesn't follow cursor or doesn't scroll with cursor."
openSUSE Tumbleweed 20200428
NVIDIA GF106 [GeForce GTS 450], 390.132
darktable-3.1.0~git1383.0e7305a3d-2912.1.x86_64
OpenCL on
i7 12-core 36GB

the accels window screen <H> does not scroll with cursor movement.

makes it very difficult to see on laptop screen using mouse pad.

[2020-04-30 20:08] elstoc commented on #4875
Works for me, though "plus" seems wrong - at least on my keyboard layout, plus shows up in the shortcuts window as ``shift+=``

That's the problem with having default shortcuts that are non-alphanumeric characters - the key combination to get to them differs between keyboard layouts.

Can you try re-mapping to see if you still get the issue?

[2020-05-01 00:01] ptilopteri commented on #4875
@elstoc , explain how/what you want me to remap.

fwiw: <ctrl><+> is quite generic for zooming in, even in window and especially in linux and has been standard in dt for since I can remember, re: 2009/2010

[2020-05-01 03:47] citizen2947294 commented on #4861
I'm looking at this again. "omit hierarchy in the simple tag list" does achieve what I was looking for for the sidecar files.

[2020-05-01 03:47] #4861 closed

[2020-05-01 04:11] rmkar opened #4879 "X-T100 Noise Profiles"
I found these noise profiles for the X-T100 that another user made and posted on redmine. I think this thread may have fallen through the cracks while moving everything to GitHub.
[Direct link to tarball](https://redmine.darktable.org/attachments/4547/darktable-noiseprofile-20191001.tar.gz)
[Original post](https://redmine.darktable.org/issues/12711)

[2020-05-01 06:12] #4868 closed

[2020-05-01 06:40] AxelG-DE opened #4880 "Delayed reaction on mouse wheel spin on sliders"
**Describe the bug**

Background info:
I use a Logitech MX Master 2S mouse. <-- has a scrollwheel without ticks=free spinning

When I use this function e.g. mouse-hover on WB slider and spin the wheel,
- currently the slider will stay at the initial place,
- no screenupdate and
- only when the spinning speed got way slower or
-- I stop the wheel, the GUI gets updated,
-- means the slider jumps on

[2020-05-01 07:47] elstoc commented on #4875
Sorry what I meant was try going into the shortcuts window and remapping the zoom shortcuts to a different pair of keys, then try mapping them back again, and see what happens.

One thing I do notice is that I have to click on the image before the shortcuts will register. Does that make a difference?

[2020-05-01 08:04] #4879 closed

[2020-05-01 08:04] #4873 closed

[2020-05-01 08:04] TurboGit commented on #4873
Merged, thanks.

[2020-05-01 08:04] TurboGit commented on #4879
Merged, thanks!

[2020-05-01 09:26] Macchiato17 commented on #4535
Looks better now. Still the included basecurve NIKON D7500 is not automatically applied in my case. Perhaps due to case-sensitivity or differences in the EXIF meta data. But when I create a copy of the profile and change the make / model settings as described before, auto-apply now works fine for this profile => solved from my point of view.

[2020-05-01 09:26] #4535 closed

[2020-05-01 09:44] elstoc commented on #4875
Ok this might have been me: #4721

This needs to change to pass keyboard focus to the centre image rather than the iop module clicked on. I'll submit a new PR.

[2020-05-01 12:17] moy opened #4882 "Culling mode: easy way to get to 100% zoom with mouse"
**Is your feature request related to a problem? Please describe.**

The culling mode is great to compare several pictures. It's the perfect tool to select the right shot for macrophotography where I often have tens of pictures of the same thing and only a few sharp enough. But for this use-case, culling is only really relevant with a 100% zoom. For now, I have two minor user-experience glitches:

[2020-05-01 12:21] phweyland commented on #4880
You mentioned the type of mouse... have you noticed a different behavior with another type ?

[2020-05-01 12:27] AlicVB commented on #4882
yes middle-click as already been mentioned and I forget it (I never manage to do middle-click without scrolling) for the zoom indicator, I'll think to that, there's maybe a place in the new overlay block...

[2020-05-01 12:29] moy opened #4883 "Ctrl-z after pasting history stack resets the history stack"
**Describe the bug**

This is similar to  #3855, but in different conditions.

After pasting a history stack (Control-v) in darkroom, Control-Z doesn't undo, but resets the history stack completely.

**To Reproduce**

1. Go to darkroom and edit an image (A)
2. Go to another image (B) and copy some of the history stack (Control-c)
3. Go to image (A), still in darkroom and paste (Control-v)
4. Try t

[2020-05-01 12:37] AxelG-DE commented on #4880
Hihihi
I don't have another one, which has this kind of function. With click you will never be able to spin that fast :-)

I can just say,
- it once worked well
- the PC does recognize the spinning speed, as I can rev to max in terminal or firefox
- it really feels, there is a kind of limiter, where the max speed of ticks has a cap value, because once the wheel gets slower the reaction comes back.

[2020-05-01 12:41] didmac commented on #4860
Hi, just know how to open my .CR3 files of my new Canon EOS 90D in darktable.

thank you very much for your work

Didier Heinen

[2020-05-01 12:42] trougnouf opened #4884 "Compilation error with libavif 0.7.2"
Compilation error of darktable-git with avif 0.7.2:
[code]
Steps to reproduce on arch linux:
- Install https://aur.archlinux.org/packages/avif/
- Install https://aur.archlinux.org/packages/darktable-git/

Installing rav1e and recompiling avif did not help.

@cryptomilk

[2020-05-01 13:04] moy opened #4885 "Culling mode: use all screen space available when zooming"
**Is your feature request related to a problem? Please describe.**

In culling mode, each image is assigned a rectangle corresponding to the aspect ratio of the image. This obviously makes sense when the images are displayed completely (zoom fit), but when zooming in, it's frustrating to show only a rather small portion of the image with a lot of screen real estate lost:

![current](https://user-i

[2020-05-01 13:25] AlicVB commented on #4885
completely agree ! Sadly the problem is that I didn't manage to understand the code that place and size the image in culling mode... and the original author isn't here anymore :(
Each changes I've done here so far end with weird corner cases...

If someone want to have a look, it's located in `views/lighttable.c` `_culling_compute_slots` in current master, and in `dtgtk/culling.c` `_thumbs_compute

[2020-05-01 15:15] #4840 closed

[2020-05-01 15:37] Mark-64 opened #4889 "LUA: importing an image does not force a refresh of the new thumbtable"
With lua, the lib function `dt.database.import()` was used to force a refresh of lighttable so the image appeared immediately in  the collection.
No longer so with the new thumbtable. The image is indeed imported, but the view isn't refreshed.
Forcing manually a refresh by changing back and forth film roll or going in and out of darkroom, makes the imported image show in the collection.

DT 3.1 gi

[2020-05-01 15:37] ptilopteri commented on #4840
If this has been published, it is not a solution.
still fails in darktable 3.1.0+1389~g0487939fc

[2020-05-01 15:58] elstoc commented on #4875
See also #4891 for some related fixes. If this is merged the 'global' zoom options will be moved into the individual darktable/lightroom views, albeit with the same default key combinations <primary>+<plus/minus>.

[2020-05-01 16:03] elstoc commented on #4876
Do you mean the window you get when you press 'h' to view the assigned accel keys for the current view?

[2020-05-01 16:11] ptilopteri commented on #4840
nor on darktable 3.1.0+1390~gcc18fbf01

[2020-05-01 16:26] ptilopteri commented on #4876
yes, on my laptop with no mouse, very difficult to see the entire list as it doesn't fit screen size.
1366x768  :(

[2020-05-01 16:36] elstoc commented on #4876
If I change my screen resolution to match yours I can view the remainder of the window by scrolling with my scroll wheel (while still holding 'H' to keep the window open). Does that work for you?

[2020-05-01 16:45] AlicVB commented on #4882
@moy : I've integrated your too points in the culling/preview rewrite here : #4864 It should land in master once all the small glitches are fixed and that will be for 3.2...
Thanks for reporting

[2020-05-01 17:48] AxelG-DE commented on #4519
anybody confirms, this got intentionally changed?

[2020-05-01 18:00] phweyland commented on #4840
I've just rebuilt 3.1.0+1390~gcc18fbf01. I cannot reproduce the issue.
Whatever the image I remove, the remaining hasn't the group symbol anymore.

[2020-05-01 18:54] tomascapek opened #4892 "Script darktable-gen-noiseprofile is not working."
I tried to create noise profile for my Nikon D3s and I failed miserably.

I used tutorial on server PIXLS.US, I created the shots and I downloaded them to local folder on my computer (Arch Linux, regularly updated). When I reached the last step - creating the profile itself, I was met with "an empty output":

Nothing more on the output. Pictures are in the current working directory.

So I started

[2020-05-01 19:17] ptilopteri commented on #4876
but there is no "mouse wheel"/"scroll wheel" on my laptop mousepad :(

[2020-05-01 19:19] elstoc commented on #4876
Ah. Not sure what can be done about that.

[2020-05-01 19:25] ptilopteri commented on #4840
now works for me, tks

[2020-05-01 20:31] #4849 closed

[2020-05-01 20:33] elstoc commented on #4875
As discussed in my PR #4881 I have been unable to reproduce any issues apart from the one I mentioned in the comments.

Tested on darktable 3.1.0+1390~gcc18fbf01, ArchLinux.

[2020-05-01 20:34] Mark-64 commented on #4849
Fixed #4863

[2020-05-01 20:39] #4692 closed

[2020-05-01 20:39] Mark-64 commented on #4692
Fixed

[2020-05-01 20:41] #4830 closed

[2020-05-01 22:50] trougnouf opened #4893 "Segmentation faults in lighttable"
I've been getting very frequent crashes in lighttable as of today, browsing a large (2437) directory.

I'm using the branch steroid-filmic from @aurelienpierre on Arch Linux. I don't know if it's related to filmic v4 (I notice that the commits are gone, squashed? I'm now on 92d9da9669b3bcc4ca39f3919fbf6ce337635b94 ), some other commit, or just another package update.

My setup is AMD+Nvidia dual G

[2020-05-02 08:29] Nilvus commented on #4893
Issues are for master or released versions. On actual master, I don't have any crash. So, before posting an issue like that, please test if you have same crash with the actual master (so without any "not merged" PR). If you are then sure the issue is about an open PR, it's on the PR that you have to post the issue, as all open PR are work in progress.

Test and check actual master and if issue is

[2020-05-02 09:08] elstoc opened #4894 "shift modifier for non-alphanumeric keyboard shortcuts"
Different keyboard layouts require different key combinations to access non-alphanumeric characters. For example, on my UK keyboard, the plus sign requires a shift modifier to access it (``shift+equals``), the asterisk character is ``shift+8``. Some default keyboard shortcuts have non-alphanumeric characters hard-coded into them (for example global zoom hard-codes ``<primary>+plus`` and ``<primary

[2020-05-02 09:32] trougnouf commented on #4893
I switched to master and it did freeze right after export (which seems to be when most freezes occur)
[darktable_bt_RCRNJ0.txt](https://github.com/darktable-org/darktable/files/4567400/darktable_bt_RCRNJ0.txt)

I'm exporting to Wikimedia Commons (dtmediawiki), I haven't ran into issues exporting locally. I will try to make the issue consistently reproducible but I likely won't be able to work on i

[2020-05-02 10:04] elstoc commented on #4894
I'm working on a fix for this

[2020-05-02 11:33] tmichal17 opened #4895 "Collect Images - Filter by film rolls shows unsorted film rolls"
In Lighttable/Collect images when filtering by film rolls, the film rolls are unsorted. As far as I remember, the film rolls were sorted alphabetically in former versions of darktable.

1. Go to Lighttable
2. Open Collect Images
3. Select Film roll filter
4. See the unordered shown film rolls

**Expected behavior**
Film rolls are ordered alphabetically.

**Platform:**
 - Darktable Version: 3.0.1

[2020-05-02 12:30] elstoc commented on #4895
This has been raised before. I agree with you that film rolls should be sorted alphabetically but apparently they are (intentionally) sorted by film ID, which is an integer that's incremented each time you import a new film roll. So it's basically ordered by when the film roll was first imported (i.e. not random).

[2020-05-02 12:40] tmichal17 commented on #4895
Sorry, I have searched for the issue and didn't find it.

As I have lots of films, I often unload them and reimport them. As my films are in folders for each year and subfolders with year and month with an addional comment, e.g. "2019/2019-08 vacation", they should then be imported in the correct order if the film ID is incremented. But since version 3 this is not the case. Before version 3.0.1, i

[2020-05-02 12:55] elstoc commented on #4895
See #4252. I agree - film roll is basically a proxy for folder name so it should be ordered by film roll (aka folder) name and not an internal integer which may or may not represent something the user cares about.

[2020-05-02 17:53] wpferguson commented on #4889
Verified in current git.  Tested in 3.0.2 and it works correctly.  Image thumbnail is displayed on import.

[2020-05-02 18:26] Nilvus commented on #4895
See #4561. As #4252 answer, it's a choice. But it's now (on master since about a month) to set them from recent to older. For other choices, there's filter and the field on collect module allow to search on collections.

[2020-05-02 18:44] Mark-64 commented on #4889
@wpferguson I'm not sure I understoos, do you mean that the bug is confirmed in current git ?

[2020-05-02 18:48] elstoc commented on #4895
An apparently random order, reversed, is still just as apparently random. I've yet to find anywhere in the darktable gui where you can even see the film roll ID (it's entirely internal to the databse) so it's no wonder people can't work it out. Yes you can do it in the folders view and I reluctantly use that now, but I don't really want to see the whole tree structure and 'film roll' is the defaul

[2020-05-02 18:50] manu-p opened #4899 "Ctrl+scroll on module cursors"
Hi,
When the miscellaneous pref "mouse wheel scrolls modules side panel by default" is not ticked you may use your mouse wheel to interact with some modules cursors just scrolling, Shift scrolling and Ctrl scrolling over a cursor while the pointer is hovering it.
And that's very fine!

Now, for some reason you may prefer having this pref option ticked so that your mouse wheel interact only with th

[2020-05-02 19:08] AlicVB commented on #4889
We certainly miss a refresh or a signal raising.
Sadly I have absolutely no idea how the lua calls are handled in the code. I'll have a look, but if someone with more lua knowledge can help me :)

[2020-05-02 19:32] kwazel commented on #3991
After updating Ubuntu to Focal the support for my camera broke again. I build and installed the most up to date version of lensfun froms source. Unfortunately darktable seems to fall back to `liblensfun.so.1` (which directs to Ubuntu's  `liblensfun.so.0.3.2`) where the most up to date version, `liblensfun.so.0.3.95`, can be reached using `liblensfun.so.2`. In short, my conclusion is that Darktable

[2020-05-02 20:13] Nilvus commented on #4895
I just post what was discussing about that and the recent PR merged to inform here. Personally, I just don't care about that and how filter collections works are ok for my use. It's not me who can answer why it's a choice. I don't know (and don't care about that).

[2020-05-02 20:18] elstoc commented on #4895
I know. It was just a general rant - not directed at you.

[2020-05-02 20:36] elstoc commented on #4895
This is a key point, and why ordering by film roll ID will always appear random for me. I often re-arrange older photos into different folder structures and this usually involves removing an old film roll and creating a new one.

[2020-05-02 20:36] GrahamByrnes commented on #4895
I think the real answer is that "folders" is sorted by folder name, and so if you are careful about naming things, it gives you the ordering you want. "Film rolls" is something else, which I never use, but I guess some people do. It appears to be a "recentness of use" index.

Having it as the default option seems strange to me, but frankly there are so many other things to fix that I wouldn't both

[2020-05-02 20:43] elstoc commented on #4895
If you select any other filter mechanism in the collect module you can see, by the values that appear in the box below, how the sort order is defined, because it's based on the data that displays. The sort order is based on the same data that you can filter by, which makes sense.

Film rolls used to work like this - it's basically like the folder view but without having to see the whole tree and a

[2020-05-02 21:10] elstoc opened #4900 "snapshot triangle indicator doesn't appear when zoomed"
When activating a snapshot in the snapshot module, a new triangle indicator was recently added to make it clear which side of the image was the snapshot and which the current edit.

While this works fine when the image is zoomed out:

![Screenshot_2020-05-02_22-08-40](https://user-images.githubusercontent.com/9555491/80892391-91263b00-8cc1-11ea-9c56-30ec0d56c0aa.png)

It doesn't appear when zoomed

[2020-05-02 21:12] wpferguson commented on #4889
The dt.database.import() function is in src/lua/database.c.  It calls
dt_image_import_lua() in src/common/image.c.

If I'm in lighttable and I import a single image into darktable, the image
opens in darkroom view.  When I return to lighttable view, the thumbnail is
created/updated.  When I import the image with dt.database.import() in lua,
I stay in lighttable mode (which is expected).  I'm think

[2020-05-02 21:22] GrahamByrnes commented on #4895
I agree, I complained when it changed. I was told it was a choice.
On the other hand, yesterday I accidentally deleted the wrong image because
the one selected was not the one highlighted, and when I brought it back
from trash, the xmp wasn't read :-(
So I'm hoping for a great leap forward with the new lightroom... then I
might worry some more. Currently busy simulating dead miners...

Le sam. 2 m

[2020-05-02 23:54] johnny-bit commented on #3991
instead of changing version of lensfun (0.3.95 is "broken") use `lensfun-update-data` to update lens/body database.

[2020-05-03 06:06] Mark-64 commented on #4889
Adding the lines
[code]
after line 160 of src/lua/database.c, as suggested by @wpferguson, does the trick.
I took the lines from `dt_control_duplicate_images_job_run()` in control_jobs.c.
@AlicVB are these the right signal ? If so, I will make a PR.

This makes me think there could be other side effects of the new thumbtable on lua calls. This needs further investigation.

[2020-05-03 08:55] parafin commented on #4589
12983c77ff03508287cd659da4923dba1d56bcfc was forgotten when cherry-picking for 3.0 branch

[2020-05-03 09:56] EMAR31 opened #4902 "An unhandled exception occured"
Bonjour,
Dans la Chambre Noire, une erreur grave arrive régulièrement lorsque j'active la roulette de ma souris pour augmenter ou diminuer le zoom sur une image raw.
Darktable "plante" et je perds toutes mes dernières modifications.
J'avais ce problème dans la version précédente. Il persiste dans la version 3.0.2

![Capture](https://user-images.githubusercontent.com/63604014/80911103-7c36bf80-8d34

[2020-05-03 10:28] TurboGit commented on #4589
@parafin : I've just cherry-picked it, there was no milestone set for this PR, this explain why it was forgotten.

[2020-05-03 11:14] AlicVB commented on #4889
@Mark-64 : exactly ! it's so great to see other people fixing my oversights :)
That said, I think you can enhance your code by indicating the inserted image in the first fct, something like `dt_collection_update_query(darktable.collection, DT_COLLECTION_CHANGE_RELOAD, g_list_append(NULL, GINT_TO_POINTER(result));`
(not tested)

And you're right to say that we need to investigate further the lua pa

[2020-05-03 13:54] wpferguson commented on #4889
I'll test the code that manipulates the lighttable and make sure there
aren't any other issues.

On Sun, May 3, 2020, 7:14 AM AlicVB <notifications@github.com> wrote:

[2020-05-03 17:14] Mark-64 commented on #4889
@AlicVB I dont't fully understand what the enhancement you suggested does, but I implemented and tested it, no issues.
PR created

[2020-05-03 17:24] kwazel commented on #3991
@johnny-bit It may be interesting to understand why 0.3.9.5 is broken. But the most important is: it works! I had to install `liblensfun-bin` to run `lensfun-update-data` but now I can use my camera without using updating lensfun itself.
I had tried `lensfun-update-data` but only the version from 0.3.9.5, which seemed to be, eh... broken.

[2020-05-03 18:47] AlicVB commented on #4889
@Mark-64 : the last parameter is to say which imageid have changed. That avoid for example to refresh all the view if the image is located outside.

[2020-05-03 18:50] wpferguson commented on #4889
I didn't find any more issues manipulating the view from lua.

[2020-05-03 19:23] Mark-64 opened #4905 "Filmstrip selection in darkroom never gets reset"
In thumbtable, one can select multiple images clicking with the usual CTRL / SHIFT modifiers.
Clicking on an image outside the current selection, gets the selection reset.
In filmstrip inside darkroom one can still select multiple images with CTRL / SHIFT + click. I am not sure what is the purpose of that, maybe actions on multiple images are possible in darkroom through keyboard shortcuts.
Howeve

[2020-05-03 19:58] Nilvus commented on #4777
Salut, J'ai eu ce problème et ça ne venait pas du code darktable mais d'un réglage oublié. Déjà, vérifie  quel profil ton pré-réglage par défaut affiche. J'irais même plus loin : supprime-le et recrée ton profil par défaut (avec application automatique avec toutes tes images) avec le profil que tu veux.

Si tu as un simple problème de ce genre (souvent lié à un pré-réglage, commence par le forum d

[2020-05-03 20:34] AlicVB commented on #4905
this is "by-design". You can use alt-click to get same behavior than click in filemanager (this will need to be written in the manual). The reason behind is that we try to not modify the selection except if user explicitly want it, especially in mode like filmstrip where "normal" click is used to switch to another image.
And yes it's possible to use selection in darkroom : you can for example copy

[2020-05-03 20:34] #4905 closed

[2020-05-03 22:47] marcsitkin opened #4907 "Color Lookup Table-Drwan Mask-Add path"
**Describe the bug**
In the Color Lookup Table module, if the color selector tool is used, and the tool (eyedropper) is left active, the add path tool in the drawn mask area is not functional

**To Reproduce**

1. Go to Color Lookup Table Moduel and activate it
2. Click on a color in the image with the color selector tool and using the shift key, add it to a patch
3. Add a drawn mask, select the a

[2020-05-04 07:45] EMAR31 commented on #4777
Bonjour,
Mon pré-réglage par défaut affiche profil d'entrée RVB Rec2020 linéaire. C'est ce qui est restauré quand je clique Paramètres par défaut sur la ligne RVB Rec709 linéaire. J'ai supprimé et recréé le paramétrage RVB Rec2020 linéaire (avec application automatique sur toutes images RAW) . Dans l'écran des pré-réglages, il est seul (voir copie d'écran dans ma demande.) J'ai toujours le même pb

[2020-05-04 07:50] EMAR31 commented on #4777
Bonjour,
Mon pré-réglage par défaut affiche profil d'entrée RVB Rec2020 linéaire.
C'est ce qui est restauré quand je clique Paramètres par défaut sur la
ligne RVB Rec709 linéaire. J'ai supprimé et recréé le paramétrage RVB
Rec2020 linéaire (avec application automatique sur toutes images RAW) .
Dans l'écran des pré-réglages, il est seul (voir copie d'écran dans ma
demande.) J'ai toujours le même pb

[2020-05-04 10:45] #4889 closed

[2020-05-04 10:45] Mark-64 commented on #4889
Fixed

[2020-05-04 12:03] Nilvus commented on #4777
Je n'ai jamais dit que la demande n'était pas valable. Quand à ce qui a été mis sur le forum, navré mais je ne retiens pas tous les sujets que je vois et réponses que j'y mets. Si j'avais précisé qu'un correctif était prévu (je ne me souviens pas quand c'était), c'est qu'il était déjà là et a sûrement été diffusé. Après, ça ne veut pas dire qu'il a été intégré en 3.0.2.

Par ailleurs, si je repren

[2020-05-04 13:14] Mark-64 opened #4909 "LUA: erratic behaviour of sliders after commit 36d459f"
After commit 36d459f2698695b9245e55cbc516698ab1eb3074, the behaviour of slua slider has become unpredictable, with soft_min and soft_max limits do not respect values set in the code, but are erratically set.
To try to reproduce, take the following script, which defines a simple LT module with one test slider.
[slider.lua.txt](https://github.com/darktable-org/darktable/files/4574804/slider.lua.txt)

[2020-05-04 13:20] ruudmaas opened #4910 "parametric mask and drawn/parametric mask (exposure module) of Darktable 3.0.2 system (KDE Manjaro) freeze"
In the new stable version of Darktable (version 3.0.2) my system (KDE Majaro completely updated) freezes when using a parametric mask in the exposure module.
A drawn mask does not give a problem. The combination of parametric and drawn also results in a complete freeze of the system.
I checked the Windows 10 version of Darktable 3.0.2. No system freeze.

[2020-05-04 14:21] jenshannoschwalm commented on #4907
Indeed, at least the path is not visualised. It's easy to fix, i am not sure right how good it will look as we might have too much information. Will take care of it asap

[2020-05-04 14:51] aurelienpierre opened #4911 "Last picture opened is not saved in lighttable when exiting on darkroom"
The lighttable saves in `darktablerc` the ID of the last selected image and last selected collection, so the next time darktable starts, the lighttable opens centered on that same image again, inside that same collection.

However, this requires to close darktable with the lighttable view active. If you close dt when you are in darkroom (or if dartable crashes in darkroom…), the current image ID i

[2020-05-04 14:54] marcsitkin commented on #4907
Much appreciated. Not an earth shattering problem, but I know you guys are
striving for perfection!

On Mon, May 4, 2020 at 10:21 AM Hanno Schwalm <notifications@github.com>
wrote:

--
Marc Sitkin
2020 Mexico Gallery <https://marcsitkin.smugmug.com/Mexico/Mexico-2020>
Marc Sitkin Photography Web Site <http://marcsitkin.smugmug.com>
Instagram <https://www.instagram.com/marcsitkin/>

[2020-05-04 15:26] TurboGit commented on #4777
@Nilvus : Oui presque certain que le fix est #4745. Il n'est pas dans la branche, je viens de l'intégrer (pas simple car en conflit, j'espère ne pas avoir fait de bêtise!) donc ce problème sera corrigé en 3.0.3.

[2020-05-04 15:26] TurboGit commented on #4777
For reference commit is : 5ac2260e3527491d225870371d44fba2e8bf6d3c

And I'm now closing.

[2020-05-04 15:26] #4777 closed

[2020-05-04 17:55] Nilvus commented on #4177
@paperdigits: thanks for your great and big work on that. If you have time to answer to @TurboGit, I would like also to know what is asking. Depending on the time I will have when this work will be finished and answers to @TurboGit questions, I will probably work a little on some improvements on manual content.

[2020-05-04 18:53] paperdigits commented on #4177
Sorry I whiffed on the response to @TurboGit. I hope to wrap up the markdown this evening and submit a PR for the English content.

I'm not 100% sure on translations, it depends on where we want to push things and what tooling we want to use. Clearly we would need to transform the markdown into some sort of structured content if we want to continue to use the xml2po & similar tools. I was also thi

[2020-05-04 20:11] #4894 closed

[2020-05-04 20:12] goro-gh commented on #4177
Markdown is for chat. It is not for pagenated/printable/translatable user documantation.
Yes, DocBook is dificult for setup and the sucsses depends of ditro to disto, but gives you this nice PDF book you have.

DocBook gives structure of the documentation. With DockBook you can have:
- PDF Book (Paged media) - nice for reading, printing, searching
- EPUB Book (Paged media) - nice for mobile readin

[2020-05-04 20:22] TurboGit commented on #4177
@paperdigits : So I fear we went to fast on this one. As I said very early on this was that we need a clear and very simple way to propose translation. Today it is quite easy:

- Change English part of the user manual
- Do a PR, it gets merged
- From this we generate a POT and a PO for each language (this is automatic, simple, fast done by a tool).
- Each translator can then get the POT & PO and s

[2020-05-04 20:35] TurboGit commented on #4911
This is not saved in darktablerc but in selected_images in library.db. And indeed, the last selected images stored is the one when entering the darkroom (so not really a random image but still).

I'll have a look at this issue.

[2020-05-04 20:55] TurboGit commented on #4911
See #4914 , can you test ?

[2020-05-04 23:30] aurelienpierre commented on #4177
Markdown is only simplified HTML, nothing prevents you from using actual (valid) HTML5 in Markdown files, and CSS stylesheets.

The current state of the fancy XML doc we have is an absurd volume of formatting markup for little content. Lists are so crowded with code that they become unlegible, and the whole markup is a custom undocumented XML that matches no standard.

As a consequence, nobody wan

[2020-05-05 06:31] BigSerpent opened #4916 "selection of current image is lost between lighttable and darkroom"
Selection has lost consistency between lighttable and darkroom.
To reproduce:
Select an image in lighttable.
Enter darkroom mode ("D").
Select other image with single click (I haven't checked for double click, maybe too).
Return to lighttable with "L".

The selection returns to the image, selected in lighttable, not in darkroom.

That is a dataloss issue - the actions are applied to the wrong imag

[2020-05-05 10:09] goro-gh commented on #4177
If you give the power of

on documentation writers, then you will face other problems. **Countless idaes of how the documentataion should look like.**

Then you will writes **rules** about this. But everybody knows, **rules** are pointles if there is no method for check them.

After that, you will make tools about it. Styp by step, the toolchain will become same piece of

On top of that, you shoul

[2020-05-05 14:54] jpellegrini opened #4917 "not noticing that a camera was disconnected, darktable lists it twice - and stalls when the user tries to use the first instance of the camera"
**The issue:**
In the lighttable view, if a camera is already detected, the cable is removed, reinserted and I click on "scan for devices", it will be listed a second time. and a third, fourth times, as many times as I repeat this.
Also, if I try to use the "tethered shooting" buttin from the detected-and-removed device, darktable stalls (does not refresh the GUI at all).

**To Reproduce:**
1. Go

[2020-05-05 15:34] paperdigits commented on #4177
Thank you for sharing your concerns, I'm aware of all the arguments for and against markdown.

The fact of the matter is that nobody was updating the docbook documentation. The architecture of the document was strange, the custom DTD was completely unnecessary, and the file encoding wasn't even good, so there were entities for accented characters.

Markdown can be made into PDF, so that isn't goin

[2020-05-05 15:47] TurboGit commented on #4177
First I want to say that I really don't care about the format on which the document is written. Also it is wrong to say that the current documentation is not updated. It is, slowly, probably too slowly but it is updated.

That being said, I don't think we understand each other @paperdigits.

But an up-to-date documentation that cannot be translated is certainly even worst.

What I want is to be su

[2020-05-05 15:52] #4884 closed

[2020-05-05 15:56] #4900 closed

[2020-05-05 16:03] oleastre commented on #4917
I confirm the same behaviour on Darktable >= 3.0.0 (maybe before 3.0.0, but I was not using darktable to directly import from my camera at that time).
The problem is not limited to tethering, it also shows when importing images from the camera via USB.
Camera in use: Nikon D90.

[2020-05-05 16:38] Mark-64 commented on #4909
I did some investigation and it's pretty weird. I might be wrong, need some help here, but it could be a sort of race condition.
In lua/widget/slider.c, the code
[code]
seems to put the following functions (among others), defined in the same source file, in a sort of execution queue:
[code]
In turn, those functions call respectively the following ones:
[code]
in bauhaus/bauhaus.c, which are the on

[2020-05-05 16:46] TurboGit commented on #4909
Looks like a regression from 36d459f2698695b9245e55cbc516698ab1eb3074.

@dterrahe : Any idea ?

[2020-05-05 17:16] dterrahe commented on #4909
Interesting.

I haven't worked with lua, so I don't even know where the magic happens and I'm just guessing here; please tell me if I get this wrong.

It looks to me like the lua api allows to create a bauhaus object without going through one of the "_new" calls (for example dt_bauhaus_slider_new or dt_bauhaus_slider_new_with_range_and_feedback). In the example code, after an uninitialised widget

[2020-05-05 17:36] Nilvus opened #4919 "An "old" new iop order resolved issue still there when copying development and cancel it"
**Describe the bug**
This is a bug that has been solved about the new iop order. Seems that it is not solved completely.
I have it only, has before, when having 2 instances of same modules (here contrast local). @TurboGit: seems this is for you even if I know you wouldn't like seeing this one come back!

**To Reproduce**
1. Have an image developed with 2 instances of same module (on my side, image

[2020-05-05 17:42] mepi0011 commented on #4177
This is exactly what I have been trying to initiate at the beginning of the discussion and implementation! (see [here](https://github.com/darktable-org/darktable/issues/4177#issuecomment-581948718))

[2020-05-05 17:53] TurboGit commented on #4919
Done with current master too ?

Indeed, I was expecting those issues to be behind us :)

[2020-05-05 17:55] Nilvus commented on #4919
Unfortunately yes. I only test that with images taken this last few days...

[2020-05-05 18:36] Mark-64 commented on #4909
@dterrahe No need to apologize, this is the beauty of SW development :-)
I don't think reverting the commit is the solution, I have the feeling the problem was already there. Now that I think about it, I noticed some rare misbehaviour of the lua sliders in the past that I didn't pay too much attention to.
I will try to change the lua code instead, any suggestion is welcome

[2020-05-05 18:44] dterrahe commented on #4909
Maybe, but the old code was very forgiving; basically not enforcing the hard limits so they didn't cause any trouble. There may be more out-of-tree code out there that has started misbehaving. Maybe the right thing to do would be to at least print a debug message whenever input that was previously allowed is now being clipped, so that people can at least be aware that their code violates some new

[2020-05-05 19:43] wpferguson commented on #4909
@Mark-64 perhaps you could do a check from dt_bauhaus_slider_set_soft_min() and dt_bauhaus_slider_set_soft_max() to see what the hard limits are and set them if necessary.

[2020-05-05 22:29] paperdigits commented on #4177
@turbogit: I think this will work: https://po4a.org/ it handles po files for things like markdown.

On May 5, 2020 8:47:55 AM PDT, Pascal Obry <notifications@github.com> wrote:

[2020-05-06 03:31] paperdigits commented on #4588
Seems like there is no interest in this.

[2020-05-06 03:31] #4588 closed

[2020-05-06 06:06] jcubic opened #4922 "Missing lens model in EXIF data"
**Describe the bug**
Exported JPG from NEF file is missing lens model information (in Lens Id Exif tag).

**To Reproduce**
Export jpeg files from NEF files (Nikon)
[code]

**Expected behavior**
Lens ID should be in JPG file EXIF data

**Platform (please complete the following information):**
 - Darktable Version: darktable-2.6.3-2.fc30
 - OS: Fedora 30 GNU/Linux

**Additional context**
Because of

[2020-05-06 07:42] 4044ever opened #4923 "Feature Request: display camera EV (+1, -1 etc.)"
**Is your feature request related to a problem? Please describe.**
My _problem_: Sometimes I shot ETTR with a camera setting of +1 EV. It would be good to see that +1 EV in darktable as a starting point, like in other software, i.e. RawTherapee

**Describe the solution you'd like**
Have the camera EV status read from the EXIF and displayed under _image information_

**Alternatives**
Can't think of

[2020-05-06 07:56] elstoc commented on #4923
Isn't this already there, under "exposure bias"?

[2020-05-06 08:49] Nilvus commented on #4923
I confirm it's already exist on exposure bias. But @4044ever doesn't precise which version of darktable he use. So this is already present in master and will be there on next major release, 3.2. So please be patient and close this issue as it has been implemented.

@4044ever: see #4592 (find by just adding exposure bias on pull request search field ; always a good idea to what has been done).

[2020-05-06 08:52] Nilvus commented on #4922
darktable official last release is 3.0.2 and many things have been added since 2.6.3, so first thing would be to update your release. 3.0.0 adds some new features about metadata.

And check also  what you have on same field before exporting (see image infos). IThat could also be a need to update exiv2 library which is used to detect lens from the lens ID.

[2020-05-06 09:37] TurboGit commented on #4919
I can only reproduce if I Ctrl-C and paste 2 times Ctrl-V on another image. Then Ctrl-Z breaks the edit.

[2020-05-06 09:41] TurboGit commented on #4919
And indeed I can reproduce only from lighttable.

[2020-05-06 09:41] jcubic commented on #4922
Sorry, didn't realized that Fedora package is out of date. Will try to build from source. But last time I was trying to compile darktable on Fedora I was not able to.

[2020-05-06 10:03] jcubic commented on #4922
This is the output of latest version from git (`3.1.0+1407~ga4c447d6c`):
[code]

Same no lens ID that have details about the lens.

[2020-05-06 10:28] jcubic commented on #4922
I've showed the console.log the original was NEF file that had that tag.

[2020-05-06 10:50] AlicVB commented on #4916
yes, it's also discussed in #4914 I'll have a look§. Thanks for the report

[2020-05-06 11:07] Nilvus commented on #4919
I use indeed shortcuts but normally not 2 times Ctrl+V. But maybe, as I made that fast...

[2020-05-06 11:44] AlicVB commented on #4911
@aurelienpierre : I don't reproduce except on dt crash.
To be sure we are speaking of the same thing :
usually, when you go back to lighttable from darkroom, the last edited image is the first image shown in filemanager (top left). And this is not the case when you close dt directly from darkroom. I'm right ?

If effectively, it's only in case of crash of dt, I know where the problem is coming fro

[2020-05-06 11:57] aurelienpierre commented on #4911
usually, when you go back to lighttable from darkroom, the last edited image is the first image shown in filemanager (top left). And this is not the case when you close dt directly from darkroom. I'm right ?

Yes. Also if you open an image directly from the file manager. I need to test this solution, I'm in the middle of something.

[2020-05-06 17:21] #4919 closed

[2020-05-06 17:21] TurboGit commented on #4919
Should be fixed now. Can you test again to be sure there is no other cases ?

[2020-05-06 19:28] AxelG-DE commented on #2724
Many guys tried and seems nobody could reproduce my case. So I have to accept, somewhere I have the sand in my own gear box.... I will analyze on my side further and close for now...

[2020-05-06 20:22] Mark-64 commented on #4909
This has proven to be too hard for me.
The lua calls use a Glib asynchronous queue, so there is absolutely no guarantee of the execution order of the four setting functions:

[code]
This is a problem in the initialization, because if for example `dt_bauhaus_slider_set_soft_max() ` in order to set `soft_max` needs to know `hard_max`, that value could be not initialized yet.
There is no problem inst

[2020-05-06 20:35] dterrahe commented on #4909
Again, I have no idea how the lua glue works, but I'm a bit surprised that the newly allocated slider object doesn't somehow get initialised before any of the set functions get called. My preference would be for it to be initialised with hard limits at -INF and +INF, but given that this is probably not possible, I'll submit a change to revert just that change (not the main part of the PR which was

[2020-05-06 20:47] Mark-64 commented on #4909
There is an initialization call
[code]
which uses some default values, maybe we can use that one ?

[2020-05-06 20:58] Mark-64 commented on #4909
@dterrahe as you suggested, changing to
`dt_bauhaus_slider_from_widget(DT_BAUHAUS_WIDGET(slider->widget),NULL, -1.0E9, 1.0E9, 1.0, 0.0, 3,0);`
seems to work. I'll do more tests

[2020-05-06 23:00] LViatour opened #4929 "problem updating lighttable"
@alicvb

**Describe the bug**

when creating an HDR in the light table, the HDR is not visible. You have to change the display order to see it in the lighttable

**To Reproduce**

1. select multiple raw
2. clic to create HDR
3. the thumbnail of the DNG created is not visible in the light table

**Expected behavior**
Normally the new DNG HDR should appear in front of the raw files selected for HDR

[2020-05-07 04:20] 4044ever commented on #4923
Whoops, I am using 3.0.2 on Windows. Good to know that EV Bias is already in the pipeline! I rest my case.

[2020-05-07 05:24] Mark-64 commented on #4929
It seems similar to #4889, I will have a look.

[2020-05-07 05:39] jenshannoschwalm commented on #4929
I think creating the hdr file just "creates" it. This does not imply to **import** it ...

[2020-05-07 05:53] Mark-64 commented on #4909
It works, @dterrahe  thanks for helping me !
PR created

[2020-05-07 06:00] Mark-64 commented on #4929
Just forcing a refresh in thumbtable, for example changing the visualization order or group/ungroup, makes the DNG appear, so definitely the HDR is imported, only the view is not refreshed, like in #4889

[2020-05-07 06:18] Mark-64 commented on #4929
PR created

[2020-05-07 06:27] dterrahe commented on #4909
You are welcome.

If anything depended on the old default values and breaks, at least this time the cause should be easy to find and to correct for.

[2020-05-07 06:36] Nilvus commented on #4923
@4044ever: good but you forgot to close your issue. Think of closing this one to let developers know which one remains to follow/work on.

[2020-05-07 07:49] #4916 closed

[2020-05-07 09:44] Mark-64 commented on #4909
Fixed

[2020-05-07 09:44] #4909 closed

[2020-05-07 11:47] ptilopteri opened #4933 "lighttable display not refreshed on second import when using --library :memory:"
I opened dt from control-line in a directory of photos as:
  darktable --library :memory: ./*.nef

dt imports entire directory of photos
worked and exported photos

using dt's import, imported another directory of photos
library display is not updated, blank
but changing view mode from "all" to anything else and back properly displays the group in lighttable.  Appears screen display is not refresh

[2020-05-07 12:34] scheckmedia opened #4934 "Bug: Using Lua to add multiple widgets results in a crash of darktable"
**Describe the bug**

Hello everyone,

I'm developing an auto-tagging plugin using Lua and I encountered an error using widgets. For my plugin actually I need a list widget but I was not able to find something in the API. As a workaround, I'm using the box widget. Each tag is represented as a `check_button` and a child of the box. This works well for a small number of tags but at some point, I get

[2020-05-07 13:49] cribari opened #4935 "Fujifilm X-Pro3"
**Describe the bug**
When I open a Fujifilm X-Pro3 RAW file in Darktable, I see the following message:
"`Fujifilm X-Pro3' color matrix not found!"

**To Reproduce**
In January, I submitted Fujifilm X-Pro3 RAW files to https://raw.pixls.us/ . To reproduce the issue, you may get such files and open them in Darktable.

**Expected behavior**
The camera color matrix should be identified.

**Platform (p

[2020-05-07 14:31] aurelienpierre opened #4936 "Make display and display2 color profiles global"
Currently, the output display profiles are built in `colorout` module only (in `commit_params`), and used while computing the pipeline for preview.

In a sensible imaging app, the GUI would also be color-managed, noticeably the hue/saturation sliders or to display illuminants. For this, we need the display profile to be global in darktable, for example in `dartktable.gui`, and prepared at launchin

[2020-05-07 15:39] johnny-bit commented on #4936
Yes please!

[2020-05-07 16:22] choller opened #4938 "DT3 Retouch module regression (high contrast artifacts on skin)"
**Describe the bug**

When using the retouch module in DT3 to eliminate skin irregularities, I get weird artifacts that look like a contrast problem of some sort.

**To Reproduce**
1. Load the attached ARW: [DSC01932.ARW.zip](https://github.com/darktable-org/darktable/files/4594262/DSC01932.ARW.zip)

2. Perform a retouch as shown in the attached screenshot.
3. Observe the problem.

I can only repr

[2020-05-07 18:15] hattedsquirrel commented on #2528
Problem no longer exists in darktable 3

[2020-05-07 18:15] #2528 closed

[2020-05-07 18:54] Mark-64 commented on #4929
Fixed, via b26f24717c63c0271151346d73973e171daecee5, please close

[2020-05-07 20:12] #4929 closed

[2020-05-07 20:22] ptilopteri commented on #4933
apparently fixed, probably by b26f247, see #4929 and #4932

[2020-05-07 20:22] #4933 closed

[2020-05-07 21:26] Nilvus commented on #3207
@aurelienpierre and @elstoc: waiting to have a better solution, could we just add some lines on new css edit view in preferences to help user set font size directly?

See how that could it be:

![2020-05-07_23-23](https://user-images.githubusercontent.com/45535283/81346116-04f98680-90ba-11ea-8960-861152000d48.png)

The main remaining problem is that comments there, as I know, couldn't be translate

[2020-05-07 21:37] elstoc commented on #3207
I don't have an issue with changing font size in the CSS tweaks section (though the CSS you've put in there doesn't currently work for everything - e.g. the preferences window) but I'd rather not start populating that box with default values and suggestions/comments or it will start getting messy quickly. It would be better if we could have guides or 'CSS recipes' set up somewhere separate and ref

[2020-05-08 00:24] ptilopteri commented on #4628
still not addressed

[2020-05-08 04:38] wpferguson commented on #4934
I've seen this before.  The garbage collector gets confused when you create a large number of widgets.  @boucman, who I believe implemented the darktable LUA integration was aware of it, but we were never able to determine the root cause.  I suspect it's something to do with threading.

In the meantime what I do to get around it is:

create your widgets and add them to a table, then uppack it in t

[2020-05-08 06:02] progo opened #4942 "Could the Library be optionally disabled altogether?"
**Is your feature request related to a problem? Please describe.**

The library (.config/darktable/library.db) that compiles metadata about files is acting like a giant cache, and like a cache, when the data goes stale it's usually a pain to correct.

For example, I import a directory of photos of two cameras. I immediately notice that the timeline doesn't align -- one of the cameras had bad time.

[2020-05-08 06:29] #4882 closed

[2020-05-08 06:29] #4515 closed

[2020-05-08 07:45] frli8848 opened #4943 "Fujifilm X-T4"
Before filing any support requests, please do make sure that you have already
contributed the whole raw sample set for your camera under CC0 license to
https://raw.pixls.us/ !

#### Important note: to make sure that darktable can keep on supporting the raw
file format for your camera, *please* read
[this post](https://discuss.pixls.us/t/raw-samples-wanted/5420?u=lebedevri) on
how/what raw samples

[2020-05-08 07:56] frli8848 commented on #4943
I have uploaded Fujifilm X-T4 (.RAF) RAW file to https://raw.pixls.us/

I also tried a hack by just duplicating the (similar) X-T3 settings in the files:
<pre>
data/noiseprofiles.json
src/external/adobe_coeff.c
src/external/rawspeed/data/cameras.xml
src/external/wb_presets.c
</pre>
which made Darktable at least open the X-T4 files (the X-T4 images looks a bit de-saturated though). I have attached

[2020-05-08 08:02] LebedevRI commented on #4943
Thank you for contributing samples, but we need moar of them.

As per https://www.imaging-resource.com/PRODS/fuji-x-t4/fuji-x-t4A.HTM

So there are likely 3 raw modes. We need a sample for each one.
And please ideally all three new raw images should be of the same static scene,
if possible.

[2020-05-08 08:10] frli8848 commented on #4943
OK. I Will check which RAW modes that are available in the current fw.

[2020-05-08 08:14] Nilvus commented on #4942
Did you read the manual (https://darktable.gitlab.io/doc/en/overview_chapter.html#program_invocation)? This file stores all image information, so also history work on darkroom (XMP are only last saved state) and so allow also to use cancel/redo shortcuts, etc.

I don't see a "big giant cache". If you have one, it's probable because you have thousands and thousands images. This file is important to

[2020-05-08 08:19] #4942 closed

[2020-05-08 09:04] dterrahe opened #4944 "Selecting IOP color picker doesn't deactivate color picker module"
Only one color picker can be active at the same time. If a color picker is selected in an IOP module, all the other color pickers in the same or other modules are deactivated. However, if a color picker is active in the separate color picker module (left side of darkroom), it _stays_ active (and the "add" button is _not_ greyed out) when a color picker is selected in an iop model (right side).

1.

[2020-05-08 10:20] Nilvus commented on #4919
Make some tests and Ctrl+z/Ctrl+y works great. Thanks for the fix. We now will hope this is the last iop order issue fixed and there's no more similar ones.

[2020-05-08 12:03] scheckmedia commented on #4934
@wpferguson Thank you for your fast answer. Meanwhile, I've selected another approach. I'm using now a fixed number of possible tag widgets and have implemented a pagination approach. I think this is better than scrolling hundred of possible tags in darktable.

I will contribute the script to the Lua scripts repository in some days.

![photils](https://user-images.githubusercontent.com/1307133/814

[2020-05-08 12:14] Nilvus commented on #3207
@elstoc: I just suggest to add the font size, nothing else, as it's the only thing we often have questions/asking here and on main darktable forums. For anything else, CSS guides/recipes will of course be the best thing (but not for me, I prefer use my time for something else ; I only help sometimes people asking for something to tweak, no more).

If that text could be easily translated and if we

[2020-05-08 12:27] parafin commented on #4942
library can be set :memory: in config file I think

[2020-05-08 12:29] TurboGit commented on #4919
Thanks for testing !

Yes, crossing fingers :)

[2020-05-08 12:30] Nilvus opened #4946 "Improvements suggested for star icon and it's overlay popup"
**Is your feature request related to a problem? Please describe.**
We now have a great overlay popover menu when clicking star icon. But there's 2 things to improve:
- star icon is clickable, even on modes where this is not useful and not applicable (preview and culling modes)
- the size feature (with setting on preferences window) is not really clear (I myself didn't really understand what it is

[2020-05-08 12:44] frli8848 commented on #4943
I have now uploaded three .RAF files (on a X-rite colorchecker classic):
1) uncompressed
2) Compressed lossless
3) Compressed

[2020-05-08 12:47] LebedevRI commented on #4943
Thank you!

[2020-05-08 15:15] GrahamByrnes opened #4950 "Add delete to duplicate manager for unduplicated files"
It would be nice to be able to delete from the darkroom without having yet another keyboard short-cut I can't remember, or more buttons.

At present, if I create a duplicate image, each has a little "X" to delete inside the duplicate manager. It disappears once only one version is left.

Why not keep it? It would be a very lightweight way to add the delete function.

[2020-05-08 15:28] ptilopteri commented on #4950
there already exists a "delete function",
grep -i delete ~/.config/darktable/key*

keyboardrc:(gtk_accel_path "<Darktable>/modules/image/delete from disk" "Delete")
keyboardrc:(gtk_accel_path "<Darktable>/modules/image/delete from disk or send to trash" "Delete")
keyboardrc_default:(gtk_accel_path "<Darktable>/modules/image/remove from collection" "Delete")
keyboardrc_default:(gtk_accel_path "<Dar

[2020-05-08 15:33] progo commented on #4942
Okay got it thanks. I was under a false impression that the library only contains cached analysis of imported files.

[2020-05-08 15:36] GrahamByrnes commented on #4950
"... without having yet another keyboard short-cut ..."

The duplicate manager is a panel on the left in darkroom view, titled: "duplicate manager".

[2020-05-08 15:38] ariznaf commented on #4922
Sorry if this does not go here. If I should create a new issue, please point me to instructions of how I should do it.

Tamron SP 70-200 f2.8 Di VC USD (first version) lens is not recognized with canon cameras, at least not with my canon 80D and under Windows 10 64bits.
So automatic lens correction does not work, it is detected just as "255" lens.
But the lens is listed in lensfun database.

After

[2020-05-08 15:46] jcubic commented on #4922
@ariznaf this is completely not relatated, EXIF data and lens information are different thing, this is issue is like compare to missing file extension and you bring issue about not supported lens. Please create another issue.

[2020-05-08 15:51] jenshannoschwalm commented on #4944
Taking this as a reminder; shouldn't we also make sure to deactivate the pickers if any mask is **added**?

[2020-05-08 15:57] dterrahe commented on #4944
Probably. I'm planning to go over the color picker code and hopefully dramatically simplify it after #4925. Expecting that it will be easier to get rid of any problem corner cases afterwards/during. So if you are OK with that, I'd say don't spend too much time on fixing issues with the "old" code now. But please do add reminders like these here, so I know what to carefully test.

[2020-05-08 16:08] wpferguson commented on #4934
@scheckmedia, I like the pagination. Nice idea, nice solution.

@TurboGit should we leave this open or close it.  The issue is that when you create a large number of widgets in a lua script the garbage collector gets confused and throws errors.  This can result in a darktable crash.  I raised the issue to @boucman several years ago, but I don't think he ever found a solution.  There is a work arou

[2020-05-08 16:48] Nilvus commented on #4922
@ariznaf: it's absolutely not related to this one and nor to darktable. There's no exiv2 distributed with darktable. Exiv2 is a library installed in your OS regardless of darktable (but needed by darktable). So all Exiv2 issues should be on Exiv2 github library. And you will see on the Exiv2 github that you're not the first about Tamron lenses.

[2020-05-08 16:50] Nilvus commented on #4922
And @jcubic: you never answer to my asking (quoted again just above here). I never ask of the Exiftool output but on image infos module on the left of lighttable. Did you have lens id number or the complete normal lens name? A screenshot of this part about the NEF you export would be good.

[2020-05-08 16:56] ariznaf commented on #4922
Sorry if I misunderstood the title of this topic.
I will open a new issue then, just wanted to contribute with the info for this lens.
I don't know if exiv2 is distributed or not with darktable, I am just a darktable user (not long ago).
But some internal use of exiv2 is doing darktable.
I just created the exiv2.ini file in my user config directory and darktable recognized the lens in photos taken

[2020-05-08 17:03] ariznaf opened #4951 "Tamron lens not being recongnized and recognized after changin exiv2 config (on windows)"
This is not really a bug. But I could not find a better place.
There is a place to ask for camera inclusion but not for lenses.

Tamron SP 70-200 f2.8 Di VC USD (first version) lens is not recognized with canon cameras, at least not with my canon 80D and under Windows 10 64bits.

So automatic lens correction does not work, it is detected just as "255" lens.
But the lens is listed in lensfun databa

[2020-05-08 17:04] bhlevca opened #4952 "Darktable (origin/master) crashes randomly in lighttable and constantly when entering darkroom"
**Describe the bug**

After opening the freshly compiled darktable and after converting the database all the pictures and collections from the previous version show up.
When clicking on the Import->folder  the application crashes almost immediately. A backtrace is provided below.

I tried with a completely new config file (wiped out the existing one to make sure that no configurations issues produ

[2020-05-08 17:51] Nilvus commented on #4922
I understand totally that you don't know that, no problem at all but why open a new issue If I inform you that an exiv2 issue and not a darktable one. darktable only shown what exiv2 report.

[2020-05-08 17:58] Nilvus commented on #4952
Last master is about 90 commits since release you use. On actual master, I have no crash (last import tried just this day). Actual master is 3.1.0+1481 and you use 3.1.0+1393.
You could also have sometimes crash related to your system or even the package you use. darktable team do not provide support for packages like this as they do not create them. And the Opensuse master repository is an automa

[2020-05-08 18:02] jade-nl opened #4954 "darktable-cli crashes (3.1.0+1480)"
**Describe the bug**
When running darktable-cli it crashes and produces a backtrace.

**To Reproduce**

1. Install latest development version (3.1.0+1480)
2. Run darktabl-cli file.raw file.raw.xmp out.jpg
3. see it crash and burn....

**Expected behavior**
Not to crash.

**Platform (please complete the following information):**
* darktable-cli : 3.1.0+1480
* OS               : Linux - kernel 5.4.0

[2020-05-08 18:05] ariznaf commented on #4922
I have not installed exiv2, just the download from darktable for windows.
I don't know about exiv2 nor use it or have installed it in my windows machine.
Don't know where to report it to exiv2 users nor have been registered with exiv2 in any site.

I put it here in order to inform that small problem with windows and the solution if other windows user has a similar problem using darktable, until so

[2020-05-08 18:08] bhlevca commented on #4952
I have 3.1.0+1480-g1b14fcc4b

It was pulled 2 hours ago and I compiled it myself. If you open the file I have originally attached you will see the version, it is on the first line

[2020-05-08 18:10] ptilopteri commented on #4950
errr, ok, was looking where I would expect to see, lighttable.  Doesn't seem appropriate to locate that in darkroom view.

and about "... without having yet another keyboard short-cut ...", that shortcut has been in dt maybe as long as I have used it, >9 years if memory serves.

[2020-05-08 18:11] Nilvus commented on #4951
Did you search on Exiv2 github? If this lens is not added on Exiv2, it will not be added on darktable as I said and even on Windows package. And on canon and related lenses, it doesn't seems to be on exiv2. Check here: https://github.com/Exiv2/exiv2/blob/master/src/canonmn_int.cpp

And the place for workaround is on pixl.us not here. Think that this place is to help developers to improve darktable

[2020-05-08 18:12] Nilvus commented on #4923
@TurboGit: this one could be closed.

[2020-05-08 18:17] Nilvus commented on #4952
I have open the attached file and on first line it's written:

`darktable 3.1.0+1393~g44d7ff02a-dirty`

And there's no 3.0.3 release. Last one is 3.0.2. So maybe there's some specific issues on Opensuse repository. Packagers are on pixl.us forum.

[2020-05-08 18:21] bhlevca commented on #4952
Yes, unfortunately I loaded an old file  here is the one form today

[darktable_bt_YJDBK0.txt](https://github.com/darktable-org/darktable/files/4600825/darktable_bt_YJDBK0.txt)

No, it is 3.0.2 I just wrote from my memory.

The fact of the matter is that 1480 is still crashing. I picked up a few more changes and I will test with that, perhaps i the 1481 version you mentioned.

[2020-05-08 18:24] ariznaf commented on #4951
Thank you I will try to open an issue there, if it can help to fix it in other versions.

As long as I know pixls is not the official forum of darktable developers.

I have develope some software too, time ago,  and I problems or bugs with libraries that I used in my software a problem with my software.
I did not expect users to know each detail of what library I used.
If there was a problem with

[2020-05-08 18:29] bhlevca commented on #4952
I deleted .config/darktable and tested with this one (+1480) and It imported 5-6 pictures after which I got

[code]

[2020-05-08 19:10] TurboGit commented on #4934
@wpferguson : I have zero experience with Lua, I think that your proposal to close this is ok as reading your message makes it clear that the issue is rare and that we won't have a solution very soon!

[2020-05-08 19:10] #4934 closed

[2020-05-08 19:18] AlicVB commented on #4946
in culling, preview, darkroom, etc... this is tied to filmstrip, like it was before. I admit this is not clear at all but I'm not sure how to solve that... Maybe at least we can add a text in the popup label ?

I wanted to add the size values in the popup label, but I forgot it along the way...

What I can propose for the popup label is a text like :
`overlay mode for size 2 (250px -> 800px) (film

[2020-05-08 19:32] Nilvus commented on #4946
Not needed. I never use filmstrip on these modes and only use it on darkroom so didn't think of that. text popup label is in reality clear about that as it talks about thumbnails. So you could forget what I ask here about the star icon.

Not the best thing I think. Sizes (so 2 (250px -> 800px) for your example) are probably better on preferences textview tooltip. What it's not clear (now that I fi

[2020-05-08 19:34] #4954 closed

[2020-05-08 19:34] TurboGit commented on #4954
Fixed. Thanks for the report.

[2020-05-08 19:59] AlicVB commented on #4666
This is done in master

[2020-05-08 19:59] #4666 closed

[2020-05-08 20:00] AlicVB commented on #3469
Should be fixed in master now

[2020-05-08 20:00] #3469 closed

[2020-05-08 20:34] elstoc opened #4957 "lighttable image display changes on reload"
I have a collection containing 4 images and I have the lighttable (file manager) set to display 4 images per row. When I initially open darktable all of the four images in my collection are displayed together on the top row.

![Screenshot_2020-05-08_21-29-41](https://user-images.githubusercontent.com/9555491/81446554-0e92f500-9173-11ea-84a9-f4c0bb2b0b09.png)

If I double-click, say, the second ima

[2020-05-08 20:42] AlicVB commented on #4957
All I can say is that's the intended behavior, so that's more a feature request than an issue.
Now for the question if that should change, I admit that I have no clear opinion here...

[2020-05-08 20:51] elstoc commented on #4957
Ok fair enough. Given that it'll reflow when you scroll to the top imo it would be better to not have a different layout when re-entering than before going to the darkroom. And it does feel like a glitch when it reflows to fill the gaps.

[2020-05-08 23:06] grudgingly commented on #4645
Tried git master today and could not reproduce this bug, closing.

[2020-05-08 23:06] #4645 closed

[2020-05-09 01:28] 4044ever opened #4958 "LUT changes appear only in the pilot display, not on main editing screen (Intel 4400 on Windows 10)"
**Describe the bug**
When I apply a LUT3D (cube/png) I can see the change in the pilot display (top left) but not in the main editing screen

**To Reproduce**
I can not reproduce this problem on other PC that I run. Only one has this issue (i3, 4***, Intel 4400)
I tried different dt (3.0.2/3.0.0/rc0-2)

**Expected behavior**
LUT will display in in the editing screen

**Screenshots**
https://i.imgu

[2020-05-09 05:28] #4923 closed

[2020-05-09 05:28] 4044ever commented on #4923
Closed, as it's already in the pipeline.

[2020-05-09 05:31] jcubic commented on #4922
One comment about Original Issue, I have this message when I've run the app from console:
[code]
and next lot of
[code]
I closed the app after few minutes I think that I've only exported one file first opened galler/roll (that had 3 Nef files).

[2020-05-09 06:10] jcubic commented on #4922
From what I see there are no lens info at all for my lenses that are not in lensfun. I think it should not remove lens info if it don't recognize the lens. There is lens info on my old photos like nikon 50mm f/1.4.

[2020-05-09 06:58] Nilvus commented on #4922
You don't answer to my question for the second time so I will let others help here if they want...
I'm quite it's also here an exiv2 issue and not a darktable one but without what I'm asked for, I can't confirm. And I really don't know why you talk about lensfun. Lensfun only apply lens corrections for lenses identified and on lensfun database. So if the lens is not identified by Exiv2 library, no

[2020-05-09 07:33] jcubic commented on #4922
@Nilvus I've installed exiv2 from source still no Lens ID on exported jpeg for both known and unknown lens.

[2020-05-09 07:43] SmuGhub commented on #4653
Allocating more memory fixes the issue.

[2020-05-09 07:43] #4653 closed

[2020-05-09 08:39] Nilvus commented on #4922
I already precise that... You select your raw file and check what is written on lens in image infos module on left panel in lighttable or darkroom... if you see number id and not the name, that means the problem is your lens is unknown to exiv2, so an exiv2 issue, not a darktable one. If in input, exiv2 don't know lens name, then darktable also. And of course if no name in input, no name possible

[2020-05-09 09:03] jcubic commented on #4922
I already written that information:

The Lens ID is in exif data outside of Darktable there is in lighttable on left but not in exported output file.

But if you're asking about exported JPEG files if I open directory of darktable_exported then the lens info is there on JPEG files there is Nikon AF-S Nikkor 28-300 but no Lens ID with same information, I'm not sure from where that information cam f

[2020-05-09 09:12] ariznaf commented on #4951
As expected they reply me that it is a pity I have been directed to ask them.

https://github.com/Exiv2/exiv2/issues/1202#event-3319071961

255 seems to be the number assigned to any unknows lens (-1) by Canon.
As it is a tamron lens in a canon camera, I guess any non canon lens will be assigned this number.

Exiv2 then tried other ways to identify the lens but it fails.
So any other lens not from

[2020-05-09 09:50] dterrahe commented on #4944
Another existing issue that I'll try to address in the next stage but will be carried over in the initial "porting" of the borders/framing module:

1. Select either one of the color pickers in the framing module. This is a point picker.
2. Shift-click module filmic rgb (both modules visible)
3. Would have expected color picker in framing to be deactivated, but it is not (at least; the button is st

[2020-05-09 13:26] undertherain opened #4961 "Nikon D780"
I did not make an upload to pixls.us, but I see somebody did on March 28th, all RAWs are with correct license.

[2020-05-09 13:56] garrett opened #4962 "Presets in collect have swapped "tag" for "camera""
**Description**

When using darktable built from master, selecting a previously stored "collect images" preset (in the lighttable) which previously had the "tag" filter now shows a "camera" filter (with the same text as before). Since the source is now "camera", the presets no longer work, unless manually updated.

(Did a database update or some code change cause the collect's sources to switch?)

[2020-05-09 14:10] Nilvus commented on #4922
No it's not the answer. Image infos and so Exif infos (but exiv2) as nothing to do with lensfun and you talk about old photos. Why talking about old photos? Sorry but your infos are really not clear... as you talk on a thing and another...

So please just be simple and start again. On your first post you talk about DSC_6447.jpg file and so DSC_6447.NEF one.
So on darktable, select this NEF (just t

[2020-05-09 14:18] EC1000 opened #4964 "metadata export: export all values of $(CATEGORYn(category)) when there are several tags at level n"
**Is your feature request related to a problem? Please describe.**
The variable `$(CATEGORYn(category))` gives some great possibilities to use tags in other fields using "metadata export" in export module (examples in the [manual](https://darktable.gitlab.io/doc/en/export_selected.html)).

When several tags (at the same level) are defined under a category, only one value is exported from `$(CATEGO

[2020-05-09 14:26] EC1000 commented on #4964
It is obviously a low priority (it will only affect you if you use one of those "target fields" in another software), but since I noticed it doing some tests, I thought it would be worth reporting it.

[2020-05-09 15:24] GrahamByrnes opened #4965 "Selection broken (?) in culling"
**Describe the bug**

Viewing images in culling does not seem to allow a way to select an image.

Clicking on the image does not select it... hovering the mouse seems to, but if I try to go to darkroom, that is lost and I get "no image selected". same applies for the thumbnails: hovering selects, but clicking does not.

I can double-click to go to dr, but there are also issues with eg deleting or

[2020-05-09 15:25] Thanatomanic commented on #4951
Please take a look here: https://discuss.pixls.us/t/my-tamron-lens-is-not-automatically-detected/17939/28

The Exif.Photo.LensModel tag provides the correct name for the lens. This should be forwarded to lensfun, but instead the Exif.CanonCs.LensType tag is used (which is useless in this case).

[2020-05-09 16:05] Nilvus commented on #4965
If I count correctly, you don't have CSS tweaks needed to finish these modes, so some selected/hover issues you have could be broken on your release. That's probably don't explain all you describe. I use last master (+1495) and culling/preview works great on my side.

[2020-05-09 16:07] igmerti opened #4966 "lens correction with Olympus E-M1 Mark III and zoom lens causes artefacts"
**Describe the bug**
Lens correction causes in some situations artefacts at the corners/borders.
This happens only with Olympus E-M1 Mark III and zoom lenses at maximum focal length,
e.g. M.Zuiko_12-40mm_f2.8 at 40 mm or M.Zuiko_40-150mm_f2.8 at 150 mm.
Using another camera (i.e. Olympus E-M10 Mark III) or not the maximum focal length or a prime lens (e.g. M.Zuiko_75mm_f1.8) causes no problems.

*

[2020-05-09 16:07] GrahamByrnes commented on #4965
Ok, will update :-)

[2020-05-09 16:09] jcubic commented on #4922
As you wish if it's helful the screenshot but I've told you that there are no lens information on that panel, if you want to see this here it is:

![darktable02](https://user-images.githubusercontent.com/280241/81478763-aea65800-921f-11ea-8d7d-e3f1a1e6707d.png)

By old photo I mean photo taken with old lens that show up on left panel:

![darktable03](https://user-images.githubusercontent.com/28024

[2020-05-09 16:13] jcubic commented on #4922
The problem is that on Flickr there are no lens information because there are no "Lens ID" tag in Exif. that is used by other tools not everyone use exiv2 magic to discover what type of lens the image have. Why Darktable remove important information from Exif.

[2020-05-09 16:19] Nilvus commented on #4922
Sorry but as said, when you said that, you talk on same time about old photos and lensfun. So it was hard to know if that sentence was related to which images and the module... lensfun is not the problem here.

So now clear, first screenshot show that exiv2 can't identify your lens. So for this one, you have an exiv2 issue. And of course, having an issue could hide another, so if for other photos

[2020-05-09 16:47] Nilvus commented on #4922
Just remember this PR #4357 (but seems to have been merged on 3.0.1) and this related issue  #4355. @elstoc and @phweyland: now that this issue is clear, any ideas on this one?
On actual master and with my Raw from Panasonic, lens id field is ok on my jpg export. But maybe on NEF?

[2020-05-09 16:54] GLLM commented on #4666
Thank you very much ! Using it as I type :)

[2020-05-09 17:10] TurboGit commented on #4966
This is expected on some lens. You just need to crop after the image has been deformed.

[2020-05-09 17:10] #4966 closed

[2020-05-09 17:23] GrahamByrnes commented on #4965
Well, some things are better: it doesn't seem to crash after importing new images now :-)

However the failure to select in culling remains.

I wasn't able to get stranded with a blank screen after removing an image, but I did manage to get this:
![image](https://user-images.githubusercontent.com/58031430/81480489-722c2980-922a-11ea-8d6a-2fac41579306.png)

[2020-05-09 17:24] TurboGit commented on #4962
I understand what is going wrong...

We have re-ordered the collections to propose them properly grouped by theme. All dates, all metadata, all exif based information... etc. But the preferences are referencing the filters with a specific order! I'll see if this can be fixed.

[2020-05-09 17:49] AlicVB commented on #4965
@GrahamByrnes : as you may have noticed, I've very recently rewritten all the culling and preview part, like what I've done for filemanager weeks ago. The amount of change was huge, so that's expected that there's some glitches and issues on this part.

Now for your question about selection in culling : there's 2 culling mode dynamic and fixed
- in dynamic mode, the image you see are the selected

[2020-05-09 17:54] GLLM commented on #4666
@AlicVB : I noticed that the <i> and <b> do not work, is it expected ?
They do in tooltips.

[2020-05-09 17:57] AlicVB commented on #4666
@GLLM : yes it's expected, as I forget it :P I'll take care !

[2020-05-09 18:07] GrahamByrnes commented on #4965
No question, bravo for the work! As you say, some of the issues above may be legitimate choices. I expect thay will be debated as more people try them, which must be a good thing.

However, I think having the module "selected image" delete an image which is selected "off screen" is dangerous...

[2020-05-09 18:23] #4962 closed

[2020-05-09 18:24] TurboGit commented on #4962
Should be fixed, can you test again ?

[2020-05-09 18:52] AlicVB commented on #4666
@GLLM : PR done here : #4968

[2020-05-09 19:08] Mark-64 commented on #4965
I noticed this behaviour: if you are in fixed zoom mode with N images and then you move to dynamic zoom, you start with N images, which is expected.
Then you can decrease/increase the number of images shown by CTRL+click in/out of the selection in filmstrip.
This works until there are two images in the selection, but if you reduce to one, then suddenly the number of image shown jups back to N, whe

[2020-05-09 19:33] jcubic commented on #4922
I can share the NEF file but it's every one of the photos I've used in Darktable, probably your own exported photos uploaded to Flickr website will not have lens data, because what I've tracked there is no "Lens ID" Exif tag in output file, whitch in any case should not be related to exiv2 and details in program. It should just read the property and write that property.

[2020-05-09 19:36] elstoc commented on #4922
Try unticking 'develop history' in the export options (gear icon next to the export button). If that resolves it, then it's probably related to #4355.

[2020-05-09 19:55] Nilvus commented on #4922
As I said, it's the opposite for me: I have this lens ID name on all my jpg exports. So on my side, with my RAW, darktable read the property and write that property. The issue is elsewhere (or has been resolved on master).

Never said that. exiv2 issues are only when they're no LENS ID name on image module infos (why I insist for that). write exif data on export is a darktable thing.

[2020-05-09 19:59] #4783 closed

[2020-05-09 20:00] #4634 closed

[2020-05-09 20:00] ItaloCunhaBueno commented on #4634
Closed as it was fixed

[2020-05-09 20:01] ItaloCunhaBueno commented on #4783
Closed as it it's not a "bug" but a scale perception issue

[2020-05-09 20:23] Nilvus commented on #4951
As the "pity" is for me, just take in account that's anyway your workaround is provided by exiv2 nor darktable. Some similar issues like yours have been, by the past, solved by pull requests posted merged on Github exiv2 (just check them and see, for example, all Tamron lenses added by default on their database).
So for this man, the pity is that I didn't know that he stop merging lenses on their

[2020-05-09 20:36] Nilvus commented on #4951
Just an add: I didn't know that 255 number was for that (sorry to not know all exiv2 details) but that doesn't change that your problem is, at first, related to exiv2 (your solution is provided by exiv2 library as this man says). @clanmills answers show that he know quite better things related to this than me (or probably most of darktable developers. Quite normal: exiv2 and lens identification is

[2020-05-09 20:59] Thanatomanic commented on #4951
@Nilvus I am confused why you still seem to claim this is an issue in exiv2.
The information I linked to on the pixls forum clearly shows that the lens model is _correctly_ identified by exiv2. However, due to mechanics I don't know, darktable picks another field of metadata and therefore only gets the "255". I assume it could/should also check the Exit.Photo.LensModel tag and try to match it with

[2020-05-09 21:14] ariznaf commented on #4951
Nilvus, your are killing the messenger.

I only have said what I was answered there.

I do not know whether this is a problem in exiv2 or darktable, I don't know what exiv2 is supposed to do exactly.

I just have pointed a problem I had using darktable.

I am happy using darktable and grateful to the developers both, darktable developers and exiv2, that have given us the time and effort to have th

[2020-05-09 21:49] TurboGit commented on #4951
Which field (Exif.Photo.LensModel ?) ? Can you provide a RAW ?

[2020-05-09 21:54] Nilvus commented on #4951
Just because it was fixed with the exiv2 config file and because most of the time lens id number is related to exiv2. And I didn't follow pixl.us thread. That means there was on start 2 issues:
- first one to associate lens id to name with the exiv2 file introduced in exiv2 0.25
- second one you point. This one seems to be darktable one indeed. But I can't help here for that.

So maybe the real is

[2020-05-09 22:17] clanmills commented on #4951
Folks

I've been working on Exiv2 since 2008.  The project began about 2004, I believe.  Lens Recognition was added to Exiv2 before I joined the project.

Lens recognition is very troubling because the Exif Spec doesn't define how to record this in the metadata.

Exiv2 has two ways to report metadata.  By value (option `-pv`) and By Interpretation (option `-pt`).  Sometimes the conversion from val

[2020-05-09 22:27] ariznaf commented on #4951
Of course here you have it

https://discuss.pixls.us/uploads/short-url/9mkVwZYgcIuNSfdQTuvk9eFMfSs.CR2

[2020-05-09 23:07] phweyland commented on #4922
Have made some checks with current master.  The field Exif.NikonLd3.LensIDNumber is present in jpg file.
The exported jpg has a bit less exif data than the nef file.
Two cases, none of which covering your case:
- some of them are removed by dt itself (I don't know why),
- the exif.subimagex.yyyyy ones,

Note. In the case of #4355, no exif data were exported. This is not the case here.

Please shar

[2020-05-09 23:13] phweyland commented on #4964
I don't know if there is an easy solution, but that makes sense indeed...

[2020-05-09 23:18] phweyland commented on #4958
Is that the same case as described on pixls.us [here](https://discuss.pixls.us/t/darktable-style-vs-lut/17908) ?

[2020-05-09 23:39] phweyland commented on #4951
If I'm not mistaken you have not mentioned you had updated the lensfun database.
It should be done by with lensfun-update-data. Would that help ?

[2020-05-10 03:06] 4044ever commented on #4958
Yes, some, with a few logs. Still tapping in the dark.

[2020-05-10 06:03] jcubic commented on #4922
@Nilvus is there any old library on my Fedora system, that may case this?

If this helps here is my NEF file http://jcubic.pl/DSC_3862.NEF it it works on your system then it's probably something with my setup. Maybe some other package is also old.

[2020-05-10 06:22] Thanatomanic commented on #4951
@Nilvus @clanmills Unfortunately, the premise of this issue was wrong, causing a lot of confusion. A [short investigation on Pixls](https://discuss.pixls.us/t/my-tamron-lens-is-not-automatically-detected/17939/28) showed that no modification to the exiv2 config file was actually ever needed in the first place. All the useful metadata is right there. So the title of this thread is unfortunately mis

[2020-05-10 06:29] jcubic commented on #4922
I've tried to write Lens ID tag by hand but it seems it's not possible it's composite tag. See [Setting value to LensID tag](https://exiftool.org/forum/index.php?topic=2271.0)

[2020-05-10 07:04] googol42 opened #4969 "Input field for offset in geotagging panel is reset"
**Describe the bug**
When I try to change the offset when geotagging my images the offset I choose is not accepted by the gui. I also started darktable with `darktable --configdir /tmp/darktable-config/` to ensure that there is no problem with my config.

**To Reproduce**
1. Start darktable
2. go the the lighttable
3. Open the "geotagging" panel
4. change the offset, e. g. to +01:00:00

**Expected

[2020-05-10 07:09] clanmills commented on #4951
It sounds as though Exiv2 (and therefore me) are no long suspects _"helping the police with their enquiries"_  I'm glad about that.

About 50% of the issues raised on Exiv2 concern Lens recognition.  I wish Exiv2 had never become involved with in Lens recognition.  I hope we will have a BOF discussion about this at LGM in May 2021.

[2020-05-10 07:31] #4951 closed

[2020-05-10 07:31] TurboGit commented on #4951
Should be fixed in master.

[2020-05-10 07:53] rafalkrupinski commented on #3459
Dear @github-actions, the problem still occurs in 3.0.2, don't close the issue just yet.

[2020-05-10 08:00] googol42 opened #4970 "Recursivly add father tags when tagging images"
**Is your feature request related to a problem? Please describe.**
Tagging images is great. Let us assume you have a tag called "Nature". But you like to take picture of let us say "Flowers". But you consider flowers also nature. So you structure your tags like
- Nature
- Nature|Flowers

When Tagging your images I find it cumbersome and error prone to add both (and possible even more tags, e. g. I

[2020-05-10 08:09] jcubic commented on #4922
@elstoc unticking 'develop history' don't make a difference.

[2020-05-10 08:21] Nilvus commented on #4951
Indeed, most of the times is wrong premises causing lot of misunderstanding. The more important thing is now it's clear and the issue is finally fixed.

My mistake!

[2020-05-10 08:24] Nilvus commented on #3459
Don't worry, it's a bot and this will not be closed until a year.

[2020-05-10 08:27] TurboGit commented on #4951
@Nilvus : Not really your fault, the way the lens exif data is read by dt (and probably due to difference in way maker are recording this info) is a mess if you ask me. The code I put in place certainly does not clean-up things. I suppose we would want to have a safe default if no proper match works.

[2020-05-10 08:40] Nilvus commented on #4951
Good to read that. Thanks @TurboGit

[2020-05-10 09:07] Nilvus commented on #4922
@jcubic: I've tested your RAW on my actual darktable release (recent master) and I also install darktable 3.0.2. On both I have lens name on image infos in darktable, so in input and on jpg also after export. But as you can see there's some differences on exported Exif infos between them (taken from gthumb software). Quite normal as some metadata work has been improved/added on master.

3.0.2 expo

[2020-05-10 09:20] jcubic commented on #4922
I've downloaded the jpeg file and it don't have "Lens ID" according to exiftool? There was strage behavior I was able to see lens detail when I opened exported jpeg file in Darktable but the exiftool showed that it don't have Lens ID. Maybe Darktable to some extra stuff and don't show actual lens ID maybe it calculate those tag value but don't save it.
[code]

To be sure I've also upload it to fli

[2020-05-10 09:38] ariznaf commented on #4951
Not my goal to look for cultripts.
As you will have deduced, I am not native english speaker and it is difficult for me to express correctly.

Again, I am grateful for this software, I think developers have done a great job, that is why I am using it.
And just wanted to contribute to solve a problem with a lens.

As an end user it seemed quite simple contribute the exif data for the lens to be add

[2020-05-10 09:45] Thanatomanic commented on #4951
@ariznaf I'm sorry, but you miss the point entirely. There is no need for a general solution, because there is no general problem. exiv2 already does its job perfectly, without _any_ need for a special config file. It was the _interpretation_ of the metadata that needed a little modification.

[2020-05-10 09:45] ariznaf commented on #4951
I have not modified lensfun database.
I just looked in lensfun database to see which was the correct name for the lens.

I am not an expert in lensfun either (I have read about it just right now that I am using darktable) but it seems it has a short name display or coloquial name for the lens and a list of detailed names.

The detailed name (model) matches exactly the Exif.Canons.LensModel and Exi

[2020-05-10 09:49] Nilvus commented on #4922
But gthumb show lens ID so there's another problem. And indeed exiftool doesn't show this line too on my side. So I check with exiftool my recent jpg (and older ones) exported from my Panasonic Raw with darktable and exiftool show Lens ID for my files. So the problem is probably related to some lens. Maybe something similar finally to @ariznaf and #4951.
I can't help more here. @phweyland or @Turb

[2020-05-10 09:50] ariznaf commented on #4951
I did not pretend to know how darktable or exiv2 make their job.

If I mentioned about the LensType field and the 255 being unknown is because I was addressed in Piexls.us to an article that explained that you had to map it to you lens in exiv2 and that was the solution.

I have provided what my situation was and the exif data of my raw.

[2020-05-10 09:59] GLLM opened #4975 "Can't save metadata to actual JPEG file anymore (not XMP sidecar)"
Hello,

I think it's a bug but I'm not 100% certain as I cannot find anything in the doc about it.
I have the feeling I was able to do this before, but cannot confirm

I use DT to add some descriptions & titles to my JPEG files.
I'd like those be be saved in the actual JPEG files, and not only in the XMP sidecar.

I've tried every menu I could to save metadata, refresh exif (merge & overwrite), sy

[2020-05-10 10:03] jcubic commented on #4922
Just an idea, gthumb is using exiv2 library maybe LensIDNumber is generated by the library but actual "LensID" tag is missing or maybe some of the child tags (LensID is combo tag) is missing. I can create issue bug/question on exiv2 repo maybe they know have some clue.

[2020-05-10 10:16] GLLM opened #4976 "[Feature] Enable the Folders in Collect images to show only the selected folder or the selected folder + its subfolders"
Hello !

I only browse my pictures by folders, using the Folders option in the collect module.
All my folders do contain :
* my pictures : containing the actual pictures + my assembled pano and HDR pictures
* a pano_part folder, which contains the component of panoramas
* a HDR_part folder, which contains the component of HDR pictures

Whenever Is select a folder, I see all pictures from both the

[2020-05-10 10:26] jcubic commented on #4922
On this is the output of my check:
[code]

tags file is:
[code]

According to exitool forum "Lens ID" is composite tag that use all those exif tags, and I think that LensIDNumber is fake tag created by exiv2 using lenses it recognize.

[2020-05-10 10:26] googol42 commented on #4970
I realised that there is even a better solution: Just change darktables behaviour, that sub tags are included in father tags (optional with a global checkbox to turn this on/off).

This is IMO better, because the GUI behaviour matches with the resulting tags in the images (when exporting). We avoid clash of semantics. The semantic when exporting an image tagged "Nature|Something|Flower" is that al

[2020-05-10 10:27] parafin commented on #4966
Isn't there an automatic crop option in lens correction? Does it fail?

[2020-05-10 10:33] Nilvus commented on #4922
I don't check that gthumb is using exiv2, so if it use it, that's not exiv2 related. So don't create issue on exiv2 repo. And as I said, I have lens ID on export for my RAW. So this is related to your RAW and it's not a general problem but a specific one in darktable. So please wait (and avoid posting any other thing to help others check your issue and if that needs a fix on darktable), like what

[2020-05-10 10:42] Nilvus commented on #4975
@GLLM: on all menus you've tried, did you tried and set options in export module (spinbutton just on the right of export button)? You should see a metadata line to select.

[2020-05-10 11:17] phweyland commented on #4970
When you tag an image with the last level tag, your image potentially holds all the tags of the path.
1. in collect module you can select any level of tag and collect the images tagged with descendants (ctrl-click or shift-click),
2. at export time, you can ask to omit or export all the hierarchy

See the manual.

[2020-05-10 11:29] phweyland commented on #4969
I cannot reproduce this with current master.

[2020-05-10 12:45] ptilopteri commented on #4976
You already have this capability using "Collect Images"
and the drop-down menu "narrow down search"

I cannot make a screen-shot for you as dt is taking focus
and will not accept outside key strokes

[2020-05-10 12:59] SK53 opened #4977 "Attribution of OpenStreetMap in Map tool"
**Describe the bug**

OpenStreetMap is not credited on screen as is **required** by OSM's [copyright](https://www.openstreetmap.org/copyright) T&Cs. The widget used provides a call to access attribution, it should be used.

**To Reproduce**

1. Go to "Map"
2. Look for visible evidence of an OSM copyright statement (e.g., bottom right or bottom left of map)
3. Not present => error

**Expected behav

[2020-05-10 13:03] parafin commented on #4977
Duplicate of #3443

[2020-05-10 13:03] #4977 closed

[2020-05-10 13:08] SK53 commented on #3443
Its no good just closing issues you need to resolve it.

[2020-05-10 13:24] parafin commented on #3443
It was fixed upstream in https://github.com/nzjrs/osm-gps-map/pull/48 but there was no release of osm-gps-map since forever. darktable includes code to show that widget. Not sure what else should we do. What about bugging osm-gps-map developers to do a release?

[2020-05-10 13:44] TurboGit commented on #4922
@jcubic : looking at your screenshot it seems you are building an unsupported branch as you have the 4 new timestamps. This PR is not yet merged into master.

So please, build a version from master or using latest release for your OS. And it would be nice to send screenshot after having selected the English language it would really help us. Thanks.

At this stage I'm confused it started as if the

[2020-05-10 14:03] phweyland commented on #4922
dt doesn't transform these tags. All the work is done by exiv2.
Indeed, Exiv2 doesn't report the Lens Id tag, even for your nef file, but the code (165) is available under Lens ID Number:

[code]
The enumeration of available tags for LensID according to exiv2 is:

![image](https://user-images.githubusercontent.com/23012047/81500676-2b7e1400-92aa-11ea-96d6-48d61e3e790c.png)

Yes, similar, but not t

[2020-05-10 14:23] ptilopteri commented on #4976
here is a screenshot
![Screenshot_20200510_101904-1](https://user-images.githubusercontent.com/32614680/81501797-3a63c700-92a8-11ea-871f-f92aec910791.png)

[2020-05-10 15:10] GLLM commented on #4976
Hi @ptilopteri !
Thank you for taking the time to reply !
I found what you mention ... but ... i cannot change the folder I'm browsing until I clear the additional criteria added by the Narrow down this search.

So, indeed, it kinda works, but requires many clicks to be activated then deactivated ...
Could probably be more straightforward :)

Thanks for the hint though !
GLLM

[2020-05-10 15:13] GLLM commented on #4975
HI @Nilvus !
Thanks for your swift reply.

I'm not exporting file ... just working on my pictures' library ;)
Trying to impact the original JPEG file's IPTC/EXIF.

Thanks

[2020-05-10 16:33] TurboGit commented on #4922
@phweyland : the lens tags are using Nickon3 name, maybe the issue ?

[code]

[2020-05-10 16:44] phweyland commented on #4922
Maybe, but not sure. In the example given by @jcubic the first problem is that exiftool extracts different information between nef and jpg, while exiv2 remains coherent.

The other issue is that flicker, according to @jcubic, uses something called LensID which is not provided by exiv2.

[2020-05-10 17:55] GrahamByrnes commented on #4952
@bhlevca Have you tried again with a more recent master? I also had a series of crashes with +1481, which disappeared when I moved to 1496. They were different, but were due to changes in the CSS (I'll trust @Nilvus on that... he said it would work, it did).

Since there were a lot of changes done around that time, it might be worth trying again to see if the problem has been solved.

[2020-05-10 18:10] wwwFrank opened #4979 "Could not get original size in export after rotation"
Darktable should be able to export a picture in the EXACT original size of the rawfile, even when the orientation (portrait/landscape) is rotated.

I took a series of pictures for panorama-stitching with hugin. All pictures are take with same camera and lens as raw (Olympus E-M1 Mk.II). All raw show the size w=5240 h=3912.
The horizontal pictures arround are taken in orientation=portrait and are a

[2020-05-10 18:32] GrahamByrnes commented on #4965
Mea culpa, I hadn't read the manual for the raison d'être of culling mode.

I still think there could be some discussion about the choices, but I should have been calmer about this. I can say that now I've gotten away from +1481 and I can change to file manager without a crash, that view seems to be working impeccably.

[2020-05-10 18:35] jcubic commented on #4922
@phweyland I'm only guessing that flick is using LensID that was the only full tag in exiftool that showed the lens information like flicker use to show.
@TurboGit I used master branch from this repo, if it have PR that was not merged then maybe you have problems with the repo.

And general original issue was Tamron lens because this is the lens that I use the most, the other file is my older lens

[2020-05-10 18:52] TurboGit commented on #4922
@jcubic : indeed sorry, I'm reviewing the code for adding the timestamps into the collect module but the timestamps are already in the image information. I was confused.

[2020-05-10 19:23] Nilvus opened #4981 "infos area text broken if variables contains invalid markup chars"
@AlicVB: on all overlays modes where bottom image infos text area could be shown, this text is no more visible. Broken by commit 6ae2f2c504f0ef98c6ced5c523bf2c3e13fecb07

[2020-05-10 19:40] Nilvus commented on #4965
@GrahamByrnes and @Mark-64: I think this PR by @AlicVB could help and be tested for that:  #4980

[2020-05-10 19:47] MStraeten commented on #4952
can confirm an import issue with current master on osx when reimporting a directory already imported with existing xmp files. After deleting the xmp files a reimport doesn't crash.

[code]
[darktable_crashreport.txt](https://github.com/darktable-org/darktable/files/4606639/darktable_crashreport.txt)

[2020-05-10 20:19] bhlevca commented on #4952
Actually it is worse now. It would not open at first crashing while loading.  I deleted the ` ~/.config` file and I could have it started, I imported a directory again and it crashed midway. A treace dump is attached.  I have version `3.1.0+1511~ge16dde635`:

[darktable_bt_WC4AK0.txt](https://github.com/darktable-org/darktable/files/4606688/darktable_bt_WC4AK0.txt)

I am on Linux.

[2020-05-10 20:44] jenshannoschwalm commented on #4952
I think we need one of the xmp files to see what's wrong with them.

[2020-05-10 20:45] AlicVB commented on #4981
hmm... I can't reproduce with current master.
Just to be sure : you don't see the text at the bottom with all mode that should show it : permanent extended, hover extended, mixed, block. I'm right ?
Have you something special in the pattern ?

[2020-05-10 21:01] bhlevca commented on #4952
@jenshannoschwalm You got it right.  You gave me the idea to see what is in those directories.

Here is what I noticed.

1.  If I delete the config file and the xmp files  ( or a new directory only with raw files) the directory imports correctly.
2.  If I import  the directory that already had an xmp file from a previous vrersion it segfaults.

Here is a new xmp which is corectly created

[_BHP048

[2020-05-10 21:10] bhlevca commented on #4952
I noticed something else with this version. If you have nested directories (see below) and there is no picture file in the immediate branch the import is refused.  This used to work  in previous versions, I think.  If not it should be made so. Should I open another bug report?

For example

[code]

[2020-05-10 21:49] elstoc opened #4982 "crop & rotate shows as having focus when changes committed"
#4927 introduced a change to make the currently in-focus module have a different appearance.

When you double-click on the image to commit changes in the crop & rotate module, the module loses focus (calls ``dt_iop_request_focus(NULL)``). However, the indicator still suggests that the module has focus.

Ideally all calls to ``dt_iop_request_focus`` should ensure that the indicator is set/unset app

[2020-05-10 21:54] Nilvus commented on #4981
Yes, it's exactly that. And i don't have something special in pattern. With same CSS and previous commit, I have the text. When using your commit and after, no more text.

[2020-05-10 22:22] LebedevRI commented on #4824
Thanks, those look good, will wrap up a few more camera support issues and push tomorrow.

[2020-05-10 22:26] Nilvus commented on #4981
I've made some tests and find the issue: a quite tricky one. I had made the mistake to add a & in a folder name (just one) and so on file name. And that's the one I was using when seeing the issue. I moved to some other folders and image infos are there. On the folder with the & in the name, when removing $(FILE_NAME) tag, text is back. I've tested again without your last commit and text was ok, e

[2020-05-11 02:55] chhil opened #4984 "[Denoise bilateral filter] Image becomes unusable with black and grey lines"
"c:\Program Files\darktable\bin\darktable.exe" --version
this is darktable 3.1.0+1512~gba0fbe0d4
copyright (c) 2009-2020 johannes hanika
darktable-dev@lists.darktable.org

compile options:
  bit depth is 64 bit
  normal build
  SSE2 optimized codepath enabled
  OpenMP support enabled
  OpenCL support enabled
  Lua support enabled, API version 5.0.2
  Colord support disabled
  gPhoto2 support enabl

[2020-05-11 03:04] chhil commented on #4984
Opencl on/off does not make a difference.

[2020-05-11 05:10] jenshannoschwalm commented on #4982
The button is not redrawn...

[2020-05-11 05:18] jenshannoschwalm commented on #4952
I can't reproduce the issue here. To make sure we don't have a module-parameter-xmp issue, please share the image file for  _BHP0486.ARW.txt as that might be broken.

[2020-05-11 05:23] ahangarha opened #4986 "Import Lightroom catalog from lrcat file"
**Is your feature request related to a problem? Please describe.**
The issue is that I have been using lightroom till few years ago. That time I used to same catalog in unified format in lightroom catalog (`lrcat`). I didn't save anything in XMP files.

**Describe the solution you'd like**
As lrcat is a sqlite database and is easily readable, it should be easy to read it and fetch relevant data fr

[2020-05-11 05:26] jenshannoschwalm commented on #4975
DT will and should **never** change the original files :-)

[2020-05-11 05:37] bhlevca commented on #4952
The image is not broken, there are many in that directory as you can see from the log file. It works perfectly in v3.0.2. It crashes immediately in master at import time when there are xmp files from a previous version of darktable. And it takes longer to crash when  the importex directory had only raw files.

I compiled darktable many times since version 1. It is the first time I experience somet

[2020-05-11 06:07] googol42 commented on #4969
What information do you need from me to trace this down?

[2020-05-11 06:07] googol42 commented on #4970
I did not find this in the manual :-( btw, I like your manual ;-)

[2020-05-11 06:07] #4970 closed

[2020-05-11 06:12] Mark-64 commented on #4965
Testing #4980, but it shows the same behavior described two posts ahead

[2020-05-11 06:38] TurboGit commented on #4986
The XMP is a stable format whereas the .lrcat is a SQLIte database and could change format at anytime. Maintaining this would be a big work. What we could have is a Python script (maintained by anyone) to create "fake" XMP out of the .lrcat for  the initial import in dt. The only "easy" part would be to retrieve the keywords. It won't be possible to create XMP or modify the darktable DB for module

[2020-05-11 07:02] Nilvus commented on #4981
Just an add: seems to be because of gtk markup tag that doesn't like the &. I just see this error when launching darktable with the Terminal:

(darktable:132149): Gtk-WARNING **: 08:44:00.596: Failed to set text '2020-03-15-Bièvre & alentours-0005.RW2
1/1300 f/6,3 400mm ISO 200' from markup due to error parsing markup: Erreur à la ligne 1 : Entity did not end with a semicolon; most likely you used

[2020-05-11 07:36] jenshannoschwalm commented on #4952
I do not doubt the correctness of the raw image at all.

What you describe sounds pretty bad as correctness of the sidecars and dt beeing able to reimport is critical.

 If you would like others to check how the specific xmp file for an image leads to problems we mostly need both files.

The xmp looks good on first sight, it might well be module parameters found in the xmp are missing or wrong. Th

[2020-05-11 08:29] #3207 closed

[2020-05-11 08:51] MStraeten commented on #4952
my scenario:
starting from scatch:
- fresh build after `git reset --hard origin/master` and `rm -rf *` in build and install directory
- delete .config/darktable directory
- delete xmps from test directory to be imported

steps:
1. start darktable
2. import test directory
3. close darktable
4. restart darktable
5. import test directory --> crash
darktable also crashes when reloading the xmp via "lo

[2020-05-11 08:58] #4292 closed

[2020-05-11 08:58] #4669 closed

[2020-05-11 09:03] TurboGit opened #4987 "culling / selection inconsistencies"
**Describe the bug**
Selections between Ctrl-X and X not consistent.

**To Reproduce**

1. Go to lighttable
2. Select two images say A & B
3. Over on a third one, say C
4. Do a `Ctrl+X`, both A & B are displayed, OK
5. Do not move mouse, stay over C
6. Do a X, then C and following pictures are displayed, OK
7. Still not moving, do again a Ctrl+X, and we get the same images displayed as in step 6

[2020-05-11 09:11] jenshannoschwalm opened #4988 "Import and automatic grouping is broken"
There is the long pending #3998 issue.

**Describe the bug**
While importing images from a camera or a card the filenames are not kept as they are but are manipulated via `dt_import_session_filename`. This makes sure
1) we have a valid filename **not** existing already
2) it uses `pattern = _import_session_filename_pattern();` to generate a new and unique filename.

The changed filename is not kno

[2020-05-11 09:13] Nilvus commented on #4987
But seems to be related to this issue: #4965

[2020-05-11 09:38] nincode opened #4989 "iPhone HEIC/HEIF image format read support"
**Is your feature request related to a problem? Please describe.**
Problem: iPhones these days generate heic files. I would like to be able to use darktable to organize heics.

**Describe the solution you'd like**
.heic read support in darktable, similar to other formats. Don't need to edit, just to catalog, organize, have xmp sidecars, etc.

**Alternatives**
Converting .heics to .jpg is possible,

[2020-05-11 10:26] #4596 closed

[2020-05-11 10:26] #4824 closed

[2020-05-11 10:26] #4853 closed

[2020-05-11 10:26] #4943 closed

[2020-05-11 10:26] #4961 closed

[2020-05-11 10:27] chhil opened #4991 "Delopement version DT crash in thumbtable.c"
After pasting history on a thumbnail in filmstrip, I realized it was in culling mide, when I changed it to filemanager DT crashed.
Other things I noticed, the pasting wasn't always working.

this is darktable 3.1.0+1512~gba0fbe0d4 reporting an exception:

-------------------

Error occurred on Monday, May 11, 2020 at 15:53:25.

darktable.exe caused an Access Violation at location 0000000063705B87

[2020-05-11 10:27] LebedevRI commented on #4943
Note: the new "compressed lossless" format is not supported as of presently.

[2020-05-11 10:34] frli8848 commented on #4943
Hm OK, I use the  "compressed lossless"  with my hack above and it seems to work fine.

And, while I was debugging this I found this blog entry:

https://encrypted.pcode.nl/blog/2010/06/28/darktable-camera-color-profiling/

Is it still relevant?

[2020-05-11 10:37] LebedevRI commented on #4943
I think you mean plain old "compressed", not new "compressed lossless".

[2020-05-11 10:46] GrahamByrnes commented on #4988
If I understand,

- at present both the path _and_ the filename are modified to create a unique name;
- you propose to keep the unique path, but use out-of-camera file names
- it then seems improbable that there will be two filenames coming from the same camera or card that end up with the same complete address.

That seems reasonable: my camera rolls over the image counter every 10,000 images, bu

[2020-05-11 10:51] GrahamByrnes commented on #4991
This is where mine was crashing with ver +1481, while trying to swap from culling to file manager:
`2047:   dt_thumbnail_t *first = (dt_thumbnail_t *)g_list_first(table->list)->data;`

Guess it's not fixed yet, then :-(

[2020-05-11 10:51] frli8848 commented on #4943
No I have set the camera to:
<pre>
RAW RECORDING -> LOSSLESS COMPRESSED
</pre>
but now when checking this again I can see that I cannot open files with the setting:
<pre>
RAW RECORDING -> COMPRESSED
</pre>
Perhaps this is a FW bug and that I in reality use non-lossless compressed ones?

[2020-05-11 10:55] LebedevRI commented on #4943
Ah, interesting, then likely i'm simply misremembering.

[2020-05-11 11:06] frli8848 commented on #4943
Here is the file sizes on the three formats:
<pre>
$ ls -lah DSCF0266.RAF
-rwxrwxrwx 1 fl fl 55M May  8 11:18 DSCF0266.RAF

$ ls -lah DSCF0267.RAF
-rwxrwxrwx 1 fl fl 27M May  8 11:18 DSCF0267.RAF

$ ls -lah DSCF0268.RAF
-rwxrwxrwx 1 fl fl 26M May  8 11:19 DSCF0268.RAF
</pre>
and it is the last one that I cannot open so it looks like it really is the (lossy) "COMPRESSED" ones that is not supported.

[2020-05-11 11:10] LebedevRI commented on #4943
Thank you, nothing else.

[2020-05-11 11:13] GLLM commented on #4975
@jenshannoschwalm : thanks for your swift and clear reply !

Though I'm going to have to use yet another tool to update my JPEG so that the description & title are now withing the file's IPTC ...
IPTC fields are meant to be changed by the user (but not the actual image data bits, I agree)

[2020-05-11 11:13] #4975 closed

[2020-05-11 11:46] MStraeten commented on #4952
lldb output:
[code]

[2020-05-11 12:16] robertpaul69 opened #4992 "error message"
Darktable 3.02 windows 10

bug when I reduce a raw picture from 100 % to normal size,  in 'chambre noire'
file with message here
[darktable_bt_3GYJK0.txt](https://github.com/darktable-org/darktable/files/4609451/darktable_bt_3GYJK0.txt)

[2020-05-11 12:21] ahangarha commented on #4986
This also sounds good. At least it can be a start.

Can you share any specific guide in which I can find structure of both formats?

[2020-05-11 12:28] TurboGit commented on #4986
For darktable:
`echo ".schema" | sqlite3 ~/.config/darktable/library.db`

Same command for lr, but IIRC the schema is far more complex to understand.

[2020-05-11 12:30] ahangarha commented on #4986
I might work on it. If so, I might need your help and guidance if you can.

[2020-05-11 12:35] TurboGit commented on #4986
Sure, as inspiration you may have a look at:
`tools/migrate_capture_one_pro.sql`

But it is old, I have never used it and don't even know if it was working at some point or not.

[2020-05-11 12:46] bartoszek opened #4993 "Unable to build on Arch against gcc:9.3"
Gcc:9.3 throws an error about `undefined bool type` here:
https://github.com/darktable-org/darktable/blob/10f133ddda8507c0d17d963d4ab9781e3374f41b/src/views/darkroom.c#L3135
Shouldn't there be `gboolean` instead of `bool`
[code]

[2020-05-11 13:48] jenshannoschwalm commented on #4952
Did that here too and could not reproduce. And your log shows a crash while reading xmp. But what presets are used?

So what's wrong with asking for a pair of files? Or maybe you already know the problem...

[2020-05-11 14:36] MStraeten commented on #4952
just did a new git pull --recurse-submodules https://github.com/darktable-org/darktable.git master --> no longer reproducible
sample file
https://mega.nz/file/ffpmRCzR#bUE1Ti4Wbx_ikwZZCwcFUbXSClvW8yZUTl6vt74qK7I
and the former crashing xmp
[20190223-IMG_5937.CR2.xmp.txt](https://github.com/darktable-org/darktable/files/4610129/20190223-IMG_5937.CR2.xmp.txt)

[2020-05-11 14:55] phweyland commented on #4964
The above fix resolves your issue but opens other questions...

If the structure is the following:
[code]

If only Bob is tagged on the image.

`Xmp.iptcExt.PersonInImage=$(CATEGORY1(People))  $(CATEGORY0(People)) `

gives: `Bob Smith`

But if Bob and John are tagged on the same image.

that gives: `Smith, Bob Durkin, John`

Maybe for another PR ... :)

[2020-05-11 14:57] bhlevca commented on #4952
The import works now just fine in +1511, however by changing from one collection to another after a few such operations it still crashes, See the output below. 3.0.2 does not do that on operations with the same data.

Please let me know what and if you need anything from me to find the problem.

[code]

[2020-05-11 15:03] gribouilleuse opened #4994 "Noise profiles for Pentax K-1 Mark II"
Hello,
I have found this noise profiles for Pentax K-1 Mark II on another different git repository :  https://github.com/derekkite/k1mark2darktable

After few months of test i'm pretty ok with this profiles. It's possible to add them to darktable ?

Sorry i'm not a regular user of github, i don't want to make a mistake ...

[2020-05-11 15:33] mazhe commented on #4994
Argh, I was about to just submit mine. I tried both the cardboard with holes and the screen methods, but found I prefered the results using the cardboard method:

https://github.com/mazhe/darktable-noiseprofile-k1mk2

Curves are included, I did not do intermediary ISO steps bellow ISO 52100 as interpolated results seemed good enough...

[2020-05-11 15:40] #4964 closed

[2020-05-11 15:44] phweyland commented on #4969
I'm short in ideas, sorry. That's a very simple use case. I don't see where it can get wrong.

Saying that means that you succeed in typing the new value in, correct ?
Do you press enter ? What do you do after that ?
When does the new value disappear ?

[2020-05-11 15:46] gribouilleuse commented on #4994
Aw sorry i have posted same question on french forum (https://forums.darktable.fr/showthread.php?tid=4301) on december but i haven't a satifiyng response so i have tried here. I did not know someones was work on this.

Your work is clearly more explained and i can try to test your preset if you want ?

----

Et comme tu es français je recommence en français vu que mon anglais est pas terrible ;)

[2020-05-11 15:49] TurboGit commented on #4994
No we cannot as we need the curves to ensure the profile is good.

[2020-05-11 15:50] TurboGit commented on #4994
Yes please, would be nice if you could test then just do a PR referencing this issue as I'll have a look at the curves. Thanks!

[2020-05-11 15:54] TurboGit commented on #4993
Fixed. Thanks.

[2020-05-11 15:54] #4993 closed

[2020-05-11 15:55] googol42 commented on #4969
I just figured out what's wrong. The field does not accept the "Tab" key event (which is should, as this is normal gui behaviour). Using "Enter" works :D

[2020-05-11 17:38] AlicVB commented on #4965
@Mark-64 : I admit I've add difficulties to understand your post. But now I think I got it :) In fact, there's a problem when switching from fixed to dynamic that is more than what you see... I'll try to fix that asap

[2020-05-11 17:45] mazhe commented on #4994
Pas de soucis, j'ai gardé ces tests privés le temps d'essayer de les améliorer, mais d'autres testeurs seraient bienvenus :)

[2020-05-11 19:19] garrett commented on #4962
Most seem to be fixed, however, a few are still wrong — but I am _pretty sure_ these are the ones I updated when sources were swapped. So they're swapped back (and wrong again). At least most seem right — I've only updated a few, thankfully.

It's easy enough to readjust the few ones I changed on my end, provided this is fixed for everyone. :wink:

Thanks for the quick fix!

[2020-05-12 02:30] bhlevca commented on #4952
I found a way to crash it consistently.

1. open darktable (obviusly light table mode)
2. doubleclick on a  picture (enter darkroom)
3. crash occurs all the time with the following output:
[code]

[2020-05-12 03:06] ptilopteri commented on #4952
@bhlevca fwiw, I downloaded your example image and xmp file and imported into
darktable-3.1.0~git1540.912ea6b00 w/o a problem, double clicked on image thumbnail in lighttable and it opened in darkroom.  No crash/seg-fault

openSUSE Tumbleweed 20200509
NVIDIA GF106 [GeForce GTS 450], 390.132
darktable-3.1.0~git1540.912ea6b00-2979.1.x86_64
OpenCL on
i7 12-core 36GB

[2020-05-12 03:07] ptilopteri commented on #4952
@bhlevca maybe you have a hardware problem.

[2020-05-12 03:50] bhlevca commented on #4952
@ptilopteri You did not read that 3.0.2 works perfectly on the SAME hardware?
No, I don't think that it is a hardware issue it is software, but we need to understand if it is bad code or bad build. I 've been buiding darktable since version 1, Never had a problem. What is new in master that that was not used in 3.0.2

I don't have the time now, but I could run it under the debugger and see where i

[2020-05-12 07:12] jenshannoschwalm commented on #4952
There are a number of issues around related to the post 3.0.2 code, especially the new lighttable and culling stuff. Or presets, or ... What you describe could be related to pretty much anything :-)

Unfortunately i can't reproduce here, i guess you already made sure the submodules including rawspeed and OpenCL are updated and you tested with cl on/off.

At least, i guess you should think about th

[2020-05-12 07:19] #4965 closed

[2020-05-12 07:19] #4987 closed

[2020-05-12 07:19] #4991 closed

[2020-05-12 07:34] #4982 closed

[2020-05-12 12:47] bhlevca commented on #4952
So there are changes and bugs could have been introduced :-) I suppose you meant "past" 3.0.2 code. Maybe it had issues but it did not crash here.

Yes, I updated every time the submodules. No, I did not turn off Open CL

I did I will try without OpenCL, but I was hoping that the trace would be useful for catching the problem.

This is not quite true. Initially I was not able to import anything, i

[2020-05-12 13:53] esq4 opened #5010 "xmp:Rating value changes from "-1" to "6""
Hi.

When importing an image with XMP file, the parameter 'xmp:Rating="- 1"' is replaced by 'xmp:Rating="6"'.

To reproduce:
Mark image to reject.
Remove it from collection.
Import this image.

Platform:
Darktable Version: build from master branch (commit 0d2f67e31e97e25312ae08ac8f46fb9e5f6ee101)
OS: Debian 10

[2020-05-12 15:58] #4988 closed

[2020-05-12 15:59] jenshannoschwalm commented on #3998
@fxthomas i guess this is fixed now, please close issue if you are happy with current master.

[2020-05-12 16:13] fxthomas commented on #3998
Thank you so much, let me try to compile that and I'll give it a go!

[2020-05-12 16:16] jenshannoschwalm commented on #4984
can't reproduce on current fedora32 master

[2020-05-12 16:30] esq4 commented on #5010
_0aefb0157 ("Introduce a rejected flag per image and use it.", 2020-04-21)_
Maybe i found a commit that created this problem.

[2020-05-12 16:40] TurboGit commented on #5010
I'll have a look, but if the problem exists I'm the culprit no question about that :)

[2020-05-12 16:46] pasta-farian opened #5011 ""Left" and "Right" accepted as shortcut for darkroom view in preferences, but have no effect"
**Describe the bug**

In preferences/shortcuts/views/darkroom I can set "Image back" shortcut to "Left" and "Image forward" shortcut to "Right", but then "Left" and "Right" keys do nothing when I'm in darkroom view. Strangely, if I go again to preferences/shortcuts/views/darkroom and change  "Image back"/" "Image forward" to their original setting, DT no longer accepts "Left" or "Right" as a short

[2020-05-12 17:00] groutr opened #5012 "Allow local copies to reside in user-chosen folder"
**Is your feature request related to a problem? Please describe.**

The local copies feature in darktable copies files to ~/.cache/darktable.  Space on my /home partition is limited, and I would like to point this to a larger, different volume. I could use symbolic links, but I think it would be cleaner if darktable exposed some way to set the path to put local copies.

**Describe the solution you

[2020-05-12 17:27] wilecoyote2015 opened #5013 "UI unresponsive while processing pipeline"
**Describe the bug**

**To Reproduce**
1. In Darkroom, activate some processing-intensive module (for example, retouch)
2. Interact with the module (for example, draw and modify a shape in retouch)
3. Optionally, use another module (e.g. color correction) and try to interact

**Expected behavior**
While pixel pipeline is processed, UI interaction should run smoothly.

** Observed behavior**
UI get

[2020-05-12 17:36] esq4 commented on #5010
It seems that the same value is written to the db.

[2020-05-12 17:47] AlicVB commented on #4981
Well, that's tricky... In fact, we'll need to escape chars for markup on the variable replacement level. We can't do that on the thumbnail level, otherwise it will escape markup formats too...
I'll have a look asap

[2020-05-12 18:03] TurboGit opened #5017 "rating for non selected picture not visible"
On the lighttable, the stars are not visible when thumbs are not hovered on dark and darker theme. It is ok on grey theme.

[2020-05-12 18:54] phweyland opened #5018 "[FR] Static and ordered collections"
**Is your feature request related to a problem? Please describe.**

Today it's possible to move around images in a given collection (custom order). But the images order is global. Then if you to shuffle another collection with the same images you loose the first order.

Furthermore the stack of recent collection is limited and one is going to loose the collections quickly.

Tagging covers a part o

[2020-05-12 19:44] GLLM opened #5019 "[Feature] Enable the recent $(RATING_ICONS) variable in darkroom infoline"
Hello

Following https://github.com/darktable-org/darktable/pull/4763 which created the new (and nice) variable $(RATING_ICONS) which displays stars with UTF-8 characters, I wondered if

this variable could be made available for the darktable info line ? I'd use it as soon as it's available :)

Thank you !!

GLLM

[2020-05-12 20:27] elstoc commented on #5011
The difficulty with using 'left' and 'right' for those actions is that these are also keys used in the darkroom to move the image around and to change sliders and comboboxes once they have keyboard focus. I'd advise using a different shortcut for now but I agree that it would be a good idea to prevent those keys (at least when used without a modifier) from being assigned in the shortcut preference

[2020-05-12 20:50] Nilvus commented on #5017
Test my draft CSS PR: #4959. It should be fixed since first commit of this PR.

[2020-05-12 20:52] elstoc commented on #5011
An alternative (better?) might be to add the movement functionality in darkroom as explicit shortcuts in the darkroom view, rather than hard-coding the arrow keys (hidden in the code). Then perhaps you could reassign them as you like (they'd show up in preferences as conflicts).

[2020-05-12 21:04] Nilvus opened #5020 "Image seeing overlay block infos in print view when coming from map one"
**Describe the bug**
Seeing an image on print mode is shown in hover overlay block infos like in preview or culling mode regardless of overlay mode choosen... if you come from map view. @AlicVB

**Expected behavior**
Print view is not a place where overlay mode is needed and wanted as we want to see the image we will print only. So no overlay mode could be seen like when you come from lighttable o

[2020-05-12 21:04] GrahamByrnes commented on #5018
I think it's an excellent idea. I have some tag-collections which are already getting a bit too big, and I'm (very) far from a commercial photographer in volume. Of course I could go back and start adding secondary tags, but that is potentially a lot of retrospective work with no immediate pay-off... and life is short.
Being able to pull the images that I'm excited about _now_ into a new structure

[2020-05-12 22:49] phweyland commented on #4976
Are you sure ?
I just click inside the first entry box, and the folder tree or film roll list is back, and I can select another one.

[2020-05-13 02:39] JonHrovath opened #5021 "Fujifilm X-T4 white balance fine-tuned"
Here is a fine-tuned white balance preset list for a Fujifilm X-T4.  Hope it helps.

[darktable-whitebalance-20200512.tar.gz](https://github.com/darktable-org/darktable/files/4619480/darktable-whitebalance-20200512.tar.gz)

[2020-05-13 05:29] spaceChRiS commented on #5018
Oh, wow, dreams becoming true ... Some random thoughts:
* Calling it album seams appropriate as collection is already used.
* Shall the albums are represented in a tree structure as well or only in a flat hierarchy, wedding-x-y-2020|album ..|presentation etc. vs wedding-x-y-2020-album and ..-presentation? Tree would be more compatible with tagging.
* Interaction with collect module: My idea would

[2020-05-13 05:44] paperdigits commented on #4902
If you turn off openCL, can you still reproduce the issue?

[2020-05-13 05:46] paperdigits commented on #4872
Can you try the latest release 3.0.2 and see if the problem is resolved?

[2020-05-13 05:48] paperdigits commented on #4867
What camera? Can you share a problem raw file? Can you provide the standard bug report information?

[2020-05-13 07:08] jenshannoschwalm commented on #4981
Can't we prepare the markup string via `g_markup_escape_text` or `g_markup_printf_escaped` ?

[2020-05-13 07:11] #5010 closed

[2020-05-13 07:12] TurboGit commented on #5010
Now fixed. Fell free to test again and report. Thanks.

[2020-05-13 07:19] GLLM commented on #4976
@phweyland
Yup, I do confirm, the folder filter is not showing the rest of the folder tree once I did click on narrow this search.

So, as I browse thanks to folders (to get my folder tree which is sorted the way I like), I need to remove the narrow this search criteria, change folder, then set back the narrow this search.
I'll retry later today, but I'm not sure I missed anything... or what is ex