[2020-06-13 20:51] elstoc commented on #5382
We could do that too. The only limitation would be that there might be a visual blip because darktable might reload the whole theme. But the code change would be really quite small.

[2020-06-13 20:57] ptilopteri commented on #5382
the "blip" would be much better than the current state.  Even as a "temporary" solution.

[2020-06-13 21:04] Nilvus commented on #5382
A small visual blip so. Why not.

But we need to be careful that's this work great without restart in 2 ways. Actually, adding CSS tweak to hide works great but if I remove it on CSS editor in preferences, the tooltip are not seen correctly (only a black background without any text shown). Only restarting darktable make tooltip shown again correctly.

[2020-06-13 21:22] phweyland opened #5460 "Issue on entering metadata or tag info."
**Describe the bug**
Mouse hovering on images makes lose the focus on metadata and tag entries. The result is always unexpected when one is writing ...

**To Reproduce**
Select an entry in metadata, start writing something.
If the mouse moves and hovers an image the written text disappears and is lost.
Worse, if the mouse move happens unexpectedly and one continues to write, dt executes the action

[2020-06-13 21:24] Nilvus opened #5461 "Switching from block infos to other overlays add a not wanted glitch"
**Describe the bug**
Some not wanted (not CSS on what I check) margin is added when switching form overlay_block_infos to other overlays modes

**To Reproduce**
1. Go to 'popover overlay menu'
2. Click on 'overlays block on mouse hover'
3. See that this mode is shown correctly
4. Go back to 'popover overlay menu' and select another overlays (except permanent overlays where no issue shown).

See th

[2020-06-13 21:56] elstoc commented on #5382
Unfortunately, when I tried implementing via a keyboard shortcut this turned out to be the case, even though the shortcut reloaded the entire theme again. Tooltips can be hidden with a shortcut but can only be unhidden with a restart. I suspect it might be a gtk issue.

So I've tried implementing it with a preference setting. Give it a try if you like in #5462.

[2020-06-13 22:24] elstoc commented on #5382
Strike that. As long as you explicitly specify opacity in the main theme (darktable.css) the keyboard shortcut works fine. #5462 now updated. And no blip. It just works.

[2020-06-13 23:07] phweyland commented on #5460
@AlicVB, I need your lights ...
it seems to be easy to control the module action when hovering signal while editing, but I don't see what the module (the widget) can do if it loses the focus.
When hovering an image, is there anything which grabs the focus ? If yes, would it be possible to avoid it ?

[2020-06-13 23:37] mcint commented on #4038
After messing with "Preferred languages" in the macOS "Language & Region" tab of System Preferences, I observe that:
- if the primary language is not English, it is used by darktable
- if the primary language is English, and other Preferred languages are present:
  - the first among non-English languages is chosen

Maybe a maintainer would know if this is darktable-specified behavior, or a default

[2020-06-14 08:26] AxelG-DE commented on #5382
I know partially it is a little obsolete, however, want to state, fwiw:
Those fixes in _"modify selected theme withCSS tweaks below"_, they never work for me. Either no effect or weird...

![Screenshot_20200614_093148](https://user-images.githubusercontent.com/49004103/84588634-764ef680-ae29-11ea-946a-bc0d71b6ee0f.png)

[2020-06-14 08:38] Nilvus commented on #5382
@AxelG-DE: something is applied, so that means that exactly what CSS you propose (tweak AND css theme behind) is applied. So that's only something missing or something added that do not have to be there for what you want.

Here, you have a not wanted background around label border. So something like adding 'background-color: transparent' in tooltip * or tooltip.background (or both).

[2020-06-14 09:31] AxelG-DE commented on #5382
@Nilvus thanks for your swift reply and sorry for my limited compenteces...

actually they are alreedy bot applied per tweak from johnny-bit above. I just don't figure the interferences. The first snippet from johnny-bit also did not work for me, while the current master (+2144) does show some (to week for my taste) opacity...

[2020-06-14 10:31] AxelG-DE opened #5466 "[denoise (profiled); Y0 U0V0] bug in curve tool"
**Describe the bug**

when activating wavelets with Y0U0V0, in the curve, I can change Y0 even it is set to color channels U0V0, please see screencast below

Only in the first attempt, when you change more than once between Y0 and U0V0, the bug disappears

@rawfiner am I missing something?

**To Reproduce**

**Expected behavior**

in U0V0 the color curve (orange) should be accessible right away.

[2020-06-14 12:54] parafin commented on #5382
I will repeat my comment from #5438 - you need to test opacity on the system without compositing - tooltips might not get hidden with that trick there.

[2020-06-14 13:05] elstoc commented on #5382
@parafin you are correct: opacity and tooltip show/hide only work with compositing switched on.

[2020-06-14 13:30] jade-nl commented on #5466
This isn't a general issue and only shows up in special cases.

This issue does not show up the first time you use wavelets on an image. It only shows this behaviour after:

- Select an image and discard history,
- Open it in darkroom view,
- Open and activate (or reset) denoise (profiled),
- Select mode -> wavelets (Y0 tab is selected by default)
- Select the U0V0 tab,
- Turn off and collapse den

[2020-06-14 13:34] parafin commented on #5382
I would say that you have to go the way @TurboGit proposed and not CSS.

[2020-06-14 13:40] elstoc commented on #5382
I suppose it depends on whether you think it's worth that effort or whether (even if just as a short term solution) you add the feature (for tooltip show/hide) and make sure it's only applied if compositing is detected.

[2020-06-14 14:14] johnny-bit commented on #5460
single alphanum keys might not work since those will be grabbed by input field. I don't know if any other usecase would need a re-grab of focus... Now the problem to note is this is intended behaviour or side-effect.

[2020-06-14 14:38] phweyland commented on #5460
That's the desired behavior indeed when editing a field. Shortcut are deactivated during edition and this working correctly, as long the field keeps the focus. The problem starts when the focus is lost inadvertently.

[2020-06-14 16:18] aurelienpierre commented on #3858
Fixed.

[2020-06-14 18:22] AxelG-DE commented on #5466
That means, we have different experiences.

As you can see from my video, I do not need to go such complicated path.

[2020-06-14 18:56] jade-nl commented on #5466
Your video starts with the image already loaded in darkroom and without us knowing what you might have already done (or not) in that session.

Are you able to get this issue after loading a fresh image in darkroom, turn on denoise and selecting wavelets?

If that is the case: I cannot reproduce your issue that way.

[2020-06-14 19:48] rawfiner commented on #5466
Thanks for the bug report, I can reproduce. Working on a fix.

[2020-06-14 20:07] AxelG-DE commented on #5466
I was on the way to create a new video, replying to Jade_NL's suspicious, from beginning with empty history stack...:)
I will be happy to support, just let me know, what is needed.

[2020-06-14 20:25] rawfiner commented on #5466
Could you check that the bug is fixed also on your side by #5471 please? :-)

[2020-06-14 20:48] schaeferpp opened #5472 "Olympus Pen E-PL 10"
Before filing any support requests, please do make sure that you have already
contributed the whole raw sample set for your camera under CC0 license to
https://raw.pixls.us/ !

#### Important note: to make sure that darktable can keep on supporting the raw
file format for your camera, *please* read
[this post](https://discuss.pixls.us/t/raw-samples-wanted/5420?u=lebedevri) on
how/what raw samples

[2020-06-14 20:49] schaeferpp commented on #5472
If I can help supporting this camera by providing more photos, please let me know.

[2020-06-14 20:52] LebedevRI commented on #5472
Thank you for contribution.
It would be good to have a more bright sample, ideally something closer to daylight landscape.

[2020-06-14 20:55] schaeferpp commented on #5472
@LebedevRI I just submitted another image. Is this better?

[2020-06-14 20:56] LebedevRI commented on #5472
Thank you, i think so.

[2020-06-14 21:10] 13aumi commented on #5358
Hi folks, I would like to affirm, that Darktable does not show an NTFS partition in the Import dialog.
I am using Ubuntu 20.04 and Darktable 3.0.1. The NTFS partition is correctly mounted (I can read/write files on it). However, Darktable does not show that partition in the Import dialog.

[2020-06-14 21:15] ptilopteri commented on #5358
I am able to import from ntfs partitions via cifs and sshfs.  Do not have a directly connected drive to check.

But, as dt runs on windows, I cannot fathom dt not being able to access ntfs partitions.

[2020-06-14 21:30] #5461 closed

[2020-06-14 21:31] AxelG-DE commented on #5466
Indeed I will.

Just it will be tomorrow evening, as I will have to be back to office tomorrow

[2020-06-15 03:59] dtorop opened #5473 "hang in print view on raw file with no history"
**Describe the bug**
Selecting a raw file in print view which has no development history causes darktable to hang. This happens either by going straight from lighttable to print view with such an image, or by entering print view with an image with history then selecting one with no history via the filmstrip.

**To Reproduce**
1. Create a temporary directory
2. Copy a few raw files into the directo

[2020-06-15 05:34] schwerdf opened #5474 "Darktable is unusable with a trackpad."
**Describe the bug**
When using a trackpad to scroll in the latest Git master revision, the scrolling moves so fast that it is impossible to use (just a twitch of the finger can change the light table zoom from 1 to 25 or scroll halfway through a large collection of images).
As I recall, this same problem was encountered a few years ago and was resolved by disabling the use of smooth scrolling alt

[2020-06-15 05:39] 1div0 commented on #4989
https://redmine.darktable.org/issues/12244

[2020-06-15 05:45] schwerdf opened #5475 "Ratings of rejected images misreported in Lua API."
**Describe the bug**
The documentation for the Lua API states [(section 2.2.39)](https://www.darktable.org/lua-api/types_dt_lua_image_t.html#types_dt_lua_image_t_rating) that a rejected image's `rating` field is equal to -1.
However, in the current master revision, I am observing that rejected images have a `rating` field equal to 0, identical to that of unrated images.

**Platform (please complet

[2020-06-15 05:57] parafin commented on #5358
@13aumi, this sounds totally unrelated. You can just browse to whenever drive is mounted in import directory/files dialog.

[2020-06-15 05:58] jade-nl commented on #5466
Fixed.

Focus/highlight stays on the correct tab no matter how you approach it.

[2020-06-15 06:05] dtorop commented on #4298
It looks like the various hooks/mechanics to make histogram work in tethering long since vanished.

In darkroom mode, things work: The preview pixelpipe calculates the needed histogram and stores it in `darktable.develop`. The histogram module then catches DT_SIGNAL_DEVELOP_PREVIEW_PIPE_FINISHED and displays the histogram data from `darktable.develop`.

In tether view, when an image is activated (

[2020-06-15 06:43] #5447 closed

[2020-06-15 06:50] #4797 closed

[2020-06-15 06:52] #5382 closed

[2020-06-15 06:57] #5466 closed

[2020-06-15 07:15] Nilvus commented on #5474
I confirm this behavior, scrolling is really not possible with trackpad. @AlicVB: should this be related to your recent lighttable rework?

[2020-06-15 08:54] elstoc commented on #4638
@TurboGit based on my testing of #5453 I don't really consider this to have been fixed, though I appreciate that this might not be fixable (without overriding Cairo filters). So it's up to you, but I'd prefer it to remain open in case a better solution can be found.

[2020-06-15 09:11] TurboGit commented on #4298
I'll do that yes. As this is a bugfix we can reintroduce the histogram into 3.2 release if not too intrusive otherwise it can wait for 3.4. No pressure on this, that's a nice feature but certainly not something main stream as few people are using the tethered mode.

[2020-06-15 09:13] TurboGit commented on #4298
Sounds nice indeed!

[2020-06-15 10:37] #5455 closed

[2020-06-15 10:59] Nilvus commented on #5435
@timur-davletshin: could you try on last master from this day to see if you can reproduce?

[2020-06-15 11:08] Nilvus commented on #5435
@Mark-64: could you check that (maybe you miss @AlicVB question)? Your help would be appreciated here. Thanks.

[2020-06-15 11:11] timur-davletshin commented on #5435
@Nilvus still reproducible in darktable 3.1.0~git2164.a64940338

[2020-06-15 11:18] Nilvus commented on #5435
Yes, I delete my comment finally (I have not understand your PR at first as I don't reproduce it because understood that needed header bar and collapse border arrows). In fact, that's not that, it's reproducible with only header shown but header toolbar (with prefs, help, group icons...) is hidden. And then I have reproduce it.

@timur-davletshin: you should reopen your issue, you close it.

[2020-06-15 11:49] timur-davletshin commented on #5435
@Nilvus my bad, haven't noticed how I closed it )))

[2020-06-15 11:52] Nilvus commented on #5435
Simply, when you click on close and comment instead of comment

[2020-06-15 13:08] Mark-64 commented on #5435
I will have a look later today

[2020-06-15 13:54] dtorop commented on #4298
@TurboGit All sounds good. I've got a pretty clear sense of what needs to happen, but it'll take a bunch of refactoring. I'll be careful, but it could be a risky change right before a release.

Another question will be what to do about the draggable exposure areas on the histogram -- can a non-darkroom view sustain altering/redisplaying an image. It'd be easy to make non-darkroom histogram non-dra

[2020-06-15 13:56] garrett opened #5478 "Improve collection sources with grouping"
**Is your feature request related to a problem? Please describe.**

It's quite difficult to collect images due to the extremely long list of sources in the lighttable's collect module, especially when the one I use most, "tag" feels like it's arbitrarily placed way down the list in the dropdown.

**Describe the solution you'd like**

Within the past release version or two (I don't remember exactly

[2020-06-15 13:57] garrett commented on #5478
I'd suggest something like this as a starting point:

---

## base

- film roll
- folders
- tag

## time

- date taken
- datetime taken
- import timestamp
- change timestamp
- export timestamp
- print timestamp

## technical

- camera
- lens
- aperture
- exposure
- focal length
- iso
- aspect ratio

## metadata

- title
- description
- creator
- publisher
- rights
- notes
- color label
- geotaggin

[2020-06-15 14:03] garrett commented on #5478
The suggestion above is a quick attempt, where I tried to group items so they're easier to find. They're mainly in the order that they're most likely to be commonly used.

Base could be called something else, but it's basically the typical types of info that someone uses to find images. Tag is included here as it's extremely common to use tags to find images. (Alternatively, it could be at the top

[2020-06-15 14:05] johnny-bit commented on #4298
Depending on how deep you can/are willing to go... I still would be hesitant about histogram being able to modify anything in non-darkroom view, it should IMO be preview at most :)

[2020-06-15 14:54] Nilvus commented on #5478
I do not check carefully your suggestion list but I agree that would be good to have groups now, just as masks. As you say, that will help finding a filter more quickly now the list is quite long.

[2020-06-15 15:10] jade-nl commented on #5293
There's a discussion going on on [Pixls.us](https://discuss.pixls.us/t/filmic-v4-on-the-way/17727/106) that ties in to this topic (@elstoc being one of the participants).

It seems that people like to see this implemented (idea came from pehar):

Thought it might be helpful to add those opinions in this (stalled?) discussion.

[2020-06-15 15:11] dtorop commented on #4298
There's some precedent for image modification in lighttable: the image module modifies orientation, and it's also possible to erase/refresh/paste history and apply styles. There's definitely a good bit of mechanics to make it work... Flipping at least happens via the dt_control_add_job() mechanism.

The histogram exposure changes does its work via dt_dev_proxy_exposure_t, which is pretty bound wit

[2020-06-15 15:41] TurboGit commented on #5478
I fully agree !

[2020-06-15 16:13] AlicVB commented on #5435
@Mark-64 : if that can help you, I have think to 3 solutions here :
1. Falling back to some other basing method if the first one fail (based on bauhaus sizes, for example) but that may be strange if we show the toolbar at some point and scroll : we'll end with different sizes in different thumbnails...
2. Always use other basing method. In this case, we may want to size top/bottom icons the same w

[2020-06-15 16:24] AxelG-DE commented on #5466
Sorry for being late.

I also confirm, it fixed the issue, no more wrong tab hightlighted. or false reactions.

Thank you @rawfiner for the very fast and competent reaction!

[2020-06-15 16:47] Mark-64 commented on #5435
@AlicVB
After some investigations, I think a change of approach is necessary.
It was nice to have an auto synch based on the real allocated size of the panel icons, but unfortunately there might not be any panel icons drawn.
I am thinking to link a callback to the size-allocate event of the main #thumbtable_filemanager (or filmstrip / culling / zoom). There I can interrogate a css property (min-he

[2020-06-15 18:13] AlicVB commented on #5435
and after that, you will size the toolbar button with same size or not ? (just to ask, no strong opinion here)

About your proposal, I think it can be simpler and more uniform to base our icon size on the bauhaus font-size which is themable, invariant and always here afaik.
After all if user want bigger size, it's quite logical that we enlarge somehow icons and thumb labels too...

[2020-06-15 18:29] GrahamByrnes commented on #5293
Do they refer to changes that need a re-start?
Or to the general issue of a save button?

It should be pretty minor to add a little flag to fields requiring a re-start (he says having no idea how to do that). Maybe start a new issue, since the save-button is maybe putting people off?

[2020-06-15 18:33] AlicVB commented on #5474
@Nilvus : yes, certainly. Sadly I've no idea what is doing a trackpad different from a mouse... Do you have one ? if yes, we can eventually can do another interactive debugging session if you have time...

[2020-06-15 18:41] jade-nl commented on #5293
@GrahamByrnes: About stuff that needs a re-start. Showing it in a way that doesn't keep bugging the user but is clear enough to get the message across.

Initially this was about a  save/discard button, but that ship has sailed (see the beginning of this thread).

My remark from a few hours ago (the one about the Pixls.us discussion) is in line with what was discussed here earlier and relates to a

[2020-06-15 18:43] parafin commented on #5474
https://github.com/darktable-org/darktable/blob/7ffecde96a2ae164fc5d60a4cd1c07456ad43f1f/src/gui/gtk.c#L499 - these functions might be of interest.

[2020-06-15 18:47] GrahamByrnes commented on #5293
I think the little-yellow-triangle next to the data field should do it...

[2020-06-15 18:56] AlicVB commented on #5474
yes, I've seen them already... but thanks anyway !

[2020-06-15 19:16] Mark-64 commented on #5435
@AlicVB
Let me try first my idea, I made a draft PR #5481, but I need your help for culling mode

[2020-06-15 19:34] Nilvus commented on #5474
Yes I have. A debugging session is possible tomorrow evening or thursday one.

[2020-06-15 19:35] Nilvus commented on #5474
@AlicVB: just a thing I just test. filter collections is really smooth with trackpad. Maybe something to check on that side to compare.

[2020-06-15 19:57] spaceChRiS opened #5483 "Persistent thumbnails option"
**Is your feature request related to a problem? Please describe.**

Having parts of the photo library on an external hard drive or in a git-annexed folder frequently causes thumbnails turning into skulls. As the images are only temporary unavailable, and some sorting/tagging tasks would be possible without having the original files available, it would be great to have the thumbnails for these pers

[2020-06-15 20:20] Nilvus opened #5484 "Issue on colorlabels: size change after setting it when changing the view"
**Describe the bug**
Set a colorlabel on a thumbnail, the size is ok, just move the view to hide related thumbnail. Go back and see how big colorlabels become (and so margins not respected).

Another way to see that is using culling or preview mode: set a colorlabel or more and then go on that view to others images (be sure that image set is no more visible) and go back to those colors.

@AlicVB:

[2020-06-15 20:25] Nilvus commented on #5484
Just some screenshots:

On filemanager, setting color labels (size and margins are good):
![2020-06-15_22-21](https://user-images.githubusercontent.com/45535283/84702425-e1e2b200-af56-11ea-8b78-f1eeef801c9a.png)

Scroll to hide the image then come back (size and margins are not good):
![2020-06-15_22-22](https://user-images.githubusercontent.com/45535283/84702464-f030ce00-af56-11ea-911d-faa32bbfbe

[2020-06-15 20:35] AlicVB commented on #5484
ahah I don't trust you. I know that you are laughing in secret :P

That said, I'll have a look. Thanks for all your tests !

[2020-06-15 20:37] johnny-bit commented on #5473
I tried on current master and one of my previous PRs and I can't replicate (CR2, RAF, NEF). imported folder with couple RAWs only, no edit history on them, no XMP files. moved over one and pressed `p`. Image opened in print view without problem and no adjustments done to it...

[2020-06-15 20:48] spaceChRiS opened #5485 "Enable date corrections beyond 100 hours or absolute date entry"
**Is your feature request related to a problem? Please describe.**

It seems that the datetime of an image is now stored in the xmp, at least I can find a parameter “exif:DateTimeOriginal”. Now it would make sense to do corrections beyond the 100 hours limit of the geotagging module. My use case would be setting the right date of scanned images/slides/negatives.

**Describe the solution you'd like

[2020-06-15 20:49] johnny-bit commented on #5473
I made mistake earlier so i deleted prev comment.

this IS reproductible on current master (3.1.0+2166~gb3229c518)
this isn't reproductible using older ver (eg: 3.1.0+2130~g1a7624888-dirty) (don't mind dirty - it was for PR #5467 )

so the bug was introduced somewhere in last ~40 commits.

[2020-06-15 20:56] MStraeten commented on #5474
then i'm glad to be on a macbook - there the trackpad works fine ;) But in fact scrolling in lighttable is very sensitive but also with my mouse or graphic tablet or by dragging the slider

[2020-06-15 20:58] Nilvus commented on #5474
Hmm, I'm on a Macbook pro (on Linux) and scroll is smooth with my wheel mouse but not with trackpad on lighttable filemanager (or zoomable one) but smooth with wheel mouse AND trackpad on filter collections.

[2020-06-15 20:59] AxelG-DE commented on #5473
I am sorry to say, but fwiw, on my end it works with 3.1.0+2166~gb3229c518

[2020-06-15 21:02] johnny-bit commented on #5473
OK, I'll do the bisect tomorrow. i think i got a reproductible setup.

[2020-06-15 21:58] craigtaranto opened #5486 "Update database from selected xmp files not working for tags"
**Describe the bug**
When I update tags within XMP sidecar files in another application (eg. Digikam), darktable does not appear to update its database even though I select "update datebase from selected xmp files" within the "updated xmp sidecar files found" dialog when starting darktable.

This is also reproducible without another application.  See steps below.

**To Reproduce**
A pre-requisite

[2020-06-15 22:04] coffeeandspaceships commented on #5358
I cannot fathom how an application in userland on Linux could even care what type of filesystem it is, unless there is some explicit check for NTFS for some weird reason. A mounted filesystem is a filesystem. GTK will access it through the API to list and open files. That's all!

In Linux (mostly Ubuntu) I used Darktable on mounted NTFS (native), mounted NTFS (fuse), and even mounted HFS+ from an

[2020-06-15 22:11] 13aumi commented on #5358
In fact, I couldn't see that partition in the import dialog but itwas not related to NTFS itself. Sorry, if my post was totally unrelated.

After some research I was able to solve my problem using the following command:
`sudo snap connect darktable:removable-media`

[2020-06-16 07:28] brigling opened #5488 "Grain and Soften order"
Grain and soften are applied to the image in the wrong order. This is my opinion but it just makes so much sense to me that I should be able to use the soften tool to enhance the depth of field and then add grain afterwards to correct the hyper smooth effect of softening.

As it is right now the soften effect completely overrides the grain effect when soften is set to 100% mix. I don't think that

[2020-06-16 08:56] codingdave opened #5489 "Segfault with current master on opening/revisiting a previous edit"
**Describe the bug**
Darktable crashes with a previously edited image. I have isolated the image and when I try to import that image + xmp into a fresh darktable environment the crash is reproducible.

**To Reproduce**
1. Import the provided NEF + XMP
2. You will get a Segfault

**Expected behavior**
No Segfault, opening the raw like every other raw file.

**Platform (please complete the following

[2020-06-16 09:07] #5475 closed

[2020-06-16 09:38] codingdave commented on #5489
dt 3.02 (Windows) opens the file without error.

[2020-06-16 10:08] GrahamByrnes opened #5491 "Logarithm "base" for basecurve?"
**The tonecurve allows a choice of scale for the log version, basecurve does not. Should we add it?**

First, let's be clear: what is called the "base" of the logarithm isn't really.  An exponent can be 2^x, e^x, 3^x, 10^x or any value you want, and the base is 2, e, 3 or 10. The corresponding log_a, a=2, e, 3 etc is the inverse. In all cases, log_a(x) -> -infinity as x->0.

What is called the "ba

[2020-06-16 10:15] Egocentrix commented on #5478
I really like this idea! Three remarks/nitpicking:
- 'tag' is a metadata field
- I'm not sure I would call 'file name' a darktable thing. I would put it with 'folder' and 'film roll'. Maybe 'File' would be a good category name for that?
- In the Pixls-thread it was mentioned that 'technical' could maybe be called 'capture details' or 'camera settings'

[2020-06-16 10:32] garrett commented on #5478
Yeah, it does need some polishing. One of the goals was to try to get tag up near the top — it's a common way to select images (even if it's added metadata). Same for folders and film rolls.

I'm happy with any grouping that makes logical sense and prioritizes the ways most people start collecting images. In my case, it's by tag (as I have tagged my two decades work of photos extensively), but I k

[2020-06-16 10:44] JacoTux opened #5492 "auto-apply per camera basecurve presets don't work"
**the bug :**
when opening new images in the darkroom the base curve is activated although in my preferences in the "processing" tab the checkbox to apply the preset base curve is not activated.
For some time now it seems.

**Platform :**
 - Darktable Version:  3.1.0+2245
 - OS: Manjaro Linux Xfce

[2020-06-16 10:53] elstoc opened #5493 "filmic rgb: added noise is distracting when zoomed out"
Using the 'add noise in highlights' functionality of filmic rgb v4, the added noise is realtively subtle when zoomed in:

![Screenshot_2020-06-16_11-51-30](https://user-images.githubusercontent.com/9555491/84765862-c237a200-afc7-11ea-862e-720ec3696544.png)

But more obvious and distracting when zoomed out:

![Screenshot_2020-06-16_11-50-33](https://user-images.githubusercontent.com/9555491/8476577

[2020-06-16 10:57] rgo commented on #5488
If you want to try the effect of changing the order, you can do it by changing the order of the modules via shift+ctrl+drag module and drop.

You can use it as a workaround.

Reference in documentation: https://darktable.gitlab.io/doc/en/darkroom_concepts.html#pixelpipe

[2020-06-16 11:37] elstoc commented on #5492
What is the 'auto-apply pixel workflow defaults' preference set to?

[2020-06-16 12:02] JacoTux commented on #5492
Thanks for thinking about it.
The 'auto-apply pixel workflow defaults' preference was set to "display-referred"
Of course he must be on "scene-referred" for filmic

[2020-06-16 12:02] #5492 closed

[2020-06-16 12:41] TurboGit commented on #4298
I would say no, this should be disable on tethering mode.

[2020-06-16 12:45] TurboGit commented on #4298
Now done.

[2020-06-16 12:57] TurboGit commented on #5489
@codingdave : well this image has been opened with a dev version of darktable as there is the hash values in the XMP file.

[code]

So at this stage hard to tell what is wrong. Possible a picture opened with a buggy dt ?

I'm not sure when it has been opened with 3.0.2 but sure it that is the case the xmp may be corrupted.

[2020-06-16 13:12] MStraeten commented on #5351
wasn't able to reproduce it after an update of macports and a full cleanup of my build enviroment (rm -rf * in the build directory etc.pp) ...
it seems to pop up infrequently but then reproducible until a full cleanup of the build enviroment

[2020-06-16 13:13] MStraeten commented on #5489
seems to be similar to https://github.com/darktable-org/darktable/issues/5351.  Maybe a full cleanup oft the build environment can help (it did in my case ...)

[2020-06-16 13:25] #5484 closed

[2020-06-16 13:27] phweyland commented on #5489
not sure that can help. unning with debug I get this:

[code]

[2020-06-16 13:49] schaeferpp commented on #5472
I just realized that rawtherapee is already able to process images in this format. I not sure if this information helps in integrating the camera to darktable as well.

[2020-06-16 13:53] Nilvus commented on #5478
Much better order and categories now. Personally, I would make capture details before time but that just personal, probably many others would see the opposite, so it's good as it is.

I hope that the implementation would allow to also adjust with CSS to make categories titles as bold. It's unfortunately not possible to do for masks as it is specific bauhaus widget who don't allow that. Having titl

[2020-06-16 14:24] Nilvus opened #5495 "Impossible to unselect images in filmstrip"
**Describe the bug**
It's impossible to cancel selected images in filmstrip (same in all views with filmstrip) to select for example another set. Selection could only begin from image(s) already selected in lighttable. Un-select them is possible only in lighttable, not in filmstrip.

@AlicVB: another one for you I suppose (no, I'm not laughing :joy:)

**To reproduce**
Start on lighttable and selec

[2020-06-16 14:32] jenshannoschwalm commented on #4638
Hi, after merging #5431 things are better but not completely fixed.

After reading through the sources i think i understand whats going wrong,  hold on, will make it for 3.2...

[2020-06-16 15:27] pulverschneeskitour commented on #4829
Hubert Thanks for the Info

It works!

Merci

Siegfried

Am Mi., 10. Juni 2020 um 02:07 Uhr schrieb Hubert Kowalski <
notifications@github.com>:

[2020-06-16 15:40] johnny-bit commented on #5489
the mm_load_ps is for loading input pixels into sse buffers so... alignment issues? similar to #3209?

[2020-06-16 16:21] #5423 closed

[2020-06-16 17:04] AlicVB commented on #5495
yes, that's "by design" : to avoid user to "loose" their selection by switching to another image for example. In filmstrip, selection change is only possible with modifier keys = only possible if user really want it.

You can use Alt-click to have the same behavior on selection as normal click in filemanager.

[2020-06-16 17:16] Nilvus commented on #5495
Ok, not really intuitive but I understand the goal. Thanks for your reply.

[2020-06-16 17:16] #5495 closed

[2020-06-16 17:35] Nilvus opened #5499 "Little things broken with #5335"
@dterrahe: 2 minor issues shown, probably related to your recent PR #5335.

- On contrast module, detail line on both modes have the default pointer (white point below slider) not aligned on the left. By default, should be aligned on the left (to 0%) as other ones.
![2020-06-16_19-30](https://user-images.githubusercontent.com/45535283/84807639-d69b8f00-b007-11ea-9d74-513c6d30aae0.png)

- On filmic

[2020-06-16 17:46] dterrahe commented on #5499
Thanks @Nilvus for the detailed comments. It is very easy to tailor stepsizes and number of digits, so I can add these no sweat. Have you gone over all modules you care most about or shall I wait and include these in a slightly bigger patch?

There definitely other cases where the granularity changed. Sometimes I intentionally didn't replicate the original settings because I wanted confirmation th

[2020-06-16 18:01] Nilvus commented on #5499
I have quickly gone over modules I care about the most and don't see by now anything else.

Probably. For contrast I rarely use the third digit but that could sometimes help on this slider.

**Another thing:** on local contrast, detail string seems to not be translated anymore. I use french translation and we lost (as you can see on screenshot) accent on the e of the string. I update and check fr.

[2020-06-16 18:06] dterrahe commented on #5499
There may indeed be some issues with strings being marked for translation at the moment; working on it https://github.com/darktable-org/darktable/pull/5498

Thanks for the careful testing. Much appreciated!

[2020-06-16 19:17] Nilvus commented on #5254
Close as this is fixed

[2020-06-16 19:17] #5254 closed

[2020-06-16 19:28] AxelG-DE opened #5502 "add. exposure instances should have default bias=off, EV=0 currently it is EV=1"
**Describe the bug**

We got a little regression through the introspection for exposure

**To Reproduce**

**Expected behavior**

any additional instances of exposure should be bias=off, EV=0

**Bisect**

[code]

So @dterrahe I suppose this one is for you :-)

[2020-06-16 19:30] phweyland commented on #5489
an additional detail. when I've opened the image with xmp the first time I got the seg fault but the image was imported. then, even removing the xmp file, dt still crashes (same log) opening this image.

[2020-06-16 19:32] elstoc commented on #5502
Reverts changes made in #5414

[2020-06-16 19:38] elstoc commented on #5502
@TurboGit I think similar changes have been reverted in filmicrgb as well. Might be worth spot-checking the whole of that PR

[2020-06-16 19:43] TurboGit commented on #5491
My thinking was that this is really not needed, but my current thinking is that it is a good idea.

Why I changed my mind ?

Base curve was said to be deprecated, but with the new pixel workflows (scene-referred and display-referred) put in place we have saying clearly that we want to support both workflows. So at this stage I don't see why we should say to users that basecurve is not to be used.

[2020-06-16 19:46] codingdave commented on #5489
I don't know the meaning of the hash values but they might confuse because I have replaced the original NEF file (that was showing a person) by a NEF from the same session (showing the otter) while keeping the same error. If the hash values incorporate the hash over the NEF they are obviously wrong now.

This NEF+XMP fails with the current master but works with 3.0.2. So for me this sounds like a

[2020-06-16 20:13] hgmarty commented on #5499
Hello,

I have compiled tonight the latest master version of the 3.1 2162.
I have keyboard shortcuts to manage the usual modules as color balance with contrast. The shortcuts are reversed with the + key which decreases the contrast and - which increases it. Same behaviour when I have changed with other touches.

On the other hand, on color balance where I am sure but also on the others, it seems t

[2020-06-16 20:17] jenshannoschwalm opened #5504 "Duplicate manager seems to be broken"
**Describe the bug**
Duplicate manager seems to be broken since ~2days

**To Reproduce**
Open an image with duplicates in darkroom, removing a duplicate or adding is possible, selecting another makes via double-left-click makes dt hang. Also just pressing left button doesn't show the comparing image any longer.

**Expected behavior**
As before until ~ 2days.

**Screenshots**

**Platform**
 Darktab

[2020-06-16 20:25] AlicVB commented on #5504
I can't reproduce here, everything seems to work fine...
does switching images with filmstrip still works for you ?

[2020-06-16 20:26] elstoc commented on #5504
I get the same on 3.1.0+2244~gc167ee8dc

[2020-06-16 20:29] jenshannoschwalm commented on #5504
Filmstrip is ok

[2020-06-16 20:30] jenshannoschwalm commented on #5504
Same issue or "can't reproduce"?

[2020-06-16 20:32] TurboGit commented on #5502
@elstoc : yes I was expecting glitches like this, the review could not detect such cases. field testing will help detecting and fixing all those issues hopefully. @dterrahe I'm letting you looking at this one. Thanks.

[2020-06-16 20:33] elstoc commented on #5504
Same issue. Also just rebuilt and I get the same issue on 3.1.0+2266~g2690129b8

[2020-06-16 20:38] AxelG-DE commented on #5499
Darned; why did I not find that :cry:

[2020-06-16 20:40] jenshannoschwalm commented on #5504
fwiw, here seems to hang in ` _lib_duplicate_thumb_press_callback` in `dt_image_get_final_size(dev->image_storage.id, &d->cur_final_width, &d->cur_final_height);` ...

[2020-06-16 20:45] TurboGit commented on #5499
@dterrahe  : Another little thing (maybe related).

On the shadi module (local contrast), the slider highlights and shadows have wrong increment.

- using scroll gives + or - 50% (it was 1%)
- using shift-scroll gives + or -  more than 200% - don't know it goes from min to max (was 10%)
- using ctrl-scroll gives + or - 10% (it was not working)

On the details slider a ctrl or scroll seems ok, but

[2020-06-16 20:49] TurboGit commented on #5499
With #5505 the simple scroll now move the slider by 100%

[2020-06-16 20:59] dterrahe commented on #5499
@TurboGit you mean bilat? Fixing it now. Easy.

That module is a bit funky because two sets of sliders link to the same params field. So the "sensible" defaults are based on "the other one". Meant to adjust for this (thought I had, sorry).

[2020-06-16 21:03] AxelG-DE commented on #5499
Actually several modules appear odd when using mouse-wheel (incl color balance, demosaic and others).

Sorry I did not test this at all, just dragging or typing the numbers to exceed the limits...

[2020-06-16 21:06] AxelG-DE commented on #5504
quick-test, cannot reproduce, means it works as normal...

[2020-06-16 21:11] dterrahe commented on #5499
@AxelG-DE please provide specific instances. Not just where different from previous, but where now _bad_. Many thanks. These are easy to fix so I'm collecting a bunch in one PR.

[2020-06-16 21:12] Nilvus commented on #5499
Could you be more precise by what you mean with odd? color balance works as expected (so as before) with mouse-wheel. I mainly use mouse-wheel to set them. I see no issue on those modules.

[2020-06-16 21:22] dterrahe commented on #5502
@elstoc I believe in the exposure module the whole reload_defaults can now be removed, since the code that was dependent on the loaded image and the "scene-referred" setting was already removed pre-merge of #5335 and the defaults are automatically picked up from introspection:
[code]
Let me know if I'm missing something.

[2020-06-16 21:24] elstoc commented on #5504
I know some of the recent fixes were around High DPI screens working correctly. I have a standard 1080p monitor. Could that be a contributing factor?

[2020-06-16 21:25] elstoc commented on #5502
I'll take your word for it. If you've removed it and it works with introspection then I'm happy.

[2020-06-16 21:28] AxelG-DE commented on #5499
just one excample, unfortuantely there are more:
- input saturation: normal scroll increments by 1%
- shift-scroll increments by 10%
- ctrl-scroll **no reaction**
(where contrast fulcrum works as expected)

[2020-06-16 21:46] phweyland commented on #5489
No, the hash includes only development data.

[2020-06-16 21:54] dterrahe commented on #5502
Don't do that!! Test!

;-)

[2020-06-16 22:12] elstoc commented on #5502
Done - feedback on the PR

[2020-06-16 23:54] phweyland commented on #5486
What does happen if you add a new tag instead of removing one ?

[2020-06-17 00:02] craigtaranto commented on #5486
Adding a new tag (in vi) works.

I added "tag3" in vi, started darktable, and it showed up.  I then closed darktable and deleted "tag3" in vi.  When I reopened darktable, "tag3" still appeared.  Closed darktable and "tag3" was back in the file.

[2020-06-17 00:07] phweyland commented on #5486
Thanks for trying.
If I understand correctly, the xmp tags are correctly read, but a prior cleaning is missing.
I'll look at this.

[2020-06-17 00:10] phweyland commented on #5486
BTW, we could have the same issue for metadata ...

[2020-06-17 00:12] craigtaranto commented on #5486
Let me know if there's something you'd like me to try.

[2020-06-17 00:19] phweyland commented on #5351
I've tried your procedure on the current master and it works for me. I can re-import the 2 images in both cases:
- with your xmp files
- with the xmp files created at the first import.

debian 10.

[2020-06-17 00:22] phweyland commented on #5486
For the time being no, thank you. If I succeed in reproducing this I think that shouldn't be too difficult.

[2020-06-17 04:32] groutr opened #5509 "Highlight Reconstruction artifacts"
**Describe the bug**
Highlight reconstruction in the "reconstruct color" mode results in severe artifacts.

**To Reproduce**
1. Go to any photo that has clipped highlights
2. Click on Highlight reconstruction and "reconstruct color"
3. Observe artifacts. (best seen at 100%)
Every photo I've tested with clipped highlights shows the issue.

**Expected behavior**
I expect no artifacts.

**Screenshots

[2020-06-17 06:13] Mark-64 commented on #5504
Confirmed. double clicking on a duplicate results in DT hanging in windows, crash in Ubuntu, with message
```darktable: /home/marco/develop/darktable/src/common/dtpthread.h:268: dt_pthread_rwlock_tryrdlock_with_caller: Assertion `!(res && pthread_equal(rwlock->writer, pthread_self()))' failed.```

[2020-06-17 06:31] #5504 closed

[2020-06-17 06:44] TurboGit opened #5511 "new lighttable keep highlighted thumb in one case"
**Describe the bug**
Keep a selection when hovering above empty spaces in lighttable and this happens only the first time a collection is opened.

**To Reproduce**
1. Go to lighttable
2. Select a collection that is not too long and so let some empty space into the lighttable thumbtable
3. From collect module move over a picture and hover down in the lighttable until the mouse is above an empty spa

[2020-06-17 06:45] TurboGit commented on #5511
@AlicVB : one glitch that has bothered me for some time but I found a reproducer now.

[2020-06-17 07:54] #4686 closed

[2020-06-17 07:54] #5474 closed

[2020-06-17 08:23] #5435 closed

[2020-06-17 08:29] Egocentrix commented on #5478
Personally I wouldn't mind not having tag at the top, even though I use it often. I have a preset set up for the collect module, that selects by file name, tag and color label (in 'narrow down' mode, so I can use either of them).

[2020-06-17 08:30] TurboGit commented on #5499
Fixed, closing.

[2020-06-17 08:30] #5499 closed

[2020-06-17 08:30] TurboGit commented on #5502
Fixed, closing.

[2020-06-17 08:30] #5502 closed

[2020-06-17 08:31] TurboGit commented on #4298
I'll reclassify this for 3.4.

[2020-06-17 09:06] AlicVB commented on #5511
@TurboGit : just tested, and I fear it's a gtk bug...
Basically we have a container : `thumbtable`, which contains childs : `thumbnails`.
if the mouse leave a child for it's container, gtk should raise an "enter" event for the container (with some special `event->details`)
But, that doesn't works if at first you enter the container directly on a child : without hovering a "blank" area of the conta

[2020-06-17 09:08] GrahamByrnes commented on #5491
Yes, I think there is a case to be made for a "lightweight" processing option that doesn't get involved in reconstruction when it's not needed.

[2020-06-17 09:48] johnny-bit commented on #5473
Hey, I managed to bisect the issue and I have bad news:

[code]

Seems like some change in histogram managed to mess with print? HOW? 5a7015e562710b0d1a6fa32af374ff72b8d30899

[2020-06-17 09:58] TurboGit commented on #5473
May be fixed now in 4fc75444e71.

[2020-06-17 10:13] johnny-bit commented on #5473
indeed on current master the issue is no longer reproducible for me.

I leave @dtorop to confirm whether his setup show symptoms or not on current master :)

[2020-06-17 11:58] aurelienpierre commented on #5429
I don't see the issue here. Tiling is a trick to reduce memory footprint, but it increases computational complexity and messes-up I/O by accessing memory in a non-contiguous way. Slow-down seems normal to me, especially on an heavily I/O-bounded operation.

[2020-06-17 12:01] #5511 closed

[2020-06-17 12:19] TurboGit commented on #5429
Speaking about tiling... What about removing this ? We do not support 32bit OS. All 64bit OS have certainly lot of memory (those days 8Gb is the minimum) so what the point of keeping all the complexity introduced by this tiling support ?

[2020-06-17 12:21] aurelienpierre commented on #5429
We unofficially support 32 bits since some guys make dt work on Raspberry Pi. I wouldn't invest time into actively maintaining 32 bits support, but it would be a shame to actively destroy it too. I vote for status quo and this one.

[2020-06-17 12:32] TurboGit commented on #5429
Ok, didn't know it was still supported on 32bit Raspberry Pi. Note that 64bit version of Raspberry Pi exists. But maybe it is too early to remove this support, status quo is fine by me.

[2020-06-17 12:34] ralfbrown commented on #5429
Don't forget that GPUs typically have rather less RAM than the computer they are in, so there will be more pressure for tiling with OpenCL.  Some of the IOPs use upwards of 128 bytes per pixel for their processing (in addition to the input and output buffers).  Try working on a 100 megapixel image and you'll need more RAM than many people have even today.

Also, tiling can actually result in a spe

[2020-06-17 13:33] aurelienpierre commented on #5429
You won't be able to have tiles as small as 60px with non-decimated wavelets, that's for sure. It's the whole algo you will need to rewrite, and that will change the output image slightly.

[2020-06-17 14:46] MStraeten commented on #5509
If you expect no artifacts then you should select "recontruct LCh" first. Depending on the clipping channels a reconstruction in color can be impossible.
If this doesnt help, then you might try to lower the clipping threshold or the raw whitepoint - but then you lose the information of the channel not clipped.

[2020-06-17 16:50] aurelienpierre commented on #5493
That's the joy of scale-dependent filters… Nothing I can do here, except force a 1:1 preview and rescale after the noise is applied, which is going to be slow. Same problem applies to denoising modules too.

[2020-06-17 16:56] choller commented on #4938
This is actually with feathering, and I noticed that feathering sometimes seems to make this even worse. And as I mentioned before, I've been using this tool regularly on DT2, this behavior is purely in DT3.

[2020-06-17 16:58] elstoc commented on #5493
I suppose the only thing you could do is disable it when fully zoomed out. I assume that if you forced 1:1 and rescaled the texture probably wouldn't be that noticeable in most scenarios anyway.

[2020-06-17 16:58] aurelienpierre commented on #5488
For depth of field reduction (because the depth of field is the sharp area, so you don't increase it by adding blur), you should use the low-pass filter instead. It will solve both of your issues : module order, and it is closer to a physical lens blur (although it's still not exactly that).

[2020-06-17 16:59] #5488 closed

[2020-06-17 17:01] aurelienpierre commented on #5509
This is a limitation of the algorithm used, not a software problem. There is nothing we can fix in the program that doesn't require to rewrite the maths first and use a different algorithm.

[2020-06-17 17:01] #5509 closed

[2020-06-17 17:05] aurelienpierre commented on #5493
It's no better to entirely disable it too, since it will distract the user in the opposite way and might even lead them to exaggerate the noise amount in this view. In addition, what you see in zoomed-out view is true to the export in non-"high quality" mode.

[2020-06-17 17:18] GLLM opened #5523 "[Bug] darkroom infoline variable $(LABELS_ICONS) is not working properly"
Hi !
I was playing with $(LABELS_ICONS) in Darkroom infoline () and I have found a bug with it : i.e. the dots are not in color or even not appearing .

If I place the variable at the end of my info line, I see 2 dotes but they are black (missing color)
![image](https://user-images.githubusercontent.com/3989573/84928749-31e48480-b0cf-11ea-84db-4e96f3c3f7af.png)

In addition, if the variable is pla

[2020-06-17 17:22] hgmarty opened #5524 "Shortcuts in color balance"
Hello,

I have assigned the touch of keyboard :

* b to contrast \- (color balance)
* n to contrast \+ (same module)

And since last day and now (I have compiled the last version 2290), the shortcuts are inversed. When I pressed b, it increases the contrast and if n, it decreases the contrast.

Thank you

I put alias @dterrahe. Nicoauffray told me, and now I'm a newbie to know that..

[2020-06-17 17:48] #5460 closed

[2020-06-17 17:57] Nilvus commented on #5524
@hgmarty: nicoauffray is my nickname only for darktable.fr. Here I'm known as @Nilvus!

@dterrahe, this seems to be related to your last introspection work.

I would add that step on exposure sliders had also change. Default step was 0.02, now it's 0.10. 0.02 was better for fine-tuning quickly exposure. Or at worst, 0.05 would be better than 0.10.

[2020-06-17 18:07] dterrahe commented on #5524
I'm testing the solution for side effects. Will try to get ready tomorrow.

[2020-06-17 18:10] phweyland commented on #5486
This is not only the case for tags, but also for metadata and colors. Removing an item from xmp is not updated by the crawler detection (only add new item). I'll fix that.

@TurboGit but ... history stack / load side car file doesn't read the xmp data (except history) and worse, rewrites dt database into the xmp file. The xmp file changes are then lost. This because of the history_only flag which

[2020-06-17 18:13] AlicVB commented on #5523
I don't reproduce with current master.

Some questions :
1. Are you sure that the image has color labels ? (just in case)
2. does it works in tooltips patterns or overlays patterns ?
3. What is your theme ? Does it change anything with other themes
4. Dos you have Roboto fonts installed ?

[2020-06-17 18:22] hgmarty commented on #5524
In the same spirit of slider :

in color balance

* saturation (input and output). Default step is 0.5 and now is 1
* for contrast pivot and contrast, it's the same

Thank you @dterrahe

Sorry @Nilvus for once, I hadn't mixed up and game over for me

[2020-06-17 18:48] aurelienpierre commented on #5493
Also, I just thought about it, but noise is additive, so it's not a linear but an affine transform, and `downscale(image + noise) ≠ downscale(image) + downscale(noise)` since 2D interpolations are at least quadratic (even the ill-named bilinear).

[2020-06-17 19:45] dterrahe commented on #5524
Regarding step size, the default now is 1/100th of max(-min,max). For mouse users, fine tuning adjustments can be achieved by holding the ctrl key while scrolling. Unfortunately that modifier is not supported for (dynamic) shortcut keys.

@TurboGit started an initial discussion about standardising  step sizes. It might be good to include this in the general review of the input layer.

[2020-06-17 19:50] GLLM commented on #5523
hi @AlicVB !
1. yes, I'm sure ... the first and second screenshot were taken on the same pics ... the 1st screenshot appropriately shows 2 bullets ... yet they are black (expected blue & green)
2. I did not initially tested. Here are the results :
* tooltips in lighttable : it works but the bullets are black
![image](https://user-images.githubusercontent.com/3989573/84942932-eab4be80-b0e3-11ea-9c1

[2020-06-17 20:03] Nilvus commented on #5524
Why not. I know and use often Ctrl key but sometimes it's faster to not have too high step. Anyway, where's that initial discussion from @TurboGit and where to include this in general review? Didn't find it.

[2020-06-17 20:11] johnny-bit commented on #5523
I can replicate in very bad way (tm), for testing I set respective default infos line as:
* extended overlay: `$(FILE_NAME).$(FILE_EXTENSION)$(NL)$(EXIF_EXPOSURE) • f/$(EXIF_APERTURE) • $(EXIF_FOCAL_LENGTH)mm • $(EXIF_ISO) ISO $(SIDECAR_TXT) [$(LABELS_ICONS)]`
tooltip: `<b>$(FILE_NAME).$(FILE_EXTENSION)</b>$(NL)$(EXIF_DAY)/$(EXIF_MONTH)/$(EXIF_YEAR) $(EXIF_HOUR):$(EXIF_MINUTE):$(EXIF_SECOND)$(NL)$

[2020-06-17 20:30] GLLM commented on #5523
FWIW : my OS is in english, the same goes for dt !

[2020-06-17 20:53] AxelG-DE commented on #5523
maybe it is, when sys-lang and dt-lang are same?

[2020-06-17 21:05] rawfiner commented on #5493
When downsampling at 50%, bilinear interpolation averages 4 pixels, which should divide noise variance by 4.
I think noise variance parameter should be changed according to the scale using that property: even if not perfect, this will probably give more accurate preview

[2020-06-17 21:06] ralfbrown opened #5528 "darktable-cli unconditionally adds filmic to processing"
**Describe the bug**

When darktablerc contains "plugins/darkroom/workflow=scene-referred", darktable-cli adds filmicrgb to the processing whether or not it was present in an explicitly-specified .xmp.

**To Reproduce**

1. ensure that darktablerc contains the line plugins/darkroom/workflow=scene-referred
2. using an existing image and .xmp development which include basecurve but does not include

[2020-06-17 21:12] johnny-bit commented on #5523
I checked different languages - no other lang than English works with labels... I need to try and switch lang of OS and how that affects labels.

[2020-06-17 21:45] elstoc commented on #5528
Pretty sure this was fixed a couple of commits after the one you're using (https://github.com/darktable-org/darktable/commit/f42aeca9a7441c9c37c4a95244b79e6903a5340f). Please can you retry with current master.

[2020-06-17 21:52] ralfbrown commented on #5528
You're right, it's no longer in 3.10+2294.  Getting hard to keep up with new revisions...  (but that's a good problem to have :-).

[2020-06-17 22:14] #5528 closed

[2020-06-18 04:20] dtorop commented on #5473
Likewise, I can't reproduce this with current master. I appreciate you all reproducing and tracking this down.

[2020-06-18 04:20] #5473 closed

[2020-06-18 04:37] wpferguson commented on #5485
Why not a lua script to change the image timestamp directly in darktable instead?

[2020-06-18 07:20] TurboGit opened #5534 "on some lighttable zoom level stars are squeezed"
**Describe the bug**
On some lighttable zoom level stars are squeezed.

And get error message:

`(darktable:39734): Gtk-WARNING **: 09:15:18.528: GtkDarktableThumbnailBtn 0x55b8362da660 attempted to adjust its size allocation from -96,0 112x15 to 0,0 16x16. adjust_size_allocation must keep allocation inside original bounds`

**To Reproduce**
1. Go to lighttable
2. Click Ctrl+Scroll
3. Look for err

[2020-06-18 07:35] timur-davletshin opened #5535 "Lighttable (file manager) mode → Scrolling by keys"
Linux x64, master snapshot:

It looks that scrolling by up and down keys was broken recently (no more than couple days). To reproduce it just click on random image in file manager mode and try using up/down keys to scroll. It does nothing.

[2020-06-18 07:58] elstoc commented on #5535
I think this might be related to #5468. I find that if I click on a metadata editor field (say, title), then click on a thumbnail in the file manager, and then use the arrow keys, the keyboard focus returns to a different field (in this case, publisher) in the metadata editor.

[2020-06-18 08:08] elstoc commented on #5535
In ``thumbtable.c`` replacing ``gtk_window_set_focus(GTK_WINDOW(dt_ui_main_window(darktable.gui->ui)), NULL);`` with ``gtk_widget_grab_focus(dt_ui_center(darktable.gui->ui))`` seems to resolve the specific issue described here.

[2020-06-18 08:31] elstoc commented on #5535
I'll submit a PR to resolve

[2020-06-18 09:09] elstoc commented on #5535
#5537 resolves the additional issue (where the metadata entry fields don't lose focus when you collapse the module or expand another)

[2020-06-18 11:44] #5535 closed

[2020-06-18 12:31] AlicVB commented on #5523
That's the key : the language. A stupid copy-paste error in the code.
PR #5540 fix that
Thanks for the report !

[2020-06-18 12:39] johnny-bit commented on #5523
@GLLM - Can you try instead pasting `<span foreground="#ee0000">⚫ </span>` in your infos line verbatim and see if it works? for me it works very nicelly, I wonder if there's something else since PR#5540 fixes the way problem manifest for me but I don't know if it would be same for you.

[2020-06-18 12:48] mkszuba opened #5541 "doc/README.md: Invalid description of libsoup dependency"
**Describe the bug**

_doc/README.md_ says Darktable needs libsoup in order to provide geotagging support. However, comments in _src/CMakeFiles.txt_ suggest libsoup is only required by the Facebook exporter - and geotagging seems to work just fine without it.

**To Reproduce**

1. Compare the contents of _doc/README.md_ with those of _src/CMakeFiles.txt_, and/or
2. Build Darktable with osm-gps-map

[2020-06-18 13:06] Mark-64 opened #5542 "Inconsistent use of "show mask" in GUI"
The icon show mask is displayed in different ways across the GUI

1) In blend gui
OFF ![blend_off](https://user-images.githubusercontent.com/43290988/85022940-534b7c00-b174-11ea-85f2-14c7b61c20a5.JPG) ![blend_on](https://user-images.githubusercontent.com/43290988/85022945-56466c80-b174-11ea-811a-67ae04d1a77a.JPG) ON

2) in tone equalizer and filmic rgb
OFF ![toneq_off](https://user-images.githubus

[2020-06-18 13:12] aurelienpierre commented on #5542
Not sure if it's inconsistent, Tone EQ and filmic show a grey mask.

[2020-06-18 13:13] #5534 closed

[2020-06-18 13:13] Mark-64 commented on #5542
A mask is a mask, the color shown is just a representation, the user can also change it, I guess

[2020-06-18 13:22] aurelienpierre commented on #5542
Yes but the yellow icon comes from the original masking color, which was yellow, but can now be whatever.

Also, the reason `dtgtk_togglebutton_new()` is not used is we can't associate a text label to the button. `dt_bauhaus_combobox_new()` + `qquad_add` is a hack to get both.

[2020-06-18 13:24] #5523 closed

[2020-06-18 13:42] #5542 closed

[2020-06-18 13:43] Mark-64 opened #5543 "always on button size, again"
I thought that after #5445 and cc0bc1d the alignment of icons/labels in module headers was solved, but apparently it's not

![icons](https://user-images.githubusercontent.com/43290988/85027533-521d4d80-b17a-11ea-93d8-bc90660ffd1f.JPG)

![no_icons](https://user-images.githubusercontent.com/43290988/85027541-547fa780-b17a-11ea-8533-33cc025f3ffa.JPG)

current master, Windows 10

[2020-06-18 13:45] aurelienpierre commented on #5145
I wonder if I shouldn't remove the padding in tone EQ at all. It triggers too many errors and slowdowns the app. However, without that padding, the zoomed-in and zoomed-out previews will not get exactly the same tone correction at the view edges.

@rawfiner thoughts ?

[2020-06-18 13:49] Nilvus commented on #5542
Removing yellow color make sense. Just a thing remaining for me anyway, icons mask with dt_bauhaus_combobox doesn't allow hover effect. The hover effect is a good signal to see something to do there. That makes buttons "dynamic" and not "static" but I understand the goal to needed text. So if hover effect is not possible in that case, we could do that way.

[2020-06-18 13:52] aurelienpierre commented on #5542
Hover effect should be handled by adding a Gtk state flag on the qquad icon, in `bauhaus.c`, on `mouse_move` event.

[2020-06-18 13:57] Nilvus commented on #5543
They are aligned. I just made the test: going in Gimp with your image (and same for what I see on my side) and just make a square selection and you will see that they are aligned. The main difference is icon module is more "brilliant" and have not totally same circle (sort of more plain) and they are SVG as always on is cairo painted.

So that's just an optical illusion, physically they are aligne

[2020-06-18 14:26] aurelienpierre commented on #5493
Hmm what about Lanczos and cubic methods ?

[2020-06-18 14:34] TurboGit commented on #5543
Optical illusion ? I see them aligned on my side... Maybe my brain is damaged and don't see the illusion :)

[2020-06-18 14:54] rawfiner commented on #5145
Maybe padding can be removed without too much problems by considering image borders as mirrors in the algorithm, instead of clipping the coordinates?
Anyway, if we can remove padding without too much drawbacks I am all in favor of this, as it will definitely make computations at 100% zoom level faster.

[2020-06-18 15:11] #5524 closed

[2020-06-18 15:14] Nilvus commented on #5542
So, would be good to add that. That will make those buttons better and consistent between them.

[2020-06-18 15:18] TurboGit opened #5545 "confirmation window should be modal"
**Describe the bug**
confirmation window should be modal

**To Reproduce**
1. Go to preferences
2. Click on an action without any shortcut
3. Try to affect the an existing shortcut
4. See the dialog asking if yes or no to redefine this shortcut
5. Click outside the dialog on the preference window

The dialog is not visible anymore. Hard to make it visible again, it is hidden under the preference w

[2020-06-18 15:37] #5545 closed

[2020-06-18 15:41] dtorop commented on #5473
As a side point, 4a657c3ce5905140a1fcf500edd8bdc90d26a32e eliminated the `dt_pthread_mutex_lock(&dev->preview_pipe_mutex);` added by 5a7015e562710b0d1a6fa32af374ff72b8d30899. That mutex is the only (to me) potentially troublesome element.

From my backtrace of the hang, 4fc75444e71d70c1dd2ddb5f78129e760aff719f does look like the right fix for now. I'm curious what the backtrace from 5a7015e562710b

[2020-06-18 15:44] TurboGit commented on #5543
Ah ok, so I have a perfect brain with an auto alignment algorithm included :)

[2020-06-18 15:51] TurboGit commented on #5524
@Nilvus : it was here:
https://github.com/darktable-org/darktable/pull/5506#issuecomment-645190579

[2020-06-18 16:03] Nilvus commented on #5524
Thanks. Anyway, I would really see at least a default 0.05 step with mouse wheel on exposure main slider and not the new one 0.10.

[2020-06-18 17:01] rawfiner commented on #5493
More complicated with Lanczos and cubic, I don't know

[2020-06-18 17:10] aurelienpierre commented on #5493
That smells like Taylor expansions, 3/8 of something and magic coeffs all along.

[2020-06-18 17:32] Mark-64 commented on #5543
?
![immagine](https://user-images.githubusercontent.com/43290988/85053103-548f9f80-b19a-11ea-97d8-26d69685ee9d.png)

[2020-06-18 17:37] Mark-64 commented on #5542
Can't
`dt_bauhaus_combobox_new()` + `qquad_add`
be replaced by
`gtk_label_new()` + `dtgtk_togglebutton_new()`
?

[2020-06-18 17:40] TurboGit commented on #5543
Ah indeed! I was concentrated on the horizontal alignment and so I did not even notice this vertical shift :)

[2020-06-18 17:41] aurelienpierre commented on #5542
No, you would need to define a Gtk grid to put them on the same line, in different columns, because otherwise Gtk will put one widget per line. But then, aligning the Gtk columns to match the qquad width, taking into account CSS rules, font size and DPI scaling, will be a nightmare and consistency will not be ensured.

So, in all that clusterfuck, nasty hack is the least painful path.

[2020-06-18 17:45] #5493 closed

[2020-06-18 17:50] Nilvus commented on #5543
Me too. So it's not icon size as your title says but vertical shift.

[2020-06-18 17:53] Nilvus commented on #5543
Seems that CSS padding and margins are not the same for always-on icon. Will check more this evening if this could be solved by CSS. So let me that @Mark-64. If something else, I will say you there.

[2020-06-18 18:05] Nilvus commented on #5543
Was finally an easy one to fix. See #5548 PR.

[2020-06-18 18:53] GLLM commented on #5523
Hey @AlicVB, @johnny-bit,

Thanks for taking the time to investigate & try to fix !

I tested in 3.1.0~git2304.9b64fa299, it's still KO ! :-(
* In darkroom and lightable preview : it still see black bullet !
![image](https://user-images.githubusercontent.com/3989573/85059656-51011600-b1a4-11ea-9285-da3b5787f645.png)
![image](https://user-images.githubusercontent.com/3989573/85060033-d71d5c80-b1a4-

[2020-06-18 19:01] AlicVB commented on #5523
@GLLM : there's definitely something strange with your install/config. You seems to have colored "font-chars" but when you specifically specify some color, it's not taken in account.
Some question :
1. what is your theme ?
2. have you Roboto fonts installed ?
3. Does it happen with roboto fonts and a darktable-elegant-* theme ?

[2020-06-18 19:19] GLLM commented on #5523
@AlicVB

My dt theme is darktable-icons
![image](https://user-images.githubusercontent.com/3989573/85062367-a8a18080-b1a8-11ea-9e56-16aa30ec32d0.png)

With darktable-elegant-dark, I have the same issue : black bullets !
Even with <span foreground="#ee0000">⚫ </span>

I do have Roboto fonts on my Kubuntu 20.04 system

[2020-06-18 19:29] johnny-bit commented on #5523
Huh, that mountain directed me somewhere: this seems to be noto-color-emoji font!

wchich means - no color what so freaking ever for that. it's like trying to colour a PNG picture. For that particular nasty hack that is colored emoji, one hast to use emoji color code.

So...

[2020-06-18 19:44] AlicVB commented on #5523
exactly.

Like @johnny-bit I really think that it has something to do with your font. In fact I've never seen a font that "colored" emoji like that. I suppose that in this case the bullet is considered as a black emoji and the markup color is bypassed or something like that.
Do you have the possibility to test with a more "classical" font ?

[2020-06-18 19:53] johnny-bit commented on #5523
I've tested it and it's naaasty. #5550 is the only way around it IMO, no way to detect if emoji font used will work with span color or will work with utf color... so in case you see "black dots" in place of color labels, use `LABELS_COLORICONS`. Why not simply use `LABELS_COLORICONS`? well, if your emojifont is BW and uses dithering/werido effect it looks NASTY :)

so it's a workaround for those u

[2020-06-18 20:02] AxelG-DE commented on #5523
Just for completeness (late as always) #5540 fixed it for me (but I am on roboto)

[2020-06-18 20:41] johnny-bit commented on #5523
So... ultimatelly it falls to - use `LABELS_ICONS` if you don't have color emoji font or use `LABELS_COLORICONS` if you have one.

[2020-06-18 20:46] GLLM commented on #5523
Indeed, I use Noto font in my Kubuntu 20.04
![image](https://user-images.githubusercontent.com/3989573/85069229-10a99400-b1b4-11ea-8aa9-9cadacfbbe6d.png)

Changed all system font to Roboto, it didn't change anything ... I need to log out and log back into plasma just in case ... which is a no-go atm.

[2020-06-18 20:50] johnny-bit commented on #5523
Well, it won't help. For some reason emoji fonts "take over" some ranges of UTF characters and changing fonts mean nothing. ultimatelly you can unistall color emoji but that brings bad experience with emoji overall (unless you like symbola bw emoji)

[2020-06-18 21:29] spaceChRiS commented on #3005
Thanks for looking into that, @dtorop and all! Regarding the questions, I was solely thinking about having a way to assess the brightness distribution in both directions and not only “x”. I had to correct a severe gradient in ~30 pictures and it was easy in x-direction with the waveform, but in y direction I was lost. The only question is if the analysis along the image y axis should also rotate t

[2020-06-18 21:38] spaceChRiS commented on #5485
@wpferguson, thanks for looking into that. Yes, maybe this would be the way to go. What I cannot assess yet is the side effects this will cause, and the last time I checked the lua api, such a task was beyond my skill level, besides not being a programmer such that most programming tasks are beyond my skill level.

Regarding side effects, the interaction with the correction in the geotagging modul

[2020-06-18 21:40] LViatour opened #5551 "historical style different between light table and dark room"
**Describe the bug**

I created a style based on an online tutorial to Boris Hajdukovic here:
https://www.youtube.com/watch?v=-fXO3Bo2NOA

Here is the link to download the style:
http://luc.lucnix.be/Jardin-DRC.dtstyle

The particularity of the style is that it uses several instances of local contrast.

If I apply the style via the light table by keyboard shortcut or by clicking on apply the style

[2020-06-19 02:19] slickw9 opened #5552 "RawSpeed:Unable to find camera in database: 'Canon' 'Canon EOS 2000D' ''"
**Describe the bug**
I am learning to use Darktable with a new camera to me.  I am on Ubuntu 18.04.4 and on my first and every attempt to open an imported file in darkroom I get an error stating it was unable to load camera white balance information from 'Canon - EOS 2000D - RAW (
Then it goes off the edge and where the image should show to make edits is like a frozen image of the lighttable with

[2020-06-19 04:59] wpferguson commented on #5485
The geotagging module just changes the datetime_taken field for the image
in the database.  The correction info is not computed.  The original
datetime_taken can be pulled from the image itself using exiv2.

As far as setting a datetime with partial information, the field itself is
a character field so that it should be possible to just zero out anything
missing, i.e. 00/00/2015 00:00:00 for an im

[2020-06-19 05:42] karvox opened #5554 "Missing Nikon lens model"
Darktable doesn't find **Nikon AF-S DX Nikkor 55-200mm f/4-5.6G ED VR II** lens. On **Lens correction** module just only exists **Nikkor 55-200mm f/4-5.6G DX ED** without VR II in database.

**Examples**

![lens1](https://user-images.githubusercontent.com/7475131/85100349-51b2a000-b1d6-11ea-9a94-368767f832d4.jpg)
![lens2](https://user-images.githubusercontent.com/7475131/85100350-524b3680-b1d6-11e

[2020-06-19 05:49] mtvoid opened #5555 "filmic v4: default pixelpipe order introduces possibility of unwanted color noise"
**Describe the bug**
If the input image to the filmic module is desaturated, with the "add noise in highlights" feature of filmic v4 enabled, color noise is reintroduced in the highlights of an otherwise monochrome image. This will happen if desaturation is achieved using modules like "color balance" or "channel mixer", which are applied before filmic in the default module order. Using modules app

[2020-06-19 06:13] GLLM commented on #5523
Mmmmhhh, I see.
I'll change my fonts back to what I had set up. Thanks

[2020-06-19 06:58] ariznaf commented on #5054
@coffeeandspaceships How is this item going on?

Is there any executable that I can download to do test performance ?

I am using your DT 3.02  with openCL for intel active with no issues.

[2020-06-19 07:20] #5486 closed

[2020-06-19 07:46] johnny-bit commented on #5523
try now and share you screenshot! :)

[2020-06-19 07:51] johnny-bit commented on #5554
have you tried https://github.com/darktable-org/darktable#why-is-my-lens-not-detectedcorrected-in-darkroom- ?

Actually I checked https://wilson.bronger.org/lensfun_coverage.html and it lacks your lens, so best bet for you would be to follow https://github.com/darktable-org/darktable/wiki/Camera-support#lens-correction and ultimatelly https://pixls.us/articles/create-lens-calibration-data-for-lens

[2020-06-19 07:56] johnny-bit commented on #5552
This is a duplicate of #3994

You haven't specified which version of darktable you have problems with, there is no problem opening 2000D images on either 3.0.2 or current master.

[2020-06-19 08:00] elstoc commented on #5555
what happens if you move the grey/colorful details slider all the way to the left (in the reconstruct tab)?

[2020-06-19 08:01] #5554 closed

[2020-06-19 08:02] aurelienpierre commented on #5555
2 options here:
- increase the number of high-quality reconstruction iterations, in option tabs,
- desaturate the image, in filmic look tab

[2020-06-19 08:12] mtvoid commented on #5555
Moving it to the left side does seem to eliminate the color noise, yes. But the initial source of the random color noise is definitely the "add noise in highlights" feature. If that is set to 0, then the highlight reconstruction settings maintain the monochromaticity of the image, and do not reintroduce color into a black and white input image.

[2020-06-19 08:12] #5543 closed

[2020-06-19 08:37] TurboGit commented on #5489
I had a look at this, and the issue is that the iop-order in this edit is a mess:

[code]

Version 0 means that it is a custom iop-oder.

And the order registered into the XMP is quite wrong. `gamma` is not the last module and `rawprepare` not the first one :(

This cannot possibly work. I'm wondering if this is not another instance of the transient bug we had back in Sept.

The only solution I co

[2020-06-19 09:06] Nilvus opened #5557 "Severe issue when setting GUI controls and text DPI"
**Describe the bug**
GUI controls and text DPI main issue as UI become unreadable with just a little setting (to 1) and applied without restart in a way but not when revert back. @aurelienpierre: this one for you!

**To Reproduce**
1. Go to 'preferences window'
2. Set 1 setting in GUI controls and text DPI issue
3. Close preferences window
4. See screenshot below that setting is applied (without r

[2020-06-19 09:13] GLLM commented on #5523
It's working fine now with the fix !
![image](https://user-images.githubusercontent.com/3989573/85116618-e55b8f00-b21d-11ea-978f-38c0a2acfa12.png)

Thanks all for your help !
GLLM

[2020-06-19 09:22] elstoc opened #5558 "Crop & Rotate: Bottom border moves when resizing"
When resizing a crop by dragging on any of the top handles (top, top-left, top-right) the bottom border of the image also moves up fractionally. This doesn't happen when dragging on the left, right, bottom, bottom-left or bottom-right handles. Edit: this only happens when I have an aspect ratio set (not when using freehand).

Also, perhaps related (?), very occasionally the crop and rotate module

[2020-06-19 09:28] aurelienpierre commented on #5523
And now darktable looks like a teenage Instagram account \o/[/not_helping]

[2020-06-19 09:38] aurelienpierre commented on #5557
DPI settings should usually be in the 72-320 range, with default to 96 DPI. Your screenshot shows that the setting is correctly applied, it's the setting itself that is faulty. Not sure if the program should take over user setting.

It's a kind of Airbus vs. Boeing situation (Boeing having autopilot superseding manual flight commands, Airbus having manual flight commands superseding autopilot).

[2020-06-19 09:45] parafin commented on #5557
Maybe sane-check that font size will be bigger than 1 pixel with specified settings and don't apply them otherwise?

[2020-06-19 09:48] aurelienpierre commented on #5557
Sanity check should ensure font size is bigger than `some legible value`. Problem is I have no clue what legible is on every OS.

[2020-06-19 09:57] johnny-bit commented on #5541
osm-gps-map depends on libsoup internally https://github.com/nzjrs/osm-gps-map/blob/9df1353a3970cd21a73527967e9f3d75f9bf7537/configure.ac#L24 it's impossible (i think) to build/use osm-gps-map without it, since it uses libsoup to download map tiles.

another use is that mentioned facebook, however facebook export is removed in favour of lua scripts... i need to browse code because this became inte

[2020-06-19 09:59] Nilvus commented on #5557
I know that, that's just to show that some limits needs to be set. I've just tested that by applying, like a newbie, what is describe on tooltip. It's just say that increase setting to have magnificent UI. so no way for a default user to know that. Some security needed here (at worst tooltip describing the range to set, probably same for GUI thumbs too). And of course, limit range directly on fiel

[2020-06-19 10:03] aurelienpierre commented on #5557
But then -1.0 is a valid input too.

[2020-06-19 10:19] codingdave opened #5559 "heap-buffer-overflow with Lensfun lib"
**Describe the bug**
Updated to latest master, got a ASAN report on startup.  https://pastebin.com/PykrsLND

Compile options used:

**To Reproduce**
1* Update
2* Compile with parameters given above
3* Experience asan report

**Platform (please complete the following information):**
 - Darktable Latest Master
 - OS: Manjaro
 - lensfun 0.3.95-2

[2020-06-19 10:26] ghost opened #5560 "Retouch & Spot removal → No access to controls"
Linux, 64 bit, current master:

Steps to reproduce: Move to the right bottom part of the image in darkroom mode and try using spot removal or retouch tools. Place mouse pointer in a way so "+" goes beyond right corner of the image and click. See attached image (red line is way you should place mouse pointer).

![retouch and spot removal](https://user-images.githubusercontent.com/65483426/85122686-

[2020-06-19 10:29] PeterWem opened #5561 "$(EXIF_EXPOSURE) and exported file name"
**Describe the bug**
$(EXIF_EXPOSURE) is giving me 0,0.TIF when exported to TIF. It should be 1/1600.TIF instead.

`/$(FILE_FOLDER)/Darktable/$(FILE_NAME)-ISO$(EXIF_ISO)-f$(EXIF_APERTURE)-Shutterspeed$(EXIF_EXPOSURE) `
gives me:
IMG_4132-ISO100-f4,0-Shutterspeed0,0.tif

In darkroom it works as it should.

**To Reproduce**
https://discuss.pixls.us/t/darktable-exported-file-name/18839/

**Screenshot

[2020-06-19 10:29] #5557 closed

[2020-06-19 10:34] elstoc commented on #5560
ctrl+scroll allows you to zoom out further and access any control points placed outside of the image boundaries.

[2020-06-19 10:35] aurelienpierre commented on #5561
Having `/` in file name is forbidden since it encodes a directory path.

[2020-06-19 10:38] timur-davletshin commented on #5560
@elstoc but usability... just try placing that "+" in image area whenever it is possible.

[2020-06-19 10:46] elstoc commented on #5560
The better workflow IMO is to place the + (source area) yourself before you place the target shape using shift+click. Better that you do it than darktable try to be clever (because it will probably get it wrong).

[2020-06-19 11:02] XAndrey opened #5564 "Group Deleteng RAW+JPEG warns about 2 files but deletes only 1 file per time."
**Describe the bug**
I need to delete a group of paired files: raw+jpg at one click. And when i click delete i see warning: you about delete **2** files? I answer "Yes". And darktable deletes only raw. Jpg isn't deleted. So i must hit "delete" another time. I get message "You about delete 1 file" - "Yes" - and only here i get deleted 2 files.

**To Reproduce**
1. Go to 'lighttable' with raw's and

[2020-06-19 11:25] mkszuba commented on #5541
True - but if you e.g. link it to osm-gps-map statically then geotagging in darktable will work fine without an extra copy of libsoup installed :-) Anyway, thank you for having cleared that up!

[2020-06-19 11:34] #5541 closed

[2020-06-19 11:50] Mark-64 commented on #5227
this is solved in #5533

[2020-06-19 11:50] #5227 closed

[2020-06-19 11:51] TurboGit commented on #5561
You may want to try:

`..-Shutterspeed$(EXIF_EXPOSURE/\//_)`

[2020-06-19 11:53] TurboGit commented on #5561
See for full description of variables replacement:
https://darktable.gitlab.io/doc/en/export_selected.html

[2020-06-19 11:55] GLLM commented on #5523
@aurelienpierre : you mean my (GLLM) infoline does so ;)

[2020-06-19 11:56] jade-nl commented on #5561
..... ore represent it in decimal form in this case?

It, EXIF_EXPOSURE, is shown in the list when constructing a filename, I would expect dt to be able to convert 1/125 as 0.008

Could still a bit messy with the dot but it could be a way around the forwrd slash.

[2020-06-19 11:56] LebedevRI commented on #5552
Duplicate of #3994.

[2020-06-19 11:56] #5552 closed

[2020-06-19 12:07] TurboGit commented on #5561
Won't be very clear having 0.04 or 0.0015625 :)

[2020-06-19 12:12] jade-nl commented on #5561
@TurboGit : I fully agree with that sentiment.

But the variable is in the list of, legitimate, filename building blocks. Either remove it from that list or do the unclear" thing :-)

[2020-06-19 12:26] TurboGit commented on #5561
Don't understand, what should be done ? It is legitimate to display 1/640, this cannot be used for filename and so I have propose the pattern that will work in this context.

[2020-06-19 12:49] jade-nl commented on #5561
Proposed as in: Users need to do this themself  or as in the developers are going to change the entry in the list that is shown? Ie: $(EXIF_EXPOSURE/\//_) vs $(EXIF_EXPOSURE)

I assume you meant the first, but the second would be the better solution.

How many users would realize that certain characters are special for their specific OS and need to be changed and if they realize this how many of t

[2020-06-19 12:53] TurboGit commented on #5561
Not sure maybe there is a way to get the context at the time the variable is created and know if it is for an export job or not... The issue here is really change / to whatever else only when this is needed.

[2020-06-19 13:04] AlicVB commented on #5561
yes there is. It's already used for some other variable which have special chars, etc... So if I understand well, we need to replace / by _ in case of export job, right ?

I can take care if you want.

[2020-06-19 13:19] TurboGit commented on #5561
@AlicVB : Yes, replacing / by _ is one solution.

[2020-06-19 13:30] TurboGit opened #5565 "hard to select the right group size in lighttable"
**Is your feature request related to a problem? Please describe.**

I found it hard to find the proper group sizes for the thumbs in the lighttable.

In the following picture we have the actual size (here size 1):

![image](https://user-images.githubusercontent.com/467069/85137326-4a74ac00-b241-11ea-8e25-5deca6c3addd.png)

But we do not know where we are in the actual group.

**Describe the soluti

[2020-06-19 13:30] TurboGit commented on #5565
@AlicVB : what's your take on this one ?

[2020-06-19 13:32] jade-nl commented on #5561
@AlicVB : That sounds like a very acceptable solution.

[2020-06-19 13:43] AlicVB commented on #5565
yes, why not. That won't solve all the problems but it'll be difficult to show the actual size and the size range in a clear and concise way...

I'll have a look.

[2020-06-19 13:50] AlicVB commented on #5561
I've just read the code, and that's "by design". See here : https://github.com/darktable-org/darktable/blob/e585d29bab2f6937f012a6bde90fe74ddcef7322/src/common/variables.c#L209
In case of an export job, we use the floating point notation, to avoid the problematic / char

So it's normal that the substitution doesn't work !

[2020-06-19 14:42] elstoc commented on #5558
Magic crop-box movement when moving the mouse is illustrated in the attached video. It seems that once I've found the right crop size it happens consistently. Could it be some sort of rounding error?

[issue5558.zip](https://github.com/darktable-org/darktable/files/4805173/issue5558.zip)

[2020-06-19 15:04] AxelG-DE commented on #5558
I reproduce, see Screencast, attached
[dt_spooky-Magic_20200619-2020-06-19_17.00.37.mp4.zip](https://github.com/darktable-org/darktable/files/4805260/dt_spooky-Magic_20200619-2020-06-19_17.00.37.mp4.zip)

[2020-06-19 15:12] #5565 closed

[2020-06-19 15:14] #5561 closed

[2020-06-19 15:33] AxelG-DE commented on #5558
I bisected the bottom-line move up thingie...
[code]

@GrahamByrnes could you do us a favour to also look into this? :)

[2020-06-19 15:38] GrahamByrnes commented on #5558
Ooh, look at that... lol. Ok, will go have a look.
Can I just say in advance "What a fcckn nightmare" to save me saying it later?
Ta.

[2020-06-19 15:41] elstoc commented on #5558
Confirmed. Both issues are present in https://github.com/darktable-org/darktable/commit/aac258ae28db0b8b9bc14a29d206186b7133be96 but not in https://github.com/darktable-org/darktable/commit/a79a1feb157870a5f5b85bb21d67d211338b1210 (the prior commit)

[2020-06-19 15:44] elstoc commented on #5558
I feel your pain. Crop&rotate is a nightmare.

[2020-06-19 15:55] GrahamByrnes commented on #5558
I'm running something else at the moment, so could you tell me: does this happen when "original image" is set? Or does it have to be one of the other ratios?

[2020-06-19 16:00] elstoc commented on #5558
Yes. Also happens with original image as the aspect ratio.

[2020-06-19 16:01] elstoc commented on #5558
Although I'm not sure about using ``!g_strcmp0(text,"original image")`` don't you need to explicitly check it's ``== 0``?

[2020-06-19 16:10] elstoc commented on #5558
I can definitely reproduce the 'bottom moving when cropping the top' issue on original image but the 'magic movement' issue only seems to happen with other ratios

[2020-06-19 16:11] GrahamByrnes commented on #5558
Could be... but I don't understand why it should be different. Which doesn't mean a lot :-)

For the moment I haven't found the magic choice of numbers and hand waving, so this could be complicated.

According to GLib,
[code]
So the only real issue would be if it was comparing two NULL pointers... which is impossible since one is an explicit string.

[2020-06-19 16:12] Germano0 opened #5568 "[3.0.2] darktable hung on opening file"
In Fedora KDE, I selected a CR2 file, "open with" -> darktable. Then darktable started and hung

**Platform:**
 - Darktable Version: 3.0.2
 - OS: Fedora 32
 - OpenCL disabled
 - VGA Intel Corporation 2nd Generation Core Processor Family Integrated Graphics Controller (rev 09)

**GDB backtrace**

[code]

[2020-06-19 16:12] elstoc commented on #5558
Sorry I deleted my previous comment as on reflection I think your code for that comparison is fine.

[2020-06-19 16:14] GrahamByrnes commented on #5558
It's kind of weird, since the only part of the code I thought to have modified was for the exact image case. That's where the exact aspect ratio is imported. For the others it should behave like the old code... except it doesn't :-(

[2020-06-19 16:18] elstoc commented on #5558
I also get some odd crop ratios in the combobox occasionally

![Screenshot_2020-06-19_17-16-49](https://user-images.githubusercontent.com/9555491/85155552-cb876f80-b250-11ea-99a8-d2529608e818.png)

Don't forget this code has been tweaked a couple of times since that PR so the effects might be subtly different now (when I was testing I had to tweak the image size to reproduce the 'magic' bug after

[2020-06-19 16:19] GrahamByrnes commented on #5558
There certainly could be an issue with rounding: the whole point was to fix an issue where the rounded ratio of the downsampled preview image was at least a pixel or two off from the image to be pasted in. So the idea was that for "original image" you should be able to select the original image.

Oh, just saw your latest... hmmm.

[2020-06-19 16:21] elstoc commented on #5558
"original"

[2020-06-19 16:22] GrahamByrnes commented on #5558
I can get the "bottom edge moving" thing... although you can just pull it back down.

[2020-06-19 16:42] dtorop commented on #3005
@spaceChRiS Glad to hear back. I also agree that shifting the axes for a vertical waveform makes sense. I guess the only thing to do is to code it and see how it works, unless others have clear design visions.

I'm happy to work on this. It may not be right away, as I want to pull together #4298 which may require altering a bunch of the histogram plumbing.

Currently the waveform work is done here

[2020-06-19 16:51] TurboGit commented on #5568
A possible issue is a Lua script (I see many lua strings in the backtrace). Have you tried without Lua ?

Also at this stage there is zero chance that we will fix 3.0.2 as 3.2 will be out soon. Have you tried with the current master branch ?

[2020-06-19 16:53] GrahamByrnes commented on #5558
Got shut out :-(

I'm wondering about those MAX(ceiling(....) ,0) changes, which were really aimed at fixing a preceding problem... since the guts of my changes don't apply when a ratio other than "original" is selected...

[2020-06-19 16:59] Germano0 commented on #5568
Hi Pascal, I cannot reproduce the problem so I cannot do these tries.
Feel free to close the bugreport if the backtrace is not enough to address the problem

[2020-06-19 17:16] elstoc commented on #5558
Yes that's about all that's left really isn't it.

[2020-06-19 17:21] matrixik commented on #2930
Seeing more videos from Peter Coulson when he is using Phocus I would really love to have similar functionality in any open source that work with more camera brands (I want it for my Sony A7III).

So I would prefer this issue not to be closed.

[2020-06-19 17:21] karvox commented on #5554
Thanks.

[2020-06-19 17:26] wpferguson commented on #5485
I found my adjust_time script.  Let me see if I can hack it into a solution

[2020-06-19 17:37] GrahamByrnes commented on #5558
That's it.

[2020-06-19 17:50] nbremond77 commented on #2930
Hello,
Thanks.
I fully agree. Phocus is really  the perfect app for studio work... unfortunately it works only with hasselblad... which is far out of y budget.

I think DT can provide pretty good studio work functionalities with reasonable effort:

- Add the capability to automatically apply a pre-defined style, or the xml development file of the last picture, or a selected picture) to every thete

[2020-06-19 17:56] elstoc commented on #5558
Thanks I'll test it soon

[2020-06-19 18:02] slickw9 commented on #5552
I just installed from the repository so should be the new one.  I'll check
when home.  Same thing on new install on wondering but doesn't freeze

On Fri, Jun 19, 2020, 12:56 AM Hubert Kowalski <notifications@github.com>
wrote:

[2020-06-19 18:03] slickw9 commented on #5552
Not a duplicate because the other reports show fixed but mine isn't.

On Fri, Jun 19, 2020, 4:57 AM Roman Lebedev <notifications@github.com>
wrote:

[2020-06-19 18:04] LebedevRI commented on #5552
"the new one" in the repository, yet it is 2+ years old by now.

[2020-06-19 19:33] JacoTux opened #5571 ""Import Image" window crashes and freezes darktable."
the bug
When trying to import image under Manjaro Linux and dt 3.1.0+2331 the "Import Image" window crashes and freezes darktable.
I downgraded dt to the 3.1.0+2309 release to get back to normal behavior.

[2020-06-19 20:26] rawfiner commented on #5145
Another option is to recompose a larger image by mixing preview and the image from the full pipeline, run the guided filter on this and then crop the image, but this may give some issues too as preview is not 100% accurate

[2020-06-19 20:55] aurelienpierre commented on #5145
That's what local laplacian used to do, but it produced lots of inconsistent cache states because cache invalidation was brittle (also that requires to synchronize 2 different pipelines). So I removed the clever caching for 3.0.1.

[2020-06-19 21:14] slickw9 commented on #5552
Did I say "the new one?". I dont really know how new it is.

My Windows version of Darktable is 3.0.2
The Ubuntu version of Darktable is 2.4.2

On Fri, Jun 19, 2020, 11:04 AM Roman Lebedev <notifications@github.com>
wrote:

[2020-06-19 21:27] slickw9 commented on #5552
OK, i just saw I said it should be the new one, sorry.  I assumed at the time.

[2020-06-19 22:18] phweyland commented on #5571
I've tried to reproduce on 3.1.0+2331~g26a903a65. without xmp, with xmp and with modified xmp. The 3 cases work for me on debian 10.
Could you share a bit more information ? Settings ? ...

[2020-06-19 23:18] JacoTux commented on #5571
It is when importing a new image, so without xmp.
The import window is transparent.
![Capture d’écran_2020-06-20_01-12-42](https://user-images.githubusercontent.com/65790625/85185339-e0392700-b293-11ea-8af6-1ae76dace2c8.png)

[2020-06-20 00:23] phweyland commented on #5571
I see you have different cameras. Is it the same scenario with each camera ?
For me it works with nef and cr2 files.

[2020-06-20 01:12] Liesh00 opened #5575 "Darktable 3.0.2 No module categories, cant open modules"
All of a sudden there are no module categories instead it is a search module bar, I can only open whatever 4 random modules are there (it changes when I open a different picture. If I click on more modules down the bottom and select one it just gets a star next to it. Some of them will open but just randomly ( or is appears random) I am lost and have no clue what has happened or how to fix it. I h

[2020-06-20 02:20] Liesh00 commented on #5575
Reinstalled it for the hundredth time today and magically all the buttons are back and working. Frustrated to say the least, at least it is working again.

[2020-06-20 02:20] #5575 closed

[2020-06-20 03:26] todd-prior commented on #5443
@dterrahe Tried your suggestion still nothing. I can see the histogram display changing behind the tone curve but the curve remains linear with no change no matter where or how I draw the range...I will  build a newer one...I am on  3.1.0+2031~g4a1331495  so not that old but maybe it is some other issue??

[2020-06-20 05:37] dterrahe commented on #5443
In reality, it only matters whether you hold the CTRL or SHIFT key at the _end_ of making the range selection. So you drag an area while holding the mouse key, then press the CTRL key and hold it while letting go of the mouse.

[2020-06-20 06:41] parafin commented on #5443
IMHO it should be the other way around - modifier should be remembered from the mouse down action.

[2020-06-20 07:11] dterrahe commented on #5443
If you hold ctrl or shift all the time while dragging, it doesn't make a difference. Do I agree that in principle it would be nice to remember from button down, so it doesn't matter if you let go in the middle? Maybe. That also means if you remembered you wanted to press ctrl but you forgot in the beginning, now you can't correct later during your drag. So maybe best would be ctrl pressed at any t

[2020-06-20 07:22] AxelG-DE commented on #5558
can be closed, I guess?

[2020-06-20 08:10] elstoc commented on #5558
Yes. Thanks all.

[2020-06-20 08:10] #5558 closed

[2020-06-20 08:23] jenshannoschwalm commented on #5489
@TurboGit we could look through a large number of issues related to wrong history order but i am pretty sure **this** pattern has been reported several times.
1. rawprepare not being the first
2. gamma "somewhere"

So - yes - it might be a corner case but one that will a) always lead to a crash and b) is always wrong. So i think it would be a really good thing if there was a check for such a xmp m

[2020-06-20 08:43] johnny-bit commented on #5571
Can you try running darktable with `-d all`? also - once it hangs, can you do `killall -SIGSEGV darktable` to generate detailed backtrace? Is problem related only to specifix fujifilm files?

[2020-06-20 08:45] johnny-bit commented on #4910
Are you able to try current master version of darktable?
Can you try running darktable with `-d all` param?
can you, once darktable freezes do `killall -SIGSEGV darktable` and post resulting log?

[2020-06-20 08:51] johnny-bit commented on #2930
While this would require more devs with tethering-able cameras and some deep gphoto2 work, I see no downsides to having more powerful tethering :)

[2020-06-20 08:55] elstoc opened #5578 "channel mixer causes highlights to clip"
Using the default scene-referred workflow I adjust exposure to get the middle-grey values looking reasonable while keeping the highlights well exposed (note the histogram), with filmic auto-enabled.

![Screenshot_2020-06-20_09-43-34](https://user-images.githubusercontent.com/9555491/85197687-8a3ba200-b2da-11ea-962d-fd21ae116762.png)

I switch on the channel mixer module _without changing any param

[2020-06-20 09:16] elstoc commented on #5578
Perhaps this is a use case for retaining the 'middle grey luminance' slider in filmic as the standard advised workflow (of using exposure to set middle grey) doesn't work when channel mixer is enabled.

[2020-06-20 09:22] PeterWem commented on #5561
Thanks!

[2020-06-20 09:36] johnny-bit commented on #5578
Unfortunatelly current channelmixer clips. There were some PRs started to unclip the image, but that would break some edits. Further changes were done etc but as far as I see, nothing got merged for "obsolete channelmixer". it seems that only non-clipping channelmixer is Aurelien's Channel Mixer Reboot.

[2020-06-20 09:45] elstoc commented on #5578
:-(

[2020-06-20 11:05] coffeeandspaceships commented on #5054
I am waiting for 3.2 release and will discuss with maintainers whether we can look at this for 3.4.

[2020-06-20 11:12] JacoTux commented on #5571
It's not a file extension problem. I can't join any directory or files.
This morning with dt 3.1.0+2336 at first use the window "import image" was not transparent.
But no tree structure and visible files.
![Capture d’écran_2020-06-20_12-56-34](https://user-images.githubusercontent.com/65790625/85200339-e9a7ab00-b2f6-11ea-981f-a9ca4d6e22b1.png)

[2020-06-20 11:15] coffeeandspaceships commented on #4935
Looks like this was added to the rawspeed submodule in commit https://github.com/darktable-org/darktable/commit/9ebc6f6c8959930417cdf4ae77674a58208c31b9

That means your submission will be included in darktable 3.2, I think.

[2020-06-20 11:17] TurboGit commented on #5489
Ok, I'll see if something safe can be done for this.

[2020-06-20 11:19] TurboGit commented on #2930
@johnny-bit : I fully agree having a single integrated tool to work on is certainly better that having to handle different tools with different ergonomic and ways to add tags, classify, etc... So a decent tethering mode is dt is really something we want to keep.

[2020-06-20 11:27] JacoTux commented on #5571
I can't find the backtrace /tmp/darktable_bt_X9GFM0.txt ! ! !
I got this at the end of the "darktable-d all" process.
`an error occurred while trying to execute gdb. please check if gdb is installed on your system.
backtrace written to /tmp/darktable_bt_X9GFM0.txt
Erreur de segmentation (core dumped)
`
I've got to go.
I'll try again later.

[2020-06-20 12:41] GrahamByrnes commented on #5578
I think that decision was a mistake. When you look at the code, it was an obvious bug: there were commands
`CLIP(red_stuff)+green_stuff+blue_stuff;`
but with lots of extra parantheses... the CLIP should have included all colours... or it should be omitted, since applying a CLIP inside channelmixer is just another form of clipping, so you'd be better off dealing with it upstream or downstream.

Iro

[2020-06-20 12:52] GrahamByrnes opened #5579 "hue2rgb and friends do weird stuff"
**Maybe a bug... **

The code makes no sense to me, but I'm not really sure what these functions are supposed to do, so...

There is a function `hue2rgb`  called by `hsl2rgb`  at lines 1091 - 1191 of `common/colorspaces.c`.

The particular issue is this, at the start of  `hue2rgb`:

[code]
So this has a saw-tooth non-monotonic response to input... it is somewhat protected by the CLIP command in ch

[2020-06-20 12:53] johnny-bit commented on #5578
Color science... HSL is evil ;) HSV is "a bit better".

How much unfunking we want in channel mixer is dependent on whether somebody would like to hack away at it while keeping in mind that reboot channelmixer is *better* :)

[2020-06-20 13:03] GrahamByrnes commented on #5578
Funny you should mention that :-)

To my mind, the biggest issue of channelmixer is that it confounds slider settings output: ie to escape grey mode, you have to reset the CHANNEL_GRAY sliders to zero. You can't just hop between your favourite rgb version and your favourite mono version to see where the love is.

It's actually fairly easy to fix with just a couple of internal variables to track th

[2020-06-20 13:38] timur-davletshin opened #5580 "TIFF import → Warnings"
Export any image to TIFF and import it back to dt. See console output with lots of "[tiff_open] warning: TIFFReadDirectory: Unknown field with tag XXXXX (0xXXXX) encountered".

[2020-06-20 13:41] elstoc commented on #5578
So I have two possible workarounds so far. The first is to place a new instance of the exposure module after channel mixer (using the first to stop channelmixer clipping and the second to adjust for the middle grey) and the other is to re-introduce the 'custom middle grey values' slider into filmic.

What might be nice as a compromise would be if the last set value of the 'use custom middle grey v

[2020-06-20 14:01] GrahamByrnes commented on #5578
1. Expand using exposure so you clip only what must be clipped (extreme highlights);
2.  Mix happily without pushing the sum of contributions to any channel above 1:
3.  Use something (base curve, filmicrgb) to move the content around.

Putting a second instance of exposure.c after channelmixer doesn't do anything, since it's a linear scaler: x -> lambda x, so it commutes with channelmixer, so lon

[2020-06-20 14:13] elstoc commented on #5578
The second exposure instance is basically (as I understand it) equivalent to setting the custom middle grey in filmic. Once you're past the channel mixer module in the pixelpipe you're no longer limited by its clipping and you can use the second exposure module to push the overall exposure in the knowledge that the filmic module will bring the highlights back again. This isn't possible with the fi

[2020-06-20 14:39] ralfbrown commented on #5579
The H in HSL/HSV space is circular, and often expressed in degrees (like an angle); here 1.0 clearly represents 360 degrees.  Since it's circular, 361 degrees is the same as 1 degree.  That code is constraining things to 0-360 degrees, provided you're within -360 to +720.

[2020-06-20 15:36] jade-nl commented on #5580
These warnings have been around for a long time. I checked all stable version as far back as 2.6.3 and the latest development version and they all show the same behaviour:

- TIFF's exported from darktable, either 8,16 or 32 bit, show these messages when imported back into darktable.
- TIFF's created by GIMP or XnView do  _not_ show these messages when imported into darktable.

I only tried with G

[2020-06-20 15:49] JacoTux commented on #5571
I had a missing dependency for gdb.
It's okay. I was able to generate the backtrace file.
[https://pastebin.com/m2CPM4qe](url)

[2020-06-20 15:53] jenshannoschwalm commented on #5580
Dt exports tags not implemented in libtiff.

Don't think it's an issue.

[2020-06-20 16:31] ruudmaas commented on #4910
Hi Johnny,
I have a lot of problems with KDE Plasma (also latest version). After some updates of KDE Manjaro the problem with the parametric mask was solved. Now i still have a lot of problems with KDE Manjaro mainly in relation to the GPU I have in my pc (AMD RX5700).
I have a lot of freezes of Darktable. My real production work with Darktable I do at this moment on Windows 10. On the Windows 10

[2020-06-20 16:53] johnny-bit commented on #4910
I have no idea. It seems that for opencl you need amd-gpu-pro or ROCm
(however no idea how it'll work as AMD is weird with OpenCL nowadays)
drivers.

This however is not darktable bug, but rather distro/gpu drivers bug so you
might consider closing this one and rather go to manjaro bug tracker. I
found couple of recommendations however none were "good enough" IMO. As for
recommended distro: I'd re

[2020-06-20 17:21] elstoc opened #5581 "bauhaus sliders: fine precision adjustments sometimes do nothing"
On some sliders, the 'fine' precision adjustment permitted by CTRL+scroll sometimes does nothing meaning that fine scale adjustment of a slider is not always possible.

For example, on filmic rgb, the 'add noise in highlights' slider has a default step of 0.05 and the fine-scale multiplier is 0.1 * default. This appears to _sometimes_ be insufficient for the slider to move at all meaning that 0.05

[2020-06-20 17:24] TurboGit commented on #5489
See #5582.

[2020-06-20 17:36] ruudmaas commented on #4910
I'll close the Issue. Do you have aninstruction to install a stabls ARCH version with darktable, gimp and firefox for my AMD GPU RX 5700?

[2020-06-20 17:36] #4910 closed

[2020-06-20 17:39] TurboGit commented on #5578
@GrahamByrnes : Fact is that if we do change this it will really break edits and could cause some big differences. Now we could have a new version and only use the unclipping version in new edits and use the clipping one for old edits. Of course a reset of the module will switch to new version and would allow to use the unclipping version in previous edits.

That being said, is that really a good

[2020-06-20 17:42] RonnyB74 commented on #5202
Even after the recent Debian updates:

kernel 5.6.0-2-amd64
Nvidia 440.82-1 to 440.82-2

there was no improvement. I am not interested in edited photos from V2.6.3-1+b1 at all. I wouldn't mind if the edited photos from V2.6.3-1+b1 could not be opened. How often does it happen that you want to edit a photo a second time?

Unfortunately I can't edit any photo at the moment. The program still crashes

[2020-06-20 17:57] GrahamByrnes commented on #5579
Oh, yes, of course I (ahem) knew that. Just forgot for a bit.
Hence @aurelienpierre's proposal to do stuff with Euler angles.

Which raises the question of how the three sliders map rgb to hue? I need to go look.
Might as well close this, thanks for help :-)

[2020-06-20 17:57] #5579 closed

[2020-06-20 18:09] GrahamByrnes commented on #5578
@TurboGit Interesting questions :-)

I'm still a beginner around here, so doing things off line is part of my way of learning. It's just a coincidence that I fell into this conversation as I was in the middle of editing channelmix... because I wanted to see if I could make it work better in the space of a few days.

For the clipping, I think we can agree to disagree, and you're the boss here. Alth

[2020-06-20 18:12] GrahamByrnes commented on #5578
No, as it's currently written. I wasn't thinking through the filmicIII -> filmicIV change

[2020-06-20 18:17] dterrahe commented on #5581
As per https://github.com/darktable-org/darktable/pull/5506#issuecomment-646991085

The number of digits set for a slider is used for rounding and to set the format, but the latter can be set to something else afterwards, for example  to add a unit or %. If both are in sync, for example 2 and "0.01" (%.2f), it means that any change smaller than the accuracy shown is ignored, because rounded away.

[2020-06-20 18:47] johnny-bit commented on #4910
Arch linux has very nice install system called pacman and is very easy to use + has very well maintained wiki :)

[2020-06-20 19:10] ralfbrown commented on #5489
Saw similar corruption today in an xmp given as an example that made my code misbehave (the misbehavior is legit, but the xmp is broken as well).  In that case, there were multiple occurrences of the same multi-instance of a module.
[code]

[2020-06-20 20:05] TurboGit commented on #5489
@ralfbrown :
I don't think that have the same module instance twice will make dt crash. Have you tried removing the duplicate and import again? Do you still see issues?

If so, please can you give me access to the RAW + xmp to test on my side ? Thanks.

[2020-06-20 20:11] ralfbrown commented on #5489
Wasn't crashing, but was causing issues with the values of module->iop_order (which in turn caused my code's misbehavior).  See #5576.

[2020-06-20 20:31] rabauke opened #5585 "Wrong "edit by area"-min-max indicators in the colorzones module"
**Describe the bug**
The "edit by area"-min-max indicators in the colorzones module are drawn incorrectly when color is selected by hue as shown is this example (see the non-monotonous behavior of the gray shaded area),

**To Reproduce**
Go to the colorzones module, select option "edit by area" and channel "hue" and hover over all nodes.

**Expected behavior**
No highly non-monotonous behavior of

[2020-06-20 20:58] sergei18500 opened #5586 "Random tooltips position display"
Random tooltips position display.
Hello,
This is my first post, so bear with me, thank you...

**Describe the bug**

Since I've been using darktable (about 1 year) I've always noticed 'random' tooltip displays.
I haven't found any post that relates these behaviors so either I'm the only one or ????

**To Reproduce**

1) often enough, the tooltip is not displayed. You have to 'exit' the mouse point

[2020-06-20 21:11] rabauke commented on #5377
I can reproduce these warnings on Ubuntu 20.04 using GCC 10.0.1 20200411.

Basically programmers are asking the compiler here to warn about certain kinds of constructs which are valid but poor C when compiling C++ sources. The compiler complains in response that he will not warn because these C constructs are illegal in C++ anyway, where the compiler would throw an error message.

In my view this

[2020-06-21 01:04] junkyardsparkle commented on #5581
It seems like this has already been the case in some places IIRC. I personally wouldn't mind seeing the displayed precision increased to better expose actual values (this seems more "bauhaus" to me), but maybe nobody else feels that way...

[2020-06-21 03:56] todd-prior commented on #5443
@dterrahe @parafin In my case no combination is working. I can see for example if I am in color zones that if selecting a range for hue  or saturation it goes to the right one, ie the vertical line and the gray background indicating the range will change but there in no positive or negative curve created the curve remains linear...

[2020-06-21 06:46] parafin commented on #5586
Sounds like a GTK issue, so upstream bug IMHO.

[2020-06-21 07:48] Nilvus commented on #5586
It's not a darktable issue but yes a GTK one. This has already discussed recently on that issue: #5382 and only workaround (quite partial) found was to add a shortcut to enable/disable tooltips (Shift+t).

So, unfortunately, think about closing this one.

[2020-06-21 10:45] AxelG-DE commented on #4250
pls do not close this, as just now introspection got merged and next step maybe about to come

[2020-06-21 10:46] AxelG-DE commented on #4820
prevent closure. Error is still there

[2020-06-21 10:54] AxelG-DE commented on #4880
@phweyland sorry somehow I overlooked your wish for an xmp...

I just tested again, the issue is still there, for both caes, this one and #4820

(tooo big to zip in here, as inclued the RAW)
https://fromsmash.com/Mouse-delay

The xmp-only is here:
[6402.xmp.zip](https://github.com/darktable-org/darktable/files/4809322/6402.xmp.zip)

[2020-06-21 11:47] dterrahe commented on #5443
This turned out to be a Windows only problem where it apparently hadn't been tested yet.

Many thanks @todd-prior for reporting this and preventing it from going out with the 3.2 release broken. Please kindly confirm if with the changes in #5591 it now works for you.

[2020-06-21 11:58] #5472 closed

[2020-06-21 12:01] LebedevRI commented on #5472
Sorry for the delay, i should be doing this more proactively :/

[2020-06-21 12:17] Travellerr-1 opened #5593 "Thumbnail images not showing in lighttable"
a. To be clear, I am a complete noob with darktable, so if this is something apalling obvious please forgive me.
b. My problem: in lighttable mode the thumbnail display and sometimes the main display are blank gray. I cannot see the images. Any suggestions? tia.
![screenshot- 2020-06-21 at 18 53 24](https://user-images.githubusercontent.com/67227344/85224292-64ee8700-b3f3-11ea-8133-095ddb6385d1.jp

[2020-06-21 12:40] james-h-dt opened #5594 "In lighttable "selected images" feature like "remove" applied to a single image only when in culling view"
**Describe the bug**

In lighttable, "selected images" feature like "remove" are applied to a single image only, rather than the selected images set. Is seen in culling view and not seen in filemanager view.

**To Reproduce**

1. Rename ~/.config/darktable folder
2. Use Import & import a folder of images
3. In lighttable, select culling view
4. Adjust culling slider to show 1 image
5. Use mouse to

[2020-06-21 13:18] JacoTux commented on #5571
Arhhhhh.

I also keep a copy of my ~/.config/darktable/ from time to time by going back to a previous version, everything works fine.
Currently with 3.1.0+2340~gcfb884133

So my problem was local... nothing to do with a dt bug.

[2020-06-21 13:18] #5571 closed

[2020-06-21 14:33] Nilvus commented on #5594
I don't see as a bug. Culling mode is also a compare modes. I often use to compare a set of images (so selected ones sometimes) to check which images I kept or not. Culling mode is not a mode to set a lot of images, that has always been the case. So really not a bug. A feature request at worst.

As you say, that doesn't appear on file manager, because what you want is the purpose of filemanager, n

[2020-06-21 15:06] ralfbrown opened #5595 "Lighttable: PgUp fails to display topmost row of thumbs"
**Describe the bug**

In File Manager mode, if the lighttable thumbs grid starts with an image such that the number of prior images is not a multiple of the width (i.e. there is an incomplete first line of thumbs), it is not possible to use the PageUp key to reach that initial partial line of thumbs.  Once you have reached the first full line of thumbs, PageUp has no further effect.

**To Reproduc

[2020-06-21 15:08] Nilvus commented on #5594
@AlicVB: your view on that?

[2020-06-21 15:08] james-h-dt commented on #5594
Yes, I also use culling mode to check which images I'd like to keep. I often use 1-image culling view as a quick way to check if an image is sharp enough to keep. Or if the following sequence of images are worth keeping.

An example use case would be something like:

- I am culling a set of images
- I am in 1-image view (as I'm checking for sharpness)
- I decide the current image plus its followin

[2020-06-21 15:31] elstoc commented on #5595
See #4957 as well. I don't really like this behaviour of forcing the last edited image to the top-left anyway. Makes sense to force it to the top row though.

[2020-06-21 15:40] timur-davletshin opened #5596 "filmic vs base curve preferences → both modules enabled/disabled"
Linux, 64 bit, latest master snapshot

1. Make sure that display-referred is enabled in dt preferences → processing
2. Discard history of sample image
3. Open that image, make sure that base curve module is enabled
4. Leave to lighttable mode and change preferences to scene-referred
5. Open same image for editing
6. Click "original" in history tab and press "compress history stack"
7. See both "ba

[2020-06-21 15:54] elstoc commented on #5596
Did you restart after changing the preference (as advised in the tooltip)?

[2020-06-21 16:02] timur-davletshin commented on #5596
If restart is really required, old logic should be applied before that. But we have "all enabled" or "all disabled".

[2020-06-21 16:35] aurelienpierre commented on #5596
If C was really a programming language, we would discover these kind of errors at compilation time. But here we are…

Question is: what happens if you follow the guidelines ? I don't care how the soft should fail if user doesn't comply with guidelines, at that point the daktable's pipeline is 10 years old and has been hot-plugged with masks, multi-instances and pipe reordering in ways it was not d

[2020-06-21 16:39] timur-davletshin commented on #5596
Brian Kernighan is still alive...

[2020-06-21 16:43] TurboGit commented on #5443
@todd-prior : I have reopened waiting for your feedback on this. If you do not compile yourself please let us know.

[2020-06-21 16:54] #5585 closed

[2020-06-21 16:56] AlicVB commented on #5594
that's done on purpose.
In culling mode (same applied for full preview) the main use case of selection is to limit the images to browse. So we can't do what you want.

Now I've a good news for you : you can do exactly what you want by showing and using the filmstrip !

[2020-06-21 16:56] #5594 closed

[2020-06-21 16:59] james-h-dt commented on #5594
There may be a misunderstanding. I am using filmstrip:

5. Use mouse to shift-select 3 images **from filmstrip view**. Note header shows "3 images of [x] in current colection is selected"

[2020-06-21 17:08] sergei18500 commented on #5586
Thank you for the information. I'll follow up on the issue #5382.

[2020-06-21 17:08] #5586 closed

[2020-06-21 17:08] TurboGit opened #5598 "lossing current edited picture in darkrrom when flying over the filmstrip"
With the end of the lock-down here in France I had restarted doing some pictures and so edited some pictures instead of testing all PR :) Fact is that this put you in another perspective... And I found an annoying feature, even a regression compared to previous version.

**Describe the bug**
Lossing current edited picture in darkrrom when flying over the filmstrip.

**To Reproduce**
1. Go to darkr

[2020-06-21 17:09] Nilvus commented on #5594
Why using culling for just one image? Preview mode (with alt+w for persistent preview, w for quick preview) is made for that.

If you don't know, like any software, the way to use it, you're right. But I can guarantee that if you use the good mode with the good way (same with other software like Lightroom), it's just the opposite.

On what you describe, it's just because you don't use it the good

[2020-06-21 17:09] TurboGit commented on #5598
@AlicVB : Probably for you, let me know what you think about this. TIA.

[2020-06-21 17:13] Nilvus commented on #5594
There's no misunderstanding (and I can talk for @AlicVB here) as it's possible to do what you want on filmstrip. Just be sure to be on filmstrip part in the bottom and not on culling part to do what you want. You could also hide/show filmstrip as you want (Ctrl+f) as panels (too many shortcuts to describe them). The purpose of using culling for just act on images, one image at the time, and use fi

[2020-06-21 17:21] TurboGit commented on #5598
Forget one important information, the difficulty to see the currently edited picture is when there is a selection in the filmstrip as the selected and the currently edited thumb have all the same background color.

[2020-06-21 17:21] AlicVB commented on #5594
Maybe you use the button in the left panel to remove images. In this case, you're right, this won't work, as dt can't consider that you are in the filmstrip, but in culling.
So you have to put your pointer on the selection inside the filmstrip and use the shortcut key to do what you want.

But, as said by @Nilvus I really think that full preview will be more adapted to your workflow :
You browse y

[2020-06-21 17:29] TurboGit commented on #5489
@ralfbrown : I see, so maybe something to check too. But is this a "Sep 2019" kind of issue or something that could happen today? Can you point me to the XMP ? Do we have an idea about the date of the edit ?

I'd like to ensure we are not making "invisible" a current bug by systematically going back to a 3.0 iop-order.

[2020-06-21 17:33] AlicVB commented on #5598
@Nilvus : this one is for you :-P

In fact, there's already something to distinguish the image : it's represented by a small border around the image in the thumbnail. So maybe we need to show it more obviously.
So I think it's css only (play with `#thumb_main:active` I think)

[2020-06-21 17:34] dterrahe commented on #5443
@parafin would you please test/confirm working on osx?

[2020-06-21 17:36] Nilvus commented on #5598
@AlicVB and @TurboGit: yes, I'm already on. Reading that, I was quite sure it's CSS related and just check indeed that exactly active state which is broken.

So is one of you could assign this to me instead of @AlicVB. Will fix that tonight, should be quick.

[2020-06-21 17:38] AxelG-DE commented on #5594
I vote for blocking view=1 when in culling mode, should switch to view=2, as I also agree, view=1 in culling is somehow against the culling philosophy

[2020-06-21 17:40] ralfbrown commented on #5489
The XMP is posted in #5576.  I wasn't able to cause the same issue with current master, so whatever causes it may already have been fixed.

[2020-06-21 17:43] TurboGit commented on #5598
@Nilvus : Thanks, assigned to you.

@AlicVB : Thanks for the quick reply.

[2020-06-21 17:45] TurboGit commented on #5594
Indeed forcing >= 2 images in culling mode seems the way to go.

[2020-06-21 17:46] james-h-dt commented on #5594
AlicV - I wasn't using the left panel button. I was using the buttons inside "selected images" module in the right panel, after selecting multiple images in filmstrip. This works fine in other modes & is only a problem in culling mode.

AlicV - You mention using shortcut keys while the mouse pointer is hovering inside filmstrip view. I'll take a look at this. If this works, then it is a handy work

[2020-06-21 17:58] AxelG-DE commented on #5594
I also told you right away, that view=1 is against logic of culling.

Culling is for culling only. All other file management thingies, file manager to be used :-)

@AlicVB funny thing is, when view is e.g. 3, you actually can do, what james-h wants, even on more and wider spread pics than that current selection

[2020-06-21 18:08] schaeferpp commented on #5472
I'm very grateful for you implementing E-PL10 support at all.
Thank you for your time!

[2020-06-21 18:56] wpferguson commented on #5485
@spaceChRiS try this and see if it does what you need.  If you have the lua scripts installed, just unzip this and drop it in the contrib directory.  Require it in your luarc or enable it with script_manager.  It creates an "image time" module in lighttable.
[image_time.zip](https://github.com/darktable-org/darktable/files/4810084/image_time.zip)

[2020-06-21 19:03] Nilvus commented on #5594
He of course means right panel. And again, it's not the purpose of culling mode.

Anyway, it's not a problem as it is intended.

Preview is right away for that. You could even hide or show panels around (like in culling view), so by hidding them you could have what you want there.

It's possible to do powerfully and quickly all you want. You just need to change (and learn) some little things and y

[2020-06-21 21:34] rabauke commented on #5559
I am not familiar with asan. As I understand the asan report, however, this seems to be an issue that needs to be fixed in liblensfun, not in darktable. The buffer overflow happens within the `Load` method:

[code]
The code of `lens.cc` (shown above) looks rather innocent to me.

[2020-06-21 21:53] rabauke commented on #5428
Running the Gaussian blur with large blur radius in tiling-mode is a bad idea. Tiles must overlap. Overlap leads to some computational overhead. The overlap equals the kernel size, which is proportional to the blur radius.

Therefore, it is to be expected that the Gaussian blur in tiling mode becomes slow when the blur radius is of the order of the tile size.

Parallelizing the two-dimensional Gau

[2020-06-21 23:09] coffeeandspaceships commented on #5443
Working for me on Windows.

I pulled master @  3f399bdf87e34eab95e2c17cd062a67b81a2f219 and merged `dterrahe/fix-picker-modifier` then built.

I have also checked that the source tree I built from contains dterrahe's changes, so I am definitely testing the right thing!

If there are specific tests of GUI functionality on Windows I'm always happy to test.

[2020-06-21 23:21] ralfbrown commented on #5596
That reminds me of something which is surprising behavior more than a bug (it's actually doing exactly what it's been told): if you choose scene-referred workflow and leave "auto-apply per-camera basecurve" set, you get both filmic and basecurve enabled on initial open if dt has a basecurve for the specific camera model that took the picture.

[2020-06-22 00:27] ralfbrown commented on #5428
The existing code does already parallelize the row-wise and then the column-wise passes, but the gaussian blur is just a subroutine called by the iop as one of multiple actions.  The problem is that when the iop declares that it needs more memory than is available, the tiling doesn't support multiple passes with specified geometries.

In looking at the code, it is possible to mitigate things by re

[2020-06-22 01:46] todd-prior commented on #5443
Thanks everyone...sorry I was on vacation this week and the weather in my part of Canada was sunny and in the 30"s so no time to be at the computer...looks like the issue was located and resolved from the comments above...thanks to any and all that pressed on to sort it out.....grateful as always to everyone continuing to improve the software....

[2020-06-22 07:03] dterrahe opened #5601 "FR: Allow middle mouse button click on filmstrip"
In darkroom one can use the filmstrip at the bottom to change pictures. When selecting a picture by clicking on it, the strip moves to put that picture in the center, if needed. Therefore I find it most convenient to keep my mouse in the center and use the scroll wheel to move the strip, so that when I click, the strip doesn't need to move/jump.

However, clicking with the middle button/scroll whe

[2020-06-22 07:32] dterrahe opened #5602 "FR: In collection provide a way to require exact string match"
In the collection module, it seems that a rule/search on a string field is always interpreted as a _substring_ search. It would be useful to have a way to force an exact match on a string field, for example by entering the value in square brackets or by adding a "$" (end-of-line) character behind it. And this should then be the default if an item is selected from the list of available values for a

[2020-06-22 09:39] GrahamByrnes commented on #5578
I think I get it now. learning, as I said :-)

HSL has to clip... it's the bicubic representation, where does it go if L>100% ?

But I never use HSL.... and for grey-mode (which I use almost always) there is no need for clipping. Same for the RGB matrix multiplier.

The issue really is that channelmixer brings together something that needs to be in the non-linear flow (HSL) with things that belong

[2020-06-22 09:47] GrahamByrnes commented on #5602
I wondered about this at a certain stage with regard to auto-apply in basecurve. The issue I'd imagine is if many people know the "official" name of their camera: looking down the list, there were several versions of names for different Pentax.

Otoh, those people are less likely to be using special search strings...

[2020-06-22 09:51] elstoc commented on #5578
Grey mode is really where I have the issue too (I'm not sure I've ever used anything other than grey mode except to swap channels for infrared). I only used 'non-grey' mode in the issue because I was trying to find the minimal steps to reproduce the issue.

[2020-06-22 10:55] gadolf66 opened #5604 "CA corrections desaturate image"
**Describe the bug**
After applying CA Corrections, image gets desaturated

**To Reproduce**

1. Get the raw file and xmp sidecar at [https://discuss.pixls.us/t/chromatic-aberrations-issue/18873/5?u=gadolf](https://discuss.pixls.us/t/chromatic-aberrations-issue/18873/5?u=gadolf)
2. Open the raw file and apply xmp file
3. Turn off CA Corrections
4. Take a snapshot
5. Turn on CA Corrections
6. Compa

[2020-06-22 11:07] dterrahe commented on #5602
I think in preset auto-apply an exact match is required but you can specify wildcards (%).

In collection, there is an implicit wildcard at the end. Which makes sense if you manually start to type in the text box, so I'm not suggesting to remove that option. But it should be possible somehow to require an exact match. And then that should be requested when I click on a particular item in the list.

[2020-06-22 12:39] heckflosse commented on #5604
Just for information: The issue is not completely fixed in RawTherapee. There are very rare cases, where the fix in fact introduces a colour shift. These are for example images with extreme purple fringe.
Though, in my experience, it fixes the issue for 99.9 % of the images.

[2020-06-22 13:01] jade-nl commented on #5604
I can confirm this issue and it is not 3.1.0 specific, it also shows up in 3.0.2.

I can provide another RAW file (NEF, from a D750) that shows this issue if needed.

**Platform**
* darktable        : 3.1.0+2350~g3f399bdf8 + 3.0.2
* OpenCL installed : Yes (nvidia-opencl-common 440.82-1~bpo10+1)
* OpenCL activated : Yes
* Graphics card    : GeForce RTX 2060 SUPER7979 MiB
* Graphics driver  : nvidia

[2020-06-22 13:01] phrrk commented on #5568
There is a current discussion on the darktable-user mailing list;
 [darktable-user] darktable not honouring 'open with darktable'
that suggests that this is a common issue for 3.0.2 and latest git, with windows 10 and several linux distributions

[2020-06-22 13:02] jade-nl commented on #5604
I can confirm this issue and it is not 3.1.0 specific, it also shows up in 3.0.2.

I can provide another RAW file (NEF, from a D750) that shows this issue if needed.

**Platform**
* darktable        : 3.1.0+2350~g3f399bdf8 + 3.0.2
* OpenCL installed : Yes (nvidia-opencl-common 440.82-1~bpo10+1)
* OpenCL activated : Yes
* Graphics card    : GeForce RTX 2060 SUPER7979 MiB
* Graphics driver  : nvidia

[2020-06-22 13:15] #5377 closed

[2020-06-22 15:31] coffeeandspaceships commented on #4910
I just had a look around the usual GPU gossip sites. It looks like you need to get to Mesa 20, a recent kernel, AND recent firmware blobs to have any hope of success. The good news is once you have that, Phoronix are saying good things about performance.

Manjaro is based on Arch anyway so you may as well stick with it; opencl-mesa 20.0.7-3 is already in the Manjaro repo.

(I can't help with testi

[2020-06-22 17:02] AlicVB commented on #5601
if you want to try, I think you need to adapt `event->button == 1` in `thumbtable.c:955`

[2020-06-22 17:42] ruudmaas commented on #4910
Hi,
Thanks for your reaction and update. At this moment I run Kde Manajro Lysia latest version with Kerbnel 5.6.16-1 including opencl mesa 20.0.7-3. But still no stable system. The AMD GPU RX5700 is still a problem. When I zoom in working in Darktable sometimes I see a checkerboard on parts of the screen (4K screen) and sometimes the system freezes. And now when I want to activate opencl in GIMP 2

[2020-06-22 18:44] coffeeandspaceships commented on #4380
I guess this depends on #5407 first?

[2020-06-22 19:08] dterrahe commented on #5601
That's it. Changing that to event->button <= 2 achieves the effect I'm after.

I believe middle-button click isn't assigned to anything at the moment, so this would be a harmless change unless we want to reserve it for something else in future. But I can't think of any other logical function. Except maybe expand/collapse group? Or is that already under something else?

[2020-06-22 20:15] spaceChRiS commented on #5485
Besides the little additions I mentioned in your PR, this is already perfect. The only issue I now have is that there are more and more modules cluttering my lighttable :wink:.

I'll leave the feature request open until the PR is merged. Thank you again so much, this makes things possible I did only dream of some days before.

[2020-06-22 20:19] AlicVB commented on #5601
no, it's not used for anything else in thumbtable. It's just used in culling for quick zoom.

Maybe you can limit the scope to this change to filmstrip only, so it can be used in the future for something else, esp. in zoomable ?

Can I let you do the PR ?

[2020-06-22 20:36] TurboGit opened #5606 "gradient in split-toning balance slider seems inverted"
**Describe the bug**
Gradient in split-toning balance slider seems inverted

**To Reproduce**
1. Go to darkroom
2. Open split-toning, let default
3. Move balance slider to the right (more red) the image becomes more green

**Expected behavior**
The balance slider should be more intuitive, I'm pretty sure this is a regression.

**Screenshots**

**Platform (please complete the following information)

[2020-06-22 20:42] TurboGit opened #5607 "rgb curve - color picker not desiabled when selecting any blending mode"
**Describe the bug**
In rgb curve - color picker not desiabled when selecting any blending mode

**To Reproduce**
1. Go to darkroom
2. Open rgb curve module
3. Select color picker standard or the +/- on top
4. Click on any blending mode, say drawn mask
5. Picker is not disabled
6. Select pencil
7. Click on image and it still change the color picker location

**Expected behavior**
The color picker

[2020-06-22 20:42] spaceChRiS commented on #3005
As I was able to solve my task already without this feature, I am anyway not holding my breath. I just had a task where this would have been handy, and I did not understand that I never saw this feature in a photo editor. I understand some of the multiple reasons that this tool is like it is in video tools (on one hand, for landscape oriented video it is more important to keep the brightness sound

[2020-06-22 20:44] TurboGit commented on #5607
@dterrahe : Could you have a look ?

[2020-06-22 20:48] #5598 closed

[2020-06-23 00:04] wpferguson commented on #4942
@progo as far as fixing the timestamps in your images, there's a new lua script, image_time.lua, waiting to be merged into the [lua script repository](https://github.com/darktable-org/lua-scripts) that can fix timestamp issues in the database.

[2020-06-23 00:22] wpferguson opened #5609 "Image Information Display"
**Describe the bug**
When the import, change, export, and print timestamps got added to the database they were inserted into the metadata.c code where it seemed to make the most sense, according to the code comments.  However, the data displays in the order that it's declared, so the timestamp information is displayed while image information such as exposure, ISO, timestamp, height, width... are p

[2020-06-23 02:08] pitbuster commented on #5606
@TurboGit I think this broke with this commit: https://github.com/darktable-org/darktable/commit/97062483ecd99eb7a9a1e752ad5d0ee785603a01

When I fixed the reversed balance slider I mapped the paremeter to 1 - slider_value to avoid having to migrate the parameters (in the balance_callback function), but with the introspection refactor that mapping seems to be lost.

[2020-06-23 05:09] ralfbrown opened #5610 "filmic - highlight mask remains enabled when module closed"
**Describe the bug**

If the highlight reconstruction mask is turned on when filmic is closed or loses focus, it remains enabled

**To Reproduce**
1. Open filmic rgb
2. Select "reconstruction" tab
3. Click on the mask icon
4. Click on the module title to close it
5. Observe that the mask display is still active

**Expected behavior**
The mask should turn off and display should return to normal as

[2020-06-23 06:20] GLLM opened #5611 "[Bug] Tone equalizer advanced mode zooms but does not adjust light !"
Hi all

I have a picture.
* I double click to edit it
* Directly open Tone Equalizer > Advanced
* Activate it and hover onto a zone
* Mouse scroll to adjust light

It zooms on the picture but does not do anything else.

dt 3.1.0~git2352.28952665e
Kubuntu 20.04 w/ KDE 5.18.5 + Qt 5.12.8
Intel core i7 7700k + 32GB RAM + NVidia GFX 1070

Am I the only one ?
I restarted several times, it works properl

[2020-06-23 06:45] TurboGit commented on #5606
@pitbuster : But in fact here it is the gradient (display) that is inverted. Should be easy to fix.

[2020-06-23 08:52] TurboGit commented on #5610
Same for tonecurve. This is most certainly related to the recent introspection change.

@dterrahe : Can you have a look too ?

[2020-06-23 08:55] elstoc commented on #5611
I can't reproduce this on +2353 on ArchLinux using the steps suggested.

[2020-06-23 08:57] elstoc commented on #5610
@TurboGit it's not related to introspection. I'm running a version at +449 and it has the same issue. I've submitted PRs to address this issue in both filmicrgb and tone equalizer.

[2020-06-23 09:24] dterrahe commented on #5607
Color zones has the same issue and I believe it only applies to the left (normal) picker). This is caused by the earlier color picker refactoring, not introspection. There used to be some code that specifically only turned off the +picker. I refactored that to leave the normal (left) picker enabled whenever any widgets change within the module, but I hadn't considered blending I'm afraid, so that

[2020-06-23 11:16] dterrahe commented on #5607
Created and tested a minimalist patch, as proposed above.

[2020-06-23 12:13] james-h-dt opened #5617 "FAO Mica: FAQ contribution content"
My first contribution. Following mica[m]'s guidance, this guthub issue contains a text file, with some suggested additional content for the darktable FAQ.

It covers:

- how to make a darktable backup
- how to purge the database for inconsistencies.

It's provided in plain text. I can rework as markup. Just let me know the darktable markup standard.

Here is a link to a google doc, showing how the

[2020-06-23 12:38] musicinmybrain commented on #4452
I encountered a similar issue. I’m using Darktable 3.0.2 (`darktable-3.0.2-1.fc32.x86_64`) on Fedora 32, no OpenCL, `Advanced Micro Devices, Inc. [AMD/ATI] Baffin [Radeon RX 550 640SP / RX 560/560X]` with open-source driver. My desktop session is Gnome/Wayland.

For me, it happened after clicking the “open” button in the import-folder dialog in the darkroom, while simultaneously exporting a number

[2020-06-23 12:43] matrixik commented on #2930
Yes, it would be great but from what I read on discuss.pixls.us and in some github issues tethering have now almost no one working on it. It's not rewritten like rest of DT so it's using stuff that was removed from other places so it's getting more broken over time. And it was almost removed completely from DT once, it survive only because one person said that he is using it in studio.

[2020-06-23 12:45] matrixik commented on #2930
Looks like @github-actions bot got broken on this issue. It's still did not remove `no-issue-activity` label. Does that mean that it will still auto close it on Jan 30 2021?

[2020-06-23 12:53] #5606 closed

[2020-06-23 12:58] #5610 closed

[2020-06-23 13:01] #5595 closed

[2020-06-23 13:17] phweyland commented on #5609
Sorry, I don't understand this. There is no time stamp in metadata.c.
Could you elaborate a bit more please ?

[2020-06-23 13:41] matrixik opened #5618 "Better integration of color corecting software into DT"
It's mostly taken from discuss topic so that it won't completely disappear: https://discuss.pixls.us/t/colorchecker-auto-color-luminosity-correction-is-this-currently-possible/17423

**Is your feature request related to a problem? Please describe.**

Now to create new style you need to go between darktable and darktable-chart when using something like Colorchecker, Cmp Digital Target or anything s

[2020-06-23 13:45] matrixik commented on #5618
Relevant comment from [Jonas_Wagner](https://discuss.pixls.us/t/colorchecker-auto-color-luminosity-correction-is-this-currently-possible/17423/26?u=matrixik)

[2020-06-23 14:48] TurboGit opened #5619 "introspection issue with translation"
**Describe the bug**
There is at least one issue with the current translation.

I don't understand what is wrong and how to fix that.

**To Reproduce**
1. Go to module "color zones", see that channel cannot be translated

**Expected behavior**
String should be translatable.

**Screenshots**

![image](https://user-images.githubusercontent.com/467069/85417874-6beed400-b570-11ea-964a-00416851403e.png

[2020-06-23 14:48] TurboGit commented on #5619
@dterrahe : most probably for you :) TIA.

[2020-06-23 14:50] johnny-bit commented on #2930
re-bot: no-issue-activity needs to be taken off manually. and time seems to count from last activity and not from date of no-issue-acitvity tag

[2020-06-23 15:10] wpferguson commented on #5609
I'm sorry, didn't double check after I typed. It's in src/libs/metadata_view.c

[code]

[2020-06-23 15:24] phweyland commented on #5609
Understood. Thank you.

[2020-06-23 15:26] phweyland commented on #5609
Can be related to #5478 too.

[2020-06-23 15:28] elstoc opened #5620 "local contrast: error when changing mode"
If I open and enable the local contrast module, its mode defaults to 'local laplacian filter':

![Screenshot_2020-06-23_16-22-47](https://user-images.githubusercontent.com/9555491/85423087-30eba100-b56e-11ea-887e-973dd6a0c81f.png)

If I change the mode to 'bilateral grid', all looks fine:

![Screenshot_2020-06-23_16-22-56](https://user-images.githubusercontent.com/9555491/85423143-42cd4400-b56e-11

[2020-06-23 16:11] dterrahe commented on #5619
Typo in DESCIPTION ... sorry

[2020-06-23 16:15] GrahamByrnes opened #5621 "Mono over-ride"
**Dumb printer refuses to load mono tif**

My printer refuses to load a tif which isn't in RGB mode, even if set to "Print in Black and White"

**A manual over-ride on the mono-mode tif output**

It shouldn't be so, but that seems the simplest solution...

@jenshannoschwalm I think this is your work that I'm asking you to desecrate?

[2020-06-23 16:26] dterrahe commented on #5620
This module is funky in that two sets of sliders are linked to the same field. I realise I need to do some extra refreshing when switching mode; PR coming up.

Realising I can improve the logic a little as well; don't need to reset everything on each "mode" switch, as was happening before and I had intended to just copy.

[2020-06-23 16:33] dterrahe commented on #5620
_Also_ now realising, that if a (dynamic) shortcut is used to change a slider that is currently hidden (because in the wrong mode) funky stuff happens. This is not a regression; just tested that it happens in 3.0.2 as well.

So I'll need to switch modes if a hidden slider is value-changed.

[2020-06-23 16:42] parafin commented on #5621
Are you talking about printing directly in dt or manually after exporting a tif file?

[2020-06-23 16:54] GrahamByrnes commented on #5621
I'm using a windows machine, printing only happens externally :-(

[2020-06-23 17:03] TurboGit commented on #5619
Stupid me ! I read that maybe 10 times and did not see the typo :(

[2020-06-23 17:04] #5619 closed

[2020-06-23 17:33] #5581 closed

[2020-06-23 17:36] jenshannoschwalm commented on #5621
We already have so many options ... what about a hidden option? But why is your printer so dumb :-) Or is it the printer driver? Tiff's should be possible with just one channel.

[2020-06-23 17:56] GrahamByrnes commented on #5621
I'd be fine with that... although other may have the same issue

Good question re the printer. Canon does not support open source and generally expect that the user will print directly from PS or LR. Quite recently, they wrote a wrapper for the plug-in driver which allows printing tiff's etc on the pro-1000 and up.

Yep, 1200€ printer...

Thing is, they seem to have given the job to someone on wor

[2020-06-23 18:15] jenshannoschwalm commented on #5621
Ok. For the few of us that go for b&w dt should be trouble free. Any other opinion
1. Hidden option with default to 3 channels
2. Hidden option with default mono
3. Add a checkbox in tiff export dialog.

Feel free to select :-) First 5 votes count :-)

[2020-06-23 18:17] GrahamByrnes commented on #5621
3, 1, 2.

(I checked the new version, same old sh...)

[2020-06-23 19:13] #5607 closed

[2020-06-24 07:10] hatsunearu commented on #5618
Do you have any sample images with the color checker in-view?

[2020-06-24 07:20] hatsunearu commented on #5602
I think I can get this feature working; it feels intuitive to me that when I double click the options I see under "camera", it should select that and only that.
I'm thinking stuff encased in quotes should count as an exact text search. Does that sound right to you too?
I'm not sure what should happen if you search:

Should it match with "Sony ILCE-7"? Technically it shouldn't, but maybe not. Maybe

[2020-06-24 07:27] hatsunearu commented on #5593
Look at "collect images"--are you sure you didn't narrow down the search too much? Try pressing the inverted triangle in the "time" row and clearing it. You set a time based filter, and if you haven't taken and imported anything in 2020 October (which I just realize now hasn't happened yet lol), nothing will show up and that is normal.

You probably triggered it by accidentally dragging on the tim

[2020-06-24 07:29] hatsunearu commented on #5621
If you set the 3 channel mono option, would it just set RGB to the single luminance channel as if it were B/W? Or do you do some color matrix BS? Could cause some issues.

[2020-06-24 07:39] GrahamByrnes commented on #5621
As it worked previously, 3-channel mono is 3 identical channels. The test for a mono image is R=G=B at every pixel.

[2020-06-24 07:50] dterrahe commented on #5602
Thanks for looking at this!

If OR functionality (via comma) were to be added, it should work for all fields.

Brackets [] are used for date ranges  and I guess could also be used for string ranges (but not as useful).

So using quotes to give exact match would make sense. To be useful, "ILCE-7" should match nothing, because otherwise I'll have the same substring problem I have now. Only "Sony ILC

[2020-06-24 08:13] jenshannoschwalm commented on #5621
Will pr tonight

[2020-06-24 08:24] mtedaldi opened #5625 "Shadows and Highlights with negative values on shadow unexpected result"
When pulling the "shadows" slider into the negative the shadows become bricht suddenly on some values as if some kind of overflow condition occurs.
(See this short video clip for demonstration https://youtu.be/Sq2mscTcugI )

1. Reduce brightnes of image in exposure so parts of the image are below the black level
2. go to "shadow and highlights" and slowly pull the slider to the left while observin

[2020-06-24 09:09] hatsunearu commented on #5602
Great, I will start work tomorrow :D

What do you mean all fields? Do you mean everywhere where filtering is used?

[2020-06-24 09:26] dterrahe commented on #5602
Don't misinterpret me as having any authority! I only have an opinion. You might want to get buy-in from @TurboGit and others before you start.

I mean all fields that are available in the collection module. Not just strings, also values and dates. Which is probably what you meant anyway? But I wanted to clarify since this FR is only about strings.

And then, if OR is supported, it should work wit

[2020-06-24 09:47] hatsunearu commented on #5602
Whack. Hopefully that means there is some common code I can shuffle around.

Gotcha, though the UI might be a liiiitle difficult... I'll see what I can do. Also I definitely don't feel like creating a really comprehensive SQL tool lol

Also, I'm worried that the quote mark will interfere with legitimate uses of the quote mark, for instance what happens if there is a lens that has a quote mark in i

[2020-06-24 10:17] dterrahe commented on #5602
So now you have to support the escape character: \" is a real quote.

But I think focal length etc are numeric values, not strings?

[2020-06-24 10:25] hatsunearu commented on #5602
Well, lens names are usually strings AFAIK. And those might have some weird name like foobarnon 5" f/2.8 or something.

I should sleep, but I'll figure something out. Probably escape strings.

[2020-06-24 10:34] matrixik commented on #5618
I don't have Colorchecker but I have [CMP Digital Target Mini](http://www.cmp-color.fr/eng%20digital%20target.html)

Quick samples with natural light (rainy today), LED light and salt lamp :P JPG from camera also included (not sure if needed):
https://u.pcloud.link/publink/show?code=XZKHiUkZGEUhIqNihjkxiEaewXMDuuOXiLW7

[2020-06-24 10:51] aurelienpierre commented on #5618
Generating a LUT from a 49 patches color checker is brittle and generally doesn't work. LUT color profiles are more accurate when produced properly but backfire harder when they are not.

What do you need color correction for ? White balancing ? Producing a color matrice ?

[2020-06-24 10:59] aurelienpierre commented on #5183
Fixed with scene-referred workflow in master.

[2020-06-24 10:59] #5183 closed

[2020-06-24 11:16] ptilopteri commented on #5602
If one searches for "ILCE-7", certainly "Sony ILCE-7" matches.  Exclusion should only be affected when "ILCE-7" fails to match, *unless* a *field* was specified rather than a *string* such as *camera* and "Sony ILCE-7" was specified as the camera name rather than "ILCE-7".  But specifying "Sony ILCE-7" *would* exclude "ILCE-7"

Anything else is illogical.

[2020-06-24 11:16] matrixik commented on #5618
I wrote it in the first post: to get proper colors on photos that was taken in bad conditions, fast.

Also when you check product photography tutorials many of them first thing is using Colorchecker and suggest to use it every day. You would like to "sell" darktable to professionals, and most professionals I talked to use Colorchecker all the time to get every jewelry, dress, car or anything else

[2020-06-24 11:29] matrixik commented on #5618
I understand that you are passionate about correct way of doing things, and as a programmer myself I think that's great but most people are not like that. Don't take it as an attack on you.

Check x-rite site description of ColorChecker Passport Photo 2 and how they are describing it:
From: https://xritephoto.com/ph_product_overview.aspx?id=2572&catid=158

And most professional photographers belie

[2020-06-24 11:40] dterrahe commented on #5602
I'm not sure I understand what you are saying.

My problem is _not_ with "Sony ILCE-7" matching. My problem is with "Sony ILCE-7M2" _also_ matching. So there is no way to get _only_ "Sony ILCE-7".

[2020-06-24 11:58] matrixik commented on #5618
On more thing about using ColorChecker (last one, I promise to not spam this issue any more).

In Poland on 5 workshops and one conference I heard from instructors:
"Replace your ColorChecker when the paint on it stop stinking, colors change because of paint oxidation".
Is that true? I have no idea, actually it doesn't looks like any of them know that for sure. But they believe in that and replace

[2020-06-24 12:15] ptilopteri commented on #5602
If you are defining/limiting your collection using string match, w/o character limiting, there is no way to do a substing match.  If you are limiting your collection using *camera*, the two mentioned strings should be exclusive, as the provided camera name and the shorter string will not match as the camera names are different.

The defined camera name must match and as such "Sony ILCE-7" would ex

[2020-06-24 12:37] johnny-bit commented on #5621
I vote 3,1,2 :D

[2020-06-24 12:38] dterrahe commented on #5602
Are you saying this _should_ be the case, or that this currently _is_ the case. It definitely does _not_work the way you describe in a recent master.

[2020-06-24 15:21] Egocentrix commented on #5618
My first thought is that it is probably possible to do this with a Lua script. Use it to call darktable-chart and apply the created LUT to the selected images.
Instead of a LUT it is also possible to create an icc profile from your image with dcamprof. I'm not an expert, but I think a lot of that can be scripted. An issue with that is that currently darktable needs a restart to update its colour p

[2020-06-24 16:27] esq4 opened #5627 "Possible solution for "Auto applied WB preset is not used for thumbnail #5391""
Yes, it valid but not obvious.

At least mention in the tooltip for 'auto-apply per camera basecurve presets' that the setting is valid only when selected 'display-referred' for 'auto-apply pixel workflow defaults'.

_Originally posted by @esq4 in https://github.com/darktable-org/darktable/issues/5391#issuecomment-642761969_

[2020-06-24 16:30] esq4 commented on #5627
Maybe do so (longdescription)?

[code]

[2020-06-24 19:05] elstoc opened #5629 "crop & rotate: "original image" setting not retained"
If i choose "original image" in the crop & rotate aspect drop-down, this is replaced with a ratio and the "original image" setting is not retained. For example in the following I have simply enabled crop & rotate, selected "original image" and committed my changes:

![Screenshot_2020-06-24_20-03-31](https://user-images.githubusercontent.com/9555491/85616576-de85af80-b655-11ea-919f-bcf9a739eec9.png

[2020-06-24 19:55] hatsunearu commented on #5602
I think I'll just make it so that if you put quotes around something like `"Sony ILCE-7"`, it tries to exact-match that.

[2020-06-25 01:34] dtorop opened #5631 "progress bar label padding is awkward, needs CSS fix"
**Describe the bug**
The progress bar looks visually awkward. It could use some padding, particular on the left side.

**To Reproduce**
1. Go to lighttable view
2. Select a few images, preferably ones which will be slow to process, so that the progress bar will stay visible
3. Type control-e to start export
4. During export, a progress bar should appear in the bottom left of the window.

**Expecte

[2020-06-25 04:49] hatsunearu commented on #5602
Huh, so I implemented exact match search, but I'm finding some weird behavior regarding shift-click on numerical parameters in collections. It doesn't seem to do anything. Am I the only one seeing this?

[2020-06-25 07:10] bicknrown opened #5633 "Fujifilm FinePix S1"
Before filing any support requests, please do make sure that you have already
contributed the whole raw sample set for your camera under CC0 license to
https://raw.pixls.us/ !

#### Important note: to make sure that darktable can keep on supporting the raw
file format for your camera, *please* read
[this post](https://discuss.pixls.us/t/raw-samples-wanted/5420?u=lebedevri) on
how/what raw samples

[2020-06-25 07:52] #5620 closed

[2020-06-25 07:59] TurboGit commented on #5609
I'm not sure to understand the issue and to me the timestamps seems to fit well close to the filename & local copy status. I'm not clear why moving them to the bottom would fix something. Can you clarify ?

[2020-06-25 08:29] dterrahe commented on #5602
Like what I mentioned last paragraph here https://github.com/darktable-org/darktable/issues/5602#issuecomment-648706863 ?

[2020-06-25 12:02] johnny-bit commented on #4628
Hey - have you tried doing the same without lua? (as in - compile without lua support) or even disable lua totally?

[2020-06-25 12:25] ptilopteri commented on #4628
No, but I have since removed the xmp sidecar files for affected images, imported and reworked the images and do not have a copy of the previous, failing xmp files.

Since I cannot test or recreate the failing conditions, will close the issue.

thankyou

[2020-06-25 12:25] #4628 closed

[2020-06-25 14:33] dtorop commented on #5631
@Nilvus That all makes sense. The thing which surprised me was the flush left text into the window. Everything else in the UI is now so visually considered, that this stands out. And yes, perhaps the button appearance, as you note, could be improved.

The vertical line in the X must be a bug here, or a screenshot glitch. I can't reproduce it.

And yes, I've no worries about the progress bar being

[2020-06-25 15:21] Nilvus commented on #5631
As i work on most CSS things, when I export (not often) or print (nearly never), I rarely look at that so didn't notice that. But all details count, so I will fix that.

[2020-06-25 15:27] dtorop commented on #5631
Yes, that makes sense. The background jobs run fast enough that I rarely look either. I finally exported some images last night with significant stacks of iops (especially as filmic v4 doesn't yet have the OpenCL optimizations and its highlight reconstruction can require a lot of work). Hence it's the first time I had time in a while to pay attention to the progress bar.

I think the other place t

[2020-06-25 15:39] Nilvus commented on #5631
What do you think of that proposal? Space added on left is only 4px because with text with more length like that example in french, that adding more will quickly hide some text depending on width panel. I remove border for cross button, which feel better for me now and finally for some other buttons like prefs, star or reset, preset, etc.

![2020-06-25_17-35](https://user-images.githubusercontent.

[2020-06-25 15:40] Nilvus commented on #5631
I also set the progress bar a little whiter than before.

[2020-06-25 15:48] dtorop commented on #5631
Yes, it looks great. When I look at it, I don't even think about it, which is a definition of good design, yes? In most cases the progress bar will be subliminal, hence minimal is good...

[2020-06-25 15:58] #5443 closed

[2020-06-25 15:59] TurboGit commented on #5489
Ok, so closing at this stage.

[2020-06-25 15:59] #5489 closed

[2020-06-25 16:07] Nilvus commented on #5631
For something like that, something you don't even think about it is for me, yes, a good design. But subliminal progress bar, let me think that we can change more that part. 2 mockups:

![2020-06-25_18-04_1](https://user-images.githubusercontent.com/45535283/85755813-8eb6ef00-b70e-11ea-97b5-99f33094f895.png)

![2020-06-25_18-04](https://user-images.githubusercontent.com/45535283/85755829-91b1df80-b

[2020-06-25 16:11] Nilvus commented on #5631
Finally this one should be better:

![2020-06-25_18-11](https://user-images.githubusercontent.com/45535283/85756595-40eeb680-b70f-11ea-87b2-99495c774f98.png)

What do you think of last ones? Which one I push as a PR? Last one is my personal choice.

[2020-06-25 16:45] dtorop commented on #5631
Yes, I agree. The progress bar color makes a lot of sense on that one.

[2020-06-25 16:46] wpferguson commented on #5609
If I'm a user and I'm looking at image information, then I am more interested in seeing the exif information than the timestamps.  The filename, filmroll, local copy, version and path are necessary too.  The timestamps aren't important to me as a user and they certainly are not more important than the exif information.  So if we use the paradigm of most important information first, then the timest

[2020-06-25 18:03] Nilvus commented on #5631
@dtorop: see #5635

[2020-06-25 18:13] phweyland commented on #5609
I agree with the statement "more useful on top" and time stamps are less useful there than in collect module probably.
But, ... everyone has his own important data. I think the real good answer is to let the user configure the data he wants to see (and (maybe) in which order). There are bunch of lines I never look at.

[2020-06-25 18:26] wpferguson commented on #5609
`But, ... everyone has his own important data. I think the real good answer is to let the user configure the data he wants to see (and (maybe) in which order). There are bunch of lines I never look at.`

I agree.  I like having the imageid available but I could also see where most users could care less.  Where do we go from here?  Another setting?

[2020-06-25 18:31] dtorop opened #5636 "UI freeze on importing images"
**Describe the bug**
UI can freeze when importing many images, or when many images are imported into a large library.

**To Reproduce**
1. Create a large image library:
[code]
2. Run darktable with a clean db/install
[code]
3. ctrl-shift-i to open import dialog
4. select (but do not double-click) the "many_images" folder
4. expand "import options" and enable "import folders recursively"
5. click "

[2020-06-25 18:38] dtorop commented on #5631
@Nilvus The PR looks great. Very much appreciated here.

[2020-06-25 19:27] hatsunearu commented on #5602
Yeah. Also the code seems way harder than I thought, might take a while to implement. If anyone else wants to jump in, please let me know and I can hand off the baton. Feel free to work on top of my fork branch...

[2020-06-25 21:35] hatsunearu commented on #5625
Can't repro--mind posting the image you have, with the sidecar?

[2020-06-25 21:55] fstokke commented on #3924
I have the same problem (Darktable 3.0.2 on Windows 10). I had to use Zadig to install the WinUSB driver to get Darktable to recognize the camera - out of the box installation did not work. It now recognizes the camera and import runs, but imported image is corrupt (cannot open the imported jpg from file system in other programs). Images on SD card are OK, and can be opened in other programs.

[2020-06-26 00:41] junkyardsparkle opened #5638 "Lighttable: can't select mulitiple thumbnails using Ctrl+Click with some window managers"
**Describe the bug**
In the new lighttable view, using Ctrl+Click to select multiple thumbnails no longer works. The behavior is the same as with no modifier key pressed. Shift+Click still works as expected for selecting a range of thumbnails.

**To Reproduce**
See above.

**Expected behavior**
Using Ctrl+Click should add the thumbnail clicked on to the current selection, as it did in previous lig

[2020-06-26 05:42] Mark-64 opened #5639 "Filmic v4: "middle tones saturation" pushes colors out of gamut ?"
Currently testing DT git master. Please use this image:
[DSC00635.ARW](https://drive.google.com/file/d/1hkv6EKXlo8q-1vt2rZixUWZBpYTMCYAA/view?usp=sharing)
[DSC00635_05.ARW.xmp](https://drive.google.com/file/d/1hkv6EKXlo8q-1vt2rZixUWZBpYTMCYAA/view?usp=sharing)
This file is licensed [Creative Commons, By-Attribution, Share-Alike](https://creativecommons.org/licenses/by-sa/4.0/).

Now enable gamut w

[2020-06-26 06:03] mtedaldi commented on #5625
Thanks for checking. I'll attach the raw file and the xmp here.

I've done a few more tests and found out the the important step to reproduce the issue is, that you really need to get parts of the image below the black level (I'll test, by how much. I quess at least -1EV or -2EV) with the "exposure" module.

[dt_shadow_highlight_issue5625.zip](https://github.com/darktable-org/darktable/files/48353

[2020-06-26 06:11] #5631 closed

[2020-06-26 06:33] TurboGit commented on #5629
I have tried hard to reproduce this issue, but I cannot ! In no circumstance I was able to get a wrong ratio in the aspect box. The text stays "original image" for me. So, this may already fixed (in #5637) or there is a very specific context to reproduce ?

[2020-06-26 07:43] rabauke opened #5641 "untranslated UI string in dithering module"
**Describe the bug**
The label for the drop box in the dithering module always is "dither type". This string seems not to take part in the usual translation process. As far as I can tell this is not an issue of missing translation in po files.

**To Reproduce**
Start dt with a non-English locale and open the dithering module.

**Expected behavior**
A proper translation for "dither type" (used to b

[2020-06-26 08:19] Nilvus commented on #5638
Can't reproduce that on my side. So as you said, probably another odd one. Ctrl+click works great with both versions I tested:
- 3.1.0+2366~g54a0ddd6e
- 3.1.0+2375~gf4175b1b1

[2020-06-26 11:00] dterrahe commented on #5641
Thanks for reporting.

The parameter should have a $DESCRIPTION specified, as in:
  dt_iop_dither_type_t dither_type; // $DEFAULT: DITHER_FSAUTO $DESCRIPTION: "method"

@TurboGit I will prepare a PR.

[2020-06-26 12:05] #5629 closed

[2020-06-26 19:31] junkyardsparkle commented on #5638
Thanks for confirmation. It's weird that Shift+click *does* work normally, but I don't know if that offers much in the way of clues...

[2020-06-26 20:06] hatsunearu commented on #5625
I think I figured it out. You're not supposed to push the "black level correction" in the exposure module to the right--ever. View the hover tooltip for more info. I'm not even sure what you're supposed to use that tool for. But this bug is still interesting because it might highlight (hah) some underlying bug. I'm gonna look further into this.

[2020-06-26 22:50] zurdo-10 opened #5643 "darktable crashes when adding a second instance of local contrast"
darktable crashes when adding a second instance of local contrast
**Describe the bug**

Hi, I observed an issue with the  last build current master darktable-3.1.0+2374.
Issue: Open a RAW NEF file with processing: scene referred; apply local contrast; apply new instance of local contrast and dt a crashes.

**To Reproduce**

I am on a Mac with OS 10.13.6. OpenCL not activated. Here is the report fo

[2020-06-27 04:27] s7habo commented on #5643
Confirmed with darktable 3.1.0~git2376.40f2f94e3 on Kubuntu 18.04 linux.

Backtrace:
[darktable_bt_DDVUM0.txt](https://github.com/darktable-org/darktable/files/4839957/darktable_bt_DDVUM0.txt)

[2020-06-27 06:27] mtedaldi commented on #5625
I know this is not the right place to discuss this. But I'm doing this *all the time*! I don't use the exposure tool directly but "correct" the black level with the mouse wheel on the histogram at the top of the right panel on almost every image. In most cases to add more density to the blacks... I've never seen that tooltipp because I almost always do it on the histogram..

[2020-06-27 06:33] hatsunearu commented on #5625
You should be doing that with levels if you wanna work with the legacy toolset, or via new tools things like tone equalizer. Those work a lot better. Tone eq should actually be a good replacement for S&H as well.

Basically when you push the black level correction way too far to the right, a lot of pixel values end up becoming negative, which don't have physical meaning (that means having "negativ

[2020-06-27 08:18] cembra123 opened #5644 "After last Windows 10 update 2020-06-26 KB4561600"
After update darktable siply dont start. Log below.

this is darktable 3.0.1 reporting an exception:

-------------------

Error occurred on Saturday, June 27, 2020 at 09:30:44.

darktable.exe caused an Access Violation at location 0000000180004E38 in module Wintab32.dll Reading from location 0000000004B710D0.

AddrPC           Params
0000000180004E38 0000000000000000 0000000000000008 000000000000

[2020-06-27 17:17] jade-nl commented on #5643
Confirmed on Linux (Debian) and the here's the result of a bisect:

Guess that @dterrahe needs to have a look at this.

Also the generated bt file:  [bt.dt.local.contrast.txt](https://github.com/darktable-org/darktable/files/4840957/bt.dt.local.contrast.txt)

[2020-06-27 17:27] jenshannoschwalm commented on #5643
Right. Although i am not sure whether this is the whole story.
1. You may avoid this crash by commenting the `dt_bauhaus_slider_set_hard_min` calls in bilat.c gui_init
2. There is an easier way to crash, just move the courseness slider to the very left.

[2020-06-27 17:52] jenshannoschwalm commented on #5636
Can't reproduce here on current fedora and nvidia graphics.

Although the code section you mentioned looks good. I guess the unresponsiveness is related to locking the database while importing for every image and that code does not have any suggestion for the os to switch thread (g_sleep). I will have a look ...

[2020-06-27 18:00] #5641 closed

[2020-06-27 18:05] dterrahe commented on #5643
Normally, gui_init is entered with darktable.gui->reset set to > 0
It seems that when a duplicate is made of a module, it is initialised _without_ darktable.gui->init being set. I think this is incorrect and wouldn't be surprised if this could cause problems in other gui_init functions. In this particular case, it means that value change handlers are called while widgets are being set up and those

[2020-06-27 18:25] jade-nl commented on #5643
@dterrahe , @jenshannoschwalm

The second way of making it crash (coarseness slider to the very left) only "works" if I turn off openCL in the preferences. With it turned on all works as expected.

It takes a long time before it crashes though, lot of *working*, some CPU activity* and about 15 or so secs later messages start to appear in the terminal quickly followed by a crash.

Here's the bt: [d

[2020-06-27 20:09] pitbuster commented on #5639
Color balance goes before filmic, so filmic own's desaturation helps avoid out of gamut colors. Maybe filmic resaturation could use finer steps, but at that point of the pipeline, there is little more to be done that be careful IMO.

[2020-06-27 21:02] dtorop commented on #5636
@jenshannoschwalm Thank you for trying to replicating and taking a look. That makes sense about DB locking and the active thread somehow grabbing all the resources (whether via sqlite or even some sort of run-away GList).

I wish I could make a reproducible report, as otherwise we're just left looking at the code and extrapolating -- and running the risk that this is external, e.g. a GTK bug, or s

[2020-06-27 21:45] ao2 opened #5649 "Unexpected/annoying window resize when interactive tool description is too long"
Hi.

**Describe the bug**

When the "on hover" description of an interactive tool is too long (for example the Italian text of shapes for the spot removal tool) it may not fit in the top panel; when the mouse goes over the tool and the description text is shown, the Darktable window end up changing its width to make room for the whole text, making interaction very annoying as the content that is b

[2020-06-28 03:35] paolodepetrillo commented on #5639
I had noticed the same thing with another image. The different "Preserve Chrominance" options seem to have a significant effect on how much out of gamut color occurs when increasing the saturation.

With my image tweaking the white balance seemed to help.. [this post](https://eng.aurelienpierre.com/2018/11/filmic-darktable-and-the-quest-of-the-hdr-tone-mapping/) on filmic says that:

[2020-06-28 05:32] Mark-64 commented on #5639
The point here is that v3 let you choose how to desaturate extreme luminance values while saturation of mid-tones is handled saparately, normally with the color balance module.
Instead, v4 puts to 0% the saturation of black and white no matter what and let the user choose resaturation of midtones inside filmic.
One could think the two approaches are equivalent and v4 should actually be better, but

[2020-06-28 10:35] aurelienpierre commented on #5639
Everything normal here. Whatever the saturation algo you use, it increases the probability of pusing color outside of gamut. Also, "out of gamut" is only relative to the color space you use as a reference. We already know that sRGB is much much smaller than your camera gamut, so it's no surprise that color will shrink at the end of the pipe. You should use Rec2020 as a gamut check reference, and s

[2020-06-28 10:41] coffeeandspaceships commented on #5644
Can you try this with 3.0.2 please?

WinTab32.dll (implicated in your crash) was not changed by KB4561600. KB4561600 is an update to Adobe Flash support and affects a very specific set of files directly related to Adobe Flash only, so it seems really unlikely this is the cause.

[2020-06-28 11:41] Mark-64 commented on #5639
Ok. I close then

[2020-06-28 11:41] #5639 closed

[2020-06-28 11:45] jenshannoschwalm commented on #5636
I don't think this is the perfect question :-)

The main "stopper" while importing is related to ensuring a **correct** history, there are many places where the database is modified without full safety via transactions :-( So we have protecting pre-image-mutexes (See #3201 and #3181 to get into this stuff). So while importing large sets of images we might end up in "masses of images" fighting for

[2020-06-28 11:50] jenshannoschwalm commented on #5291
@aurelienpierre i have again tried to reproduce without "success". Could you give more details how to reproduce or is the issue in-consistant? I would love to understand and tackle ...

[2020-06-28 12:51] klaus-muc opened #5652 "Noise profile for Sony RX100M6"
Hallo,

I like to contribute a noise profile for the Sony RX100M6

Regards
Klaus Duscher
[darktable-noiseprofile-20200625.tar.gz](https://github.com/darktable-org/darktable/files/4842263/darktable-noiseprofile-20200625.tar.gz)

[2020-06-28 12:55] AxelG-DE opened #5653 ""Range based" color picker sometimes causes odd results"
**Describe the bug**

I am talking about this tool:
![Screenshot_20200628_144804](https://user-images.githubusercontent.com/49004103/85947997-76cdae00-b94e-11ea-8814-a56b0888afb1.png)

Which in general is brilliant...

what sometimes happens is, partially or even worse completely, the things inside the range are NOT masked or not included in the mask (here I wanted to reduce the little bit too bri

[2020-06-28 13:12] musicinmybrain commented on #4452
This happened again, under exactly the circumstances I described in my last comment, except that this time I was running with [OpenCL enabled](https://ask.fedoraproject.org/t/guide-install-amdgpu-pro-opencl-in-fedora-32/7929), and the directory to be imported had seven JPG images and one PNG image. I still can’t reproduce this reliably.

The UI said “exporting 2 / 2 to file on disk” when the hang

[2020-06-28 13:20] rabauke commented on #5617
I think this is not to right place for reporting this.

The content of your google doc write up might be a useful contribution to the dt [faq](https://www.darktable.org/about/faq/). There is a special git repository for the dt web page, see

- https://github.com/darktable-org/dtorg/ and in particular
- https://github.com/darktable-org/dtorg/blob/master/content/pages/about/faq.md

You should edit t

[2020-06-28 13:25] elstoc commented on #5617
@paperdigits requested on IRC for this to be raised here

[2020-06-28 13:39] elstoc opened #5654 "parametric mask: issues with color pickers and narrow side panel"
When the right hand side panel is expanded fully (so that all controls are visible) the parametric mask color pickers seem to work pretty well.

However, when the panel is narrower, such that some of the mask's channels (e.g. 'g R G B H S L') are not visible there are a number of strange side-effects. The issues seem to start just before the 'B' channel becomes hidden (when shrinking the panel wid

[2020-06-28 13:39] jade-nl commented on #5643
@jenshannoschwalm

Merged your PR locally and tested it: Both issues are solved with this fix on my side.

I'm not knowledgable enough to comment on the *workaround* vs *other* discussion.

[2020-06-28 13:51] elstoc opened #5655 "parametric masks: "set range" color picker changes module parameters"
In the following example, I have discarded history and set the exposure slider in the exposure module to 0. I have switched on parametric masks

![Screenshot_2020-06-28_14-43-13](https://user-images.githubusercontent.com/9555491/85949271-b9db5180-b94d-11ea-948e-a5b261caca2e.png)

I click the 'set range from area' color picker and choose an area. I can't take a screenshot of this because as soon as

[2020-06-28 14:59] jade-nl commented on #5655
Confirmed.

Not as severe as shown by elstoc, but this should happen at all.

**Platform**
* darktable        : 3.1.0+2383~gc9ca6258d
* OpenCL installed : Yes (nvidia-opencl-common 440.82-1~bpo10+1)
* OpenCL activated : Yes
* Graphics card    : GeForce RTX 2060 SUPER7979 MiB
* Graphics driver  : nvidia (440.82)
* OS               : Linux (kernel 5.4.0-0.bpo.4-amd64)
* Distro           : Debian Bus

[2020-06-28 15:09] jade-nl commented on #5654
Confirmed and not limited to the above actions.

I can see this happening when:

* right side panel is wide enough for all text/options to be seen,
* use (left) colour picker to pick an area,
* resize the right hand panel (smaller/bigger doesn't matter) **OR** move cursor outside full screen (to second monitor in my case).

I cannot provide a screenshot (going outside the darktable area creates th

[2020-06-28 16:55] dtorop commented on #4298
There's some more work on this here: https://github.com/darktable-org/darktable/compare/master...dtorop:tether-histogram-fix

The good news is that this branch can display a histogram in print view. I know that's not the goal, but I still don't have a camera which can tether, so this is an approximation for testing. I'm curious how it works in tether view.

The bad news is that the histogram doesn

[2020-06-28 16:57] dtorop commented on #4298
Also, I believe that the histogram is now -- erroneously -- flipping the red/blue channels when it works from the 8-bit cached data! Something else to fix...

[2020-06-28 17:34] dtorop commented on #5636
That all makes sense. I'm glad you've been thinking/working this through.

Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz. The conf `worker_threads` is 8 (default for this system).

The test in this bug report is 100 directories, each containing 100 images. I see this problem here in my DB when importing a single, non-nested folder with 100+ images.

My memory is that this started going awry for me a f

[2020-06-28 17:37] TurboGit commented on #5655
I cannot reproduce, any step by step reproducer ? Maybe this needs a very specific set of actions ?

[2020-06-28 17:44] elstoc commented on #5655
It's pretty consistent for me. I've tried a few images. After selecting a range area, as soon as you alt-tab away from darktable or try to adjust the right-hand panel width the exposure and black level sliders change.

[2020-06-28 17:47] elstoc commented on #5655
The exposure settings look just like if I'd used the color picker on the main body of the exposure module. I suspect darktable is getting confused about which color picker is which.

[2020-06-28 17:49] TurboGit commented on #5654
Indeed, I can reproduce this one :( How is this possible ??? Why only when the side panel makes some icon non visible??

[2020-06-28 17:52] TurboGit commented on #5655
So probably a bad interaction with the new exposure compensation and some gui event refreshing the display.

[2020-06-28 17:53] TurboGit commented on #5655
Are you looking at this already ?

[2020-06-28 17:58] elstoc commented on #5655
Not apart from testing. I'm not sure how the color picker works. I see another possible issue with rgb curve - on this module the same (parametric mask) area selector seems to also display the range on the in-module histogram display (same as if I'd ctrl-clicked on the in-module GUI color picker).

[2020-06-28 18:00] elstoc commented on #5654
I know! Both this and the other related issue are really strange. I'm still thinking that the in-module color picker is using the area/point selected by the parametric mask color picker by mistake.

[2020-06-28 18:05] TurboGit commented on #5655
Ok, I'll try to have a look this week.

[2020-06-28 18:09] s5k6 commented on #5638
Hi.  I can confirm this problem with both,

    3.1.0+1949~g4468052b4
    3.1.0+2384~g2919f88a0

Ctrl-click *only* selects the image clicked on, and deselects all
previously selected images.

[2020-06-28 18:19] elstoc opened #5656 "parametric mask: "set range" color picker doesn't keep gradient slider area markers"
If I use the "set range" color picker in a parametric mask, it also shows the applicable range of the selected area on the input/output gradient sliders, which is very useful.

![Screenshot_2020-06-28_19-15-00](https://user-images.githubusercontent.com/9555491/85955023-bfe42900-b973-11ea-8364-7201fed601a7.png)

However, if I then manually move one of the sliders, this range is no longer shown

![S

[2020-06-28 18:46] TurboGit commented on #5655
Ok, I think I have it, it was trivial in fact. I'll PR in a minute.

[2020-06-28 18:50] paperdigits commented on #5617
Yes I did request this here. We should decide where it belongs, then I'll put it there.

On June 28, 2020 6:25:19 AM PDT, elstoc <notifications@github.com> wrote:

[2020-06-28 18:50] TurboGit commented on #5655
See #5657

[2020-06-28 18:59] RawConvert opened #5658 "dt crashed whilst using filmic4"
dt 3.1.0+2017~ga6c18e1b7-dirty       Ubuntu 18.04
core i7     32Gb memory     no vid card
I was adjusting the white and black sliders in the Scene tab and dt just disappeared.
I'd invoked dt from a Terminal window, the contents are attached.  I can't find the backtrace, perhaps TMP files are deleted on shutdown?
[dt crash in filmic4 28Jun2020.txt](https://github.com/darktable-org/darktable/files/4

[2020-06-28 19:12] RawConvert commented on #5366
everybody dance, do-do-dodo, clap your hands, clap your hands

[2020-06-28 19:43] elstoc commented on #5366
If you're trying to get a response you succeeded. I recommend you just use the scroll bar ;-)

Really though the best thing to do is to change the preference so that it doesn't scroll the panels by default and just scroll by hovering over the scroll bar and scrolling your mouse - you don't have to grab and drag it. Using scroll to change values is much more useful anyway because then you can use t

[2020-06-28 23:45] hatsunearu commented on #5625
So I've done a really deep dive on this. First of all, when you do this, you push the picture WAYYYY out of the L*a*b* gamut. This seems to cause a lot of issues down the pipe. I think the error is not with S&H, but with the way the output picture is rendered.

My evidence for this is in the "input color profile", if you switch on "gamut clipping", the weird non-monotonicity disappears. My guess i

[2020-06-29 05:52] #5655 closed

[2020-06-29 05:58] #5643 closed

[2020-06-29 07:31] dterrahe commented on #5656
@elstoc I'd been thinking that it would be useful to switch from the right color picker, which _sets_ the mask, to the left, which just shows the results for the selected range. Or to have the ranges connected. This would be a bit fiddly and probably lead to confusion, unless done really well. Implementation wise also not that trivial, but there must be a way to do it once we've decided on what th

[2020-06-29 07:39] timur-davletshin opened #5660 "Unify formatting of similar strings across modules"
In order to create more logical UI and ease understanding of editing process I believe we need to unify formatting of similar strings.

__filmic rgb:__
- structure/texture
- bloom/reconstruct
- grey/colorful details
- shadow/highlights details
- middle tones

__color contrast:__
- green vs magenta
- blue vs yellow

__color balance:__
- lift / offset
- gamma / power
- gain / slope
- mid-tones

__co

[2020-06-29 07:49] timur-davletshin commented on #5660
Probably it is better to avoid using of "/" in strings like "green/red", it creates potential problem in preferences → shortcuts ("/" is treated as separator). See how color lookup tries to overcome this problem in shortcuts (compare with same idea in color contrast).

[2020-06-29 07:52] elstoc commented on #5656
Exactly what I was going to suggest.

[2020-06-29 07:54] elstoc commented on #5654
Resolved by #5657.

[2020-06-29 07:54] #5654 closed

[2020-06-29 08:02] dterrahe commented on #5656
Something to look at for 3.4...

[2020-06-29 17:16] jenshannoschwalm opened #5662 "Incorrect re-import of almost fresh duplicates"
**Describe the bug**
Reimport of minimally developed images fail

**To Reproduce**
1. Take a raw, discard history. Observe the the +/- icon in lighttable is not visible.
2. Open image in raw to do a first develop and apply presets. Please note that the +/- icon is still absent.
3. create a duplicate "with same history". Still no +/- icons, group is activated. The corresponding sidecars are
[L10004

[2020-06-29 21:06] elstoc opened #5664 "duplicate manager not updated when image size changes"
If I edit a duplicated image with both the left and right panel expanded and then click on the duplicate image in the duplicate module, that image displays correctly:

![Screenshot_2020-06-29_22-02-50](https://user-images.githubusercontent.com/9555491/86055852-5ab43480-ba54-11ea-94c1-79d5fc0ff510.png)

If I collapse the right hand panel and click the duplicate image again, it retains its former si

[2020-06-30 01:42] hatsunearu commented on #3756
Just ran into this issue. Are there any workarounds?

[2020-06-30 02:01] hatsunearu opened #5669 "FR: Have a way to disable modules from running on OpenCL"
**Is your feature request related to a problem? Please describe.**
Considering issues like #3756, I feel that a global "turn off all OpenCL" is not too fine grained enough. I'm wondering if it is possible to blacklist certain problematic modules from running on OpenCL.

**Describe the solution you'd like**
A button in the preset menu that has a check mark that lets you blacklist a module from runn

[2020-06-30 02:06] hatsunearu commented on #5660
As a dual-lingual person, I must add that vs. is not a common term in some languages, and that there might not be a good replacement for that. Whereas a symbolic separator like `/` is quite common.

[2020-06-30 11:10] AxelG-DE commented on #4880
@aurelienpierre id that bot a bit over nervous? Issue from May 1st get no-issue-activity already 21st June? (9 days ago today)

[2020-06-30 11:41] jenshannoschwalm commented on #5662
I did further testing, not sure yet about the underlying trigger but for sure when `read_history_v2` get's the data to be analysed the history items are not read/available.
@TurboGit i really geuss this is a release stopper, @elstoc i think you worked on duplicates history, any good guess?

[2020-06-30 11:50] elstoc commented on #5662
@jenshannoschwalm I think the only thing I've done that might relate to this is to fix an issue whereby sometimes an extra version of an image was being created by darktable when re-importing where the xmp version numbers don't start at 1 (fixing #4385 via #4571). I'm not sure that fix touches any of the things you're referring to.

[2020-06-30 13:55] mtedaldi commented on #5625
Wow. Thank you! Awesome that you go to so much effort to fix something that only occurs because I used the tools in a completely wrong way!

[2020-06-30 13:58] hatsunearu commented on #5625
No problem. That was an insane deep dive. Don't close this yet though. When the PR is merged it will close automatically.

[2020-06-30 14:07] musicinmybrain commented on #4452
Happened again. Same circumstances except it hung “exporting 1 / 2” and the second image was not exported this time. All XMPs in the import directory (previously devoid of XMPs) were still created. Here’s the
[backtrace](https://github.com/darktable-org/darktable/files/4852344/gdb.txt).

Still not reliably reproducible, but frequent enough that I am going to try a fresh `~/.config/darktable` and c

[2020-06-30 17:56] TurboGit commented on #5662
I'll have a look at this.

[2020-06-30 17:58] bigntallmike opened #5673 "Parallel thumbnail generation"
Generating thumbnails for an import of 8000 photos is incredibly slow and appears to be single-threaded, even when running darktable-generate-cache manually.

It would be really helpful if I could run darktable-generate-cache across all the cores in my CPU to process thumbnails that much faster.

[2020-06-30 18:32] TurboGit commented on #5662
Looks like the XMP of the duplicate gets cleared before it is read in exif.cc :(

[2020-06-30 18:41] coffeeandspaceships commented on #5669
Can you give an example of a problematic module? In the forthcoming 3.2 there is now a test suite to help with the risk that OpenCL results and CPU results might differ, and any new modules will have to pass this test. There's been quite a bit of troubleshooting of existing modules as @ralfbrown works through improving performance.

I guess this might be a good feature to have until all OpenCL reg

[2020-06-30 18:55] dtorop opened #5674 "duplicate of an image can have version number of 0"
**Describe the bug**
It is possible to duplicate an image such that the version of the duplicate is 0.

**To Reproduce**
1. Select a freshly imported image
2. Go to darkroom view
3. Expand "duplicate manager"
4. Click "create a duplicate with same history stack"
5. Expand "image information" -- verify that you are now editing a duplicate with version 1
6. Click "create a duplicate with same histor

[2020-06-30 19:11] elstoc commented on #5674
I think this is just an issue with the image information module not updating correctly. I get this issue but if I exit darktable and reopen, the version number is correct.

[2020-06-30 19:25] dtorop commented on #5674
Yes, I see that now as well. This is something I could look at fixing, but if there are others who have spent more time with that code, I'm also happy to hand it off.

[2020-06-30 19:46] pitbuster opened #5675 "Tone Equalizer Mask slider labels reversed"
I noticed that the slider labels for **mask contrast compensation** and **mask exposure compensation** are reversed from what I recall, but the tooltips and the functionality is right (that is, If I move the top slider I change the exposure compensation, not the contrast)

![image](https://user-images.githubusercontent.com/650365/86170021-84b73680-bae8-11ea-80a9-a5241f91c0f6.png)

I am using the l

[2020-06-30 19:48] hatsunearu commented on #5669
#3756 is a great example. It's an upstream issue that AMD is pretty much saying "whatever lol" and we can't workaround here, except my proposal which is a user-defined blacklist of modules.

And I wouldn't give a damn if it were some deprecated thing like tone mapping but it's local contrast which is very popular.

[2020-06-30 19:53] elstoc commented on #5675
@dterrahe I think this might be another introspection issue

[2020-06-30 19:55] Nilvus commented on #5593
@TurboGit or @aurelienpierre: to be closed as it's not an issue and help is done.

[2020-06-30 20:00] hatsunearu commented on #5658
Can you reproduce again, and maybe collect the core file as well?

https://stackoverflow.com/questions/17965/how-to-generate-a-core-dump-in-linux-on-a-segmentation-fault

[2020-06-30 20:12] jenshannoschwalm commented on #5662
It's not "cleared" i think but parts of it seem to be lost. Is it `read_metadata_threadsafe` ?

[2020-06-30 20:14] jenshannoschwalm commented on #5662
I am really surprised about this bug and how it was introduced. Here i can't import **any** sidecar defined duplicate at all any more.

[2020-06-30 20:27] TurboGit commented on #5662
I found the issue and I'm actually devising the best/safest possible fix for 3.2.

[2020-06-30 20:33] coffeeandspaceships commented on #5669
Great point. I'd forgotten how fragile some of the OpenCL drivers are in *unpredictable* ways that neither the poor customer who bought that card or the darktable team can have any control over!

In fact this might even help with the block list for certain cards; instead of blocking a card because it misbehaved once on one person's machine, the source tree could still maintain a block list but you

[2020-06-30 20:39] hatsunearu commented on #5669
Tell me about it... ROCm sucks for anything other than ML. AMD dropped support for using the CPU as an OpenCL device too.

Probably a good idea--making an auto block list would be cool, but that's kind of a feature creep. A manual block mechanism would be good enough to be honest.

I mean, just think about how complex that would have to be, it would have to read what device it is using, what drive

[2020-06-30 20:42] TurboGit commented on #5662
Should be fixed in #5676. Can you test on your side? TIA.

[2020-06-30 20:45] elstoc commented on #5674
I'd just go for it if I were you.

[2020-06-30 20:47] #5675 closed

[2020-06-30 20:47] TurboGit commented on #5675
Fixed.

[2020-06-30 20:48] TurboGit commented on #5593
Closing!

[2020-06-30 20:48] #5593 closed

[2020-06-30 20:50] c-h-r-i-s-t-i-a-n commented on #5568
See also #4469 where I reported a similar problem.

[2020-06-30 20:54] coffeeandspaceships commented on #5673
Have you tried tuning the option "number of background threads" as described here?
https://darktable.gitlab.io/doc/en/core_options_cpu.html

Related: A default of 2 seems a little bit conservative for 2020... is this documentation accurate? If it is accurate could the default code to be changed to number-of-cores/2 or something?

[2020-06-30 20:54] TurboGit commented on #5662
I did not track down the first commit introducing this, but yes it was a nasty bug !

[2020-06-30 21:40] ptilopteri commented on #5568
I can open nef (raw) files from gimp using darktable if I move or rename ~/.config/darktable/luarc so it is not read.

there is apparently an lua file which is causing difficulty.

[2020-06-30 21:52] dtorop commented on #5674
A helpful clue! It looks to be a cache issue. I'm working on a PR.

[2020-06-30 22:06] elstoc commented on #5674
That's what I thought. I've seen something like this before when working on import.

[2020-06-30 22:13] dtorop commented on #5674
I appreciate it...

I noticed a couple other odd things:
- The change timestamp was being unset on the original image, not the changed image. I'll fix this.
- When a newly exported image is loaded, it has no change timestamp. But when that image is duplicated "with same history stack", the change timestamp of the duplicate is automatically set when the original's history stack is pasted on. Hence

[2020-07-01 03:34] dtorop commented on #4298
One more note -- I think the better solution may be to construct/run a preview pipe to generate histograms in tether mode. (And possibly even use the existing develop preview pipe.) Then it's just a matter of catching appropriate signals when an image has arrived from gphoto or the filmstrip changes. Either case would start the preview pipe. No other code refactoring would be needed. I'm not sure

[2020-07-01 05:32] jenshannoschwalm commented on #5673
Thumnail generation performance depends mainly on settings in (git master) "darktable preferences->lighttable", "don't use embedded preview" and "high quality thumb processing ...".
As thumbs processing uses the currently development status of all images it uses the processing pipeline. **This** is multithreaded all over!

[2020-07-01 13:23] bigntallmike commented on #5673
My 'number of background threads' is set to 8 and I have OpenCL as well.  Its 45 minutes to generate a full set of thumbnails from the command-line and unresponsively slow to do it in darktable.
"Don't use embedded preview JPEG" is off.
"Megabytes for thumbnail cache" is 2048.

[2020-07-01 14:19] ptilopteri opened #5682 "Circled arrow on crop-rotate menu aspect line no longer rotates image"
the icon displaying a circled arrow at the right end of the aspect line in the crop-rotate module no longer does a 90° rotation.

openSUSE Tumbleweed 20200628
NVIDIA GF106 [GeForce GTS 450], 390.138
darktable-3.1.0~git2405.08c1dcd75
OpenCL on
i7 12-core 36GB

[2020-07-01 14:35] elstoc commented on #5682
This icon has never rotated the _image_ just the crop guides.

I can't see the issue on 3.1.0+2405~g08c1dcd75 on ArchLinux.

What aspect ratio are you using? Could you provide some more details of how to reproduce?

[2020-07-01 14:45] ptilopteri commented on #5682
Then I am mistaken and old memory has failed me :(

same version compiled from git on openSUSE Tumbleweed.

freehand or original

I remember <right><click> on icon and being able to affect 90° left or right

if my memory is wrong, I will or you can close this issue.

[2020-07-01 15:07] elstoc commented on #5682
The orientation module allows you to rotate the image 90 degrees left/right - perhaps that's what you're thinking of. With the crop&rotate module you can flip the image (mirror) using the 'flip' drop-down. You can rotate the image but you'd need to use the 'angle' slider' to do that.

The icon by the aspect drop-down should only change the orientation of the crop guides (portrait->landscape) and I

[2020-07-01 15:26] nixwieweg opened #5684 "Sony A9 II (ILCE-A9M2) noise profile support"
I have generated the noise profile for Sony A9 II (ILCE-9M2). Please verify and integrate with newer version of darktable. Thanks!
[darktable-noiseprofile-20200701.tar.gz](https://github.com/darktable-org/darktable/files/4858743/darktable-noiseprofile-20200701.tar.gz)

[2020-07-01 16:34] AlicVB commented on #5638
@junkyardsparkle @s5k6 so I think that I'll need to annoy you again to do some tests for me...
can you please add this in the code :
- `printf("button release %d\n", event->state);` in dtgtk/thumbnail.c before line 668
- `printf("toggle %d\n", imgid);` in common/selection.c line 232
- `printf("toggle exist %d\n", exists);` in common/selection.c line 242

then check what messages are shown on termi

[2020-07-01 16:36] ptilopteri commented on #5682
must be misrememberedddd, closing

[2020-07-01 16:36] #5682 closed

[2020-07-01 17:01] junkyardsparkle commented on #5638
I'll do the debug build shortly, hopefully within an hour. Not an annoyance. :-)

[2020-07-01 17:58] timur-davletshin opened #5686 "tone equalizer → add keyboard/mouse hints"
Add keyboard/mouse hints (just like other modules do) on top of the image for tone equalizer module.

[2020-07-01 17:59] junkyardsparkle commented on #5638
@AlicVB I get same output as yours but with 260 instead of 276 for the button release.

[2020-07-01 18:13] junkyardsparkle commented on #5638
I just noticed another odd little thing while paying attention to clicking behavior and Image IDs: in the image information window in the left panel, the information follows the mouse hover, but when I click on a thumbnail *with zero pointer movement* (probably hard to do with a mouse) the information changes to that of the previously selected image... slightly moving the pointer (a "hover" event)

[2020-07-01 18:53] AlicVB commented on #5638
that's weird : that means that we are exactly the right thing to add the image to the selection... So the problem comes from elsewhere...
I'll have to think to some other debugging idea...

Just to be sure : it's not a refreshing problem : if you scroll until you hide completely the selected thumbnails and scroll back, you still have the wrong selection ?

For the second problem, I can't reproduce

[2020-07-01 18:56] jenshannoschwalm opened #5687 "For selected history copy&paste the Ctrl-Shft-V is broken"
**Describe the bug**
Copy selected history from one image and paste parts of it (Ctrl-Shift-V). Darktable hangs now.

**To Reproduce**
If you do this on the console it shows
```[image_cache_allocate] failed to open image 65408928 from database: no more rows available```

**Expected behavior**
Should just work :-)

**Platform:**
 - Darktable Version: todays master git
 - OS: Fedora 32

**Additional

[2020-07-01 19:09] junkyardsparkle commented on #5638
The 260 vs. 276 isn't significant?

Yes, nothing changes. The refreshing takes place with a Ctrl+click, it's just that the result is exactly the same as a normal click event.

I've never had any similar issues before (over too many years to count), but when I get a chance I'll try with Xfce... I don't have Gnome (or KDE) installed on the system. Maybe @s5k6 and I can narrow down things that are co

[2020-07-01 19:18] elstoc commented on #5687
What view is this in? The lighttable view shortcuts aren't necessarily the same as the darkroom ones.